datarobotfactory/flows/Anticimex devices to Kafka.txt
[{"id":"79c63c2a.4633f4","type":"subflow","name":"robot monitor 8","info":"","in":[{"x":60.60003662109375,"y":199.60000610351562,"wires":[{"id":"931184ee.801f28"}]}],"out":[{"x":634,"y":180,"wires":[{"id":"2960fc01.e45444","port":0}]}]},{"id":"931184ee.801f28","type":"switch","z":"79c63c2a.4633f4","name":"Is this flow enabled?","property":"start-stop","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":260,"y":200,"wires":[["7773d1c7.9deac","2960fc01.e45444"]]},{"id":"3551fc9.30ad404","type":"ui_switch","z":"79c63c2a.4633f4","name":"","label":"Stop/Start Robot:","group":"b736110a.0264f","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":790,"y":438,"wires":[["2d749a83.8e2086","6c36ee9a.b56e3"]]},{"id":"2d749a83.8e2086","type":"change","z":"79c63c2a.4633f4","name":"Enable / Disable this flow","rules":[{"t":"set","p":"start-stop","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"emailSent","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1043,"y":407,"wires":[[]]},{"id":"5e52ce58.456ca","type":"ui_gauge","z":"79c63c2a.4633f4","name":"Operating Sensors","group":"b736110a.0264f","order":1,"width":0,"height":0,"gtype":"gage","title":"{{msg.gaugeLabel}}","label":"%","format":"{{msg.availableSensors}}","min":0,"max":"100","colors":["#ca3838","#e6e600","#00b500"],"seg1":"33","seg2":"66","x":910,"y":905,"wires":[]},{"id":"1fea4fa9.23b16","type":"ui_text","z":"79c63c2a.4633f4","group":"b736110a.0264f","order":4,"width":0,"height":0,"name":"","label":"Last Run:","format":"{{msg.lastrun}}","layout":"row-spread","x":1208,"y":565,"wires":[]},{"id":"8aabcd71.ab8a7","type":"comment","z":"79c63c2a.4633f4","name":"Flow to monitor robot","info":"","x":140,"y":129,"wires":[]},{"id":"b1fdf784.cacec8","type":"comment","z":"79c63c2a.4633f4","name":"Stop / Start robot monitor","info":"","x":385,"y":377,"wires":[]},{"id":"8c30fcb4.f3123","type":"comment","z":"79c63c2a.4633f4","name":"Calculate percentage of operating sensors","info":"","x":433,"y":863,"wires":[]},{"id":"4050570a.c3f7e8","type":"comment","z":"79c63c2a.4633f4","name":"Flow for logging and error handling","info":"","x":180,"y":1195,"wires":[]},{"id":"b18fe7fc.4936d8","type":"switch","z":"79c63c2a.4633f4","name":"Is notification enabled?","property":"notification","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":309.00000381469727,"y":1250,"wires":[["7468fc26.97cd84"]]},{"id":"95862cba.5475e","type":"ui_switch","z":"79c63c2a.4633f4","name":"Notification","label":"Notification:","group":"b736110a.0264f","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":770,"y":745,"wires":[["56ed615.a9a03a","2049e38e.6acd1c"]]},{"id":"56ed615.a9a03a","type":"change","z":"79c63c2a.4633f4","name":"Enable / Disable notification","rules":[{"t":"set","p":"notification","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":996,"y":718,"wires":[[]]},{"id":"b423ae0b.b149c","type":"catch","z":"79c63c2a.4633f4","name":"","scope":null,"x":101.00000381469727,"y":1250,"wires":[["b18fe7fc.4936d8"]]},{"id":"3bdaa022.b0557","type":"e-mail","z":"79c63c2a.4633f4","server":"localhost","port":"25","secure":false,"name":"","dname":"Send error mail","x":781.0000038146973,"y":1250,"wires":[]},{"id":"7468fc26.97cd84","type":"function","z":"79c63c2a.4633f4","name":"Prepare error email","func":"// Only create one user notification\nif(flow.get('mailSent')){\n    return null;\n} else {\n\n    msg.to = 'mail@to.dk';\n    msg.from = 'mail@from.dk';\n    msg.topic = 'Error in robot monitor for flow: Anticimex devices to Kafka';\n    \n    if(msg.error && msg.error.message){\n        msg.payload = '<p style=\"font-family: Trebuchet MS;\">The following error was thrown:</p>';\n        msg.payload += '<p style=\"font-family: Trebuchet MS;\">' + msg.error.message + '</p>';\n        if(msg.error.source){\n            msg.payload += '<p style=\"font-family: Trebuchet MS;\"><b>Source:</b>';\n            if(msg.error.source.id) msg.payload +=   '<li style=\"font-family: Trebuchet MS;\">Id: ' + msg.error.source.id + '</li>';\n            if(msg.error.source.type) msg.payload += '<li style=\"font-family: Trebuchet MS;\">Type: ' + msg.error.source.type + '</li>';\n            if(msg.error.source.name) msg.payload += '<li style=\"font-family: Trebuchet MS;\">Name: ' + msg.error.source.name + '</li>';\n            msg.payload += '</p>';\n        }\n        msg.payload += '<p><a href=\"http://localhost:1898/ui\" target=\"_blank\">Goto dashboard...</a></p>';\n    }\n    flow.set('mailSent', true);\n    return msg;\n}","outputs":1,"noerr":0,"x":559.0000038146973,"y":1250,"wires":[[]]},{"id":"9b2e1d5d.c2bdf","type":"ui_text","z":"79c63c2a.4633f4","group":"b736110a.0264f","order":3,"width":0,"height":0,"name":"","label":"Interval:","format":"{{msg.interval}}","layout":"row-spread","x":1209,"y":522,"wires":[]},{"id":"2b242e76.1b4bd2","type":"http in","z":"79c63c2a.4633f4","name":"","url":"/anticimex_log","method":"get","upload":false,"swaggerDoc":"","x":128.00000381469727,"y":1377,"wires":[["f6a627c6.d66538"]]},{"id":"28fdf5b9.088baa","type":"http response","z":"79c63c2a.4633f4","name":"","statusCode":"","headers":{},"x":762.0000038146973,"y":1377,"wires":[]},{"id":"f6a627c6.d66538","type":"file in","z":"79c63c2a.4633f4","name":"","filename":"/usr/src/node-red/hepwat.log","format":"utf8","chunk":false,"sendError":false,"x":368.00000381469727,"y":1377,"wires":[["3a666edb.7b7912"]]},{"id":"3a666edb.7b7912","type":"function","z":"79c63c2a.4633f4","name":"Format log data","func":"msg.payload = msg.payload.replace(/\\n/gm,'<br>');\nreturn msg;","outputs":1,"noerr":0,"x":599.0000038146973,"y":1377,"wires":[["28fdf5b9.088baa"]]},{"id":"4e97f6a1.8b5b98","type":"comment","z":"79c63c2a.4633f4","name":"Flow for viewing log file","info":"","x":138.00000381469727,"y":1328,"wires":[]},{"id":"7773d1c7.9deac","type":"postgrestor","z":"79c63c2a.4633f4","name":"Update Last Run","query":"-- Update last run for Sensor Object Nodes\nUPDATE public.sensor_object_nodes\nSET lastrun = to_timestamp({{{msg.payload.timestamp}}} * 0.001), lastvalue = {{{msg.payload.value}}} \nWHERE (sensor_object_node_key = {{{msg.payload.hepwatDeviceId}}});\n","postgresDB":"dc164c84.21048","output":true,"outputs":1,"x":503,"y":228,"wires":[[]]},{"id":"2960fc01.e45444","type":"function","z":"79c63c2a.4633f4","name":"Cleanup","func":"delete msg.updateLastRun;\nreturn msg;","outputs":1,"noerr":0,"x":474,"y":180,"wires":[[]]},{"id":"341920f8.35729","type":"postgrestor","z":"79c63c2a.4633f4","name":"Select last run data","query":"SELECT sensor_object_node_key, interval, lastrun \nFROM public.sensor_object_nodes \nWHERE datasource_id = {{{msg.payload.dataSource.id}}};","postgresDB":"fa18b1a9.a1d1f","output":true,"outputs":1,"x":364,"y":1088,"wires":[["5c6e339e.19471c"]]},{"id":"5c6e339e.19471c","type":"function","z":"79c63c2a.4633f4","name":"Determine node status","func":"var StatusEnum = {\n    STATUS_OPERATING: 'Operating',\n    STATUS_STOPPED: 'Stopped',\n    STATUS_NO_SIGNAL: 'No signal'\n};\n\nvar i = 0;\nvar _updateStatus = '';\n\nfor ( i = 0; i < msg.payload.rows.length; i++ ) {\n  var _sensor_object_node_key = msg.payload.rows[i].sensor_object_node_key;\n  var _interval = msg.payload.rows[i].interval;\n  var _now = new Date().getTime();\n  var _status = null;\n  var _lastrun = null;\n  \n  if(msg.payload.rows[i].lastrun){\n      _lastrun = msg.payload.rows[i].lastrun.getTime()\n  }\n  \n  if(_lastrun){\n    var _timediff = _now - _lastrun;\n    if(_timediff < 2 * _interval){\n      _status = StatusEnum.STATUS_OPERATING;\n    }\n    else{\n      _status = StatusEnum.STATUS_STOPPED;\n    }\n  }\n  else{\n    _status = StatusEnum.STATUS_NO_SIGNAL;\n  }\n  _updateStatus += \"UPDATE public.sensor_object_nodes SET status = '\" + _status  + \"' WHERE (sensor_object_node_key = \" + _sensor_object_node_key + \");\"; \n}\n\nmsg.updateStatus = _updateStatus;\n\nreturn msg;","outputs":1,"noerr":0,"x":586,"y":1088,"wires":[["ba8c471c.b603a8"]]},{"id":"ba8c471c.b603a8","type":"postgrestor","z":"79c63c2a.4633f4","name":"Update node status","query":"{{{msg.updateStatus}}}\n","postgresDB":"fa18b1a9.a1d1f","output":true,"outputs":1,"x":816,"y":1088,"wires":[[]]},{"id":"b281ba95.6748e8","type":"postgrestor","z":"79c63c2a.4633f4","name":"Query Sensor Data","query":"{{{msg.sqlStatements}}}","postgresDB":"fa18b1a9.a1d1f","output":true,"outputs":1,"x":549,"y":924,"wires":[["ac52c9f6.13f488"]]},{"id":"5b0548b5.48fff8","type":"function","z":"79c63c2a.4633f4","name":"Get sensor data","func":"var i;\nvar sqlStatements = '';\n\n// Count number of operating sensors\nsqlStatements = \"SELECT count(*) FROM public.sensor_object_nodes WHERE datasource_id = \" + msg.payload.dataSource.id + \" AND status = 'Operating';\";\n\n// Count total number of sensors\nsqlStatements += \"SELECT count(*) FROM public.sensor_object_nodes WHERE datasource_id = \" + msg.payload.dataSource.id + \";\";     \n\nmsg.sqlStatements = sqlStatements;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":354,"y":924,"wires":[["b281ba95.6748e8"]]},{"id":"ac52c9f6.13f488","type":"function","z":"79c63c2a.4633f4","name":"Calculate","func":"var allSensors = msg.payload.rows[1].count;\nvar operatingSensors = msg.payload.rows[0].count;\nvar availableSensors;\nvar dataSource = flow.get('dataSource');\n\n// secondsAlive = (Date.now() - flow.get('tsRobotStarted')) * 0.001;\n// node.log(\"secondsAlive = \" + secondsAlive.toFixed(2));\n\nif(allSensors && allSensors > 0 ){\n    availableSensors = Math.round((operatingSensors / allSensors) * 100);\n    if(availableSensors === 0){\n        secondsAlive = (Date.now() - flow.get('tsRobotStarted')) * 0.001;\n        //node.log(\"secondsAlive = \" + secondsAlive.toFixed(2));\n        if(secondsAlive > 2){\n            node.error(\"No operating sensors are available!\", msg);\n        }\n    }\n}\n\nmsg.gaugeLabel = \"Operating Sensors \" + operatingSensors + \":\" + allSensors; \nmsg.availableSensors = availableSensors;\nmsg.payload = availableSensors;\n\nmsg.updateAvailability = \"UPDATE public.datasource SET availability = \" + msg.payload +\n                         \"WHERE datasource_id = \" + dataSource.id + \";\";\n                         \nreturn msg;\n","outputs":1,"noerr":0,"x":724,"y":924,"wires":[["5e52ce58.456ca","f28a1da7.c08aa"]]},{"id":"1a344d93.0e9c12","type":"postgrestor","z":"79c63c2a.4633f4","name":"Query Sensor Object Nodes","query":"SELECT sensor_object_node_key, name, description, status \nFROM public.sensor_object_nodes \nWHERE datasource_id = {{{msg.payload.dataSource.id}}} ORDER BY sensor_object_node_key;","postgresDB":"fa18b1a9.a1d1f","output":true,"outputs":1,"x":394,"y":566,"wires":[["62b6101d.f805d"]]},{"id":"62b6101d.f805d","type":"function","z":"79c63c2a.4633f4","name":"Device list","func":"var sensors = [];\nvar i;\nvar jsonText = \"\";\n\nfor ( i = 0; i < msg.payload.rows.length; i++ ) {\n  var _sensor_object_node_key = msg.payload.rows[i].sensor_object_node_key;\n  var _name = msg.payload.rows[i].name;\n  var _description = msg.payload.rows[i].description;\n  var _status = msg.payload.rows[i].status;\n  var data = _sensor_object_node_key;\n  var elem = {};\n  var label;\n  \n  label = _sensor_object_node_key + \" : \" + _description;\n  \n  elem[label] =  data;\n  sensors.push(elem);\n}\n\nmsg.options = sensors;\nreturn msg;","outputs":1,"noerr":0,"x":572,"y":612,"wires":[["3632cfb0.43f2f"]]},{"id":"45a10a08.ce9044","type":"postgrestor","z":"79c63c2a.4633f4","name":"Select operation data","query":"select interval, lastrun, status from public.sensor_object_nodes\nwhere sensor_object_node_key = {{{msg.payload}}};","postgresDB":"fa18b1a9.a1d1f","output":true,"outputs":1,"x":857,"y":613,"wires":[["eabd813b.15844"]]},{"id":"cca77129.875bb","type":"comment","z":"79c63c2a.4633f4","name":"Update sensor status in PostgreSQL","info":"","x":416,"y":1034,"wires":[]},{"id":"25eabcb3.643c54","type":"ui_text","z":"79c63c2a.4633f4","group":"b736110a.0264f","order":5,"width":0,"height":0,"name":"","label":"Sensor Status:","format":"{{msg.status}}","layout":"row-spread","x":1228,"y":605,"wires":[]},{"id":"3632cfb0.43f2f","type":"ui_dropdown","z":"79c63c2a.4633f4","name":"Dropdown","label":"","place":"Select sensor...","group":"b736110a.0264f","order":2,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":704.5,"y":565.6499633789062,"wires":[["45a10a08.ce9044"]]},{"id":"eabd813b.15844","type":"function","z":"79c63c2a.4633f4","name":"Change format","func":"msg.interval = \"\";\nmsg.lastrun = \"\";\nmsg.status = \"\";\n\nif(msg.payload.rows[0].interval && msg.payload.rows[0].interval > 0){\n    var interval = msg.payload.rows[0].interval;  // interval in milliseconds\n    var time;\n    var unit;\n\n    if (0 < interval && interval <= 60000){                // convert interval to seconds\n      time = interval / 1000;\n      unit = \" [sec]\";    \n    } else if (60000 < interval && interval <= 3600000) {  // convert interval to minutes\n      time = interval / 1000 / 60;\n      unit = \" [min]\";\n    } else if (3600000 < interval) {                       // convert interval to hours\n      time = interval / 1000 / 60 / 60;\n      unit = \" [hour]\";\n    } else {\n      time = \"\";\n      unit = \" [-]\";\n    }\n    \n    msg.interval = time + unit;\n}\nif(msg.payload.rows[0].lastrun){\n    //var localDate = msg.payload.rows[0].lastrun.toISOString();\n    var localDate = msg.payload.rows[0].lastrun.toLocaleString();\n    msg.lastrun = localDate;\n}\nif(msg.payload.rows[0].status){\n    msg.status = msg.payload.rows[0].status;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":566,"wires":[["1fea4fa9.23b16","9b2e1d5d.c2bdf","25eabcb3.643c54"]]},{"id":"a3fd931.42b047","type":"postgrestor","z":"79c63c2a.4633f4","name":"Select robot started data","query":"SELECT robot_started FROM public.datasource WHERE datasource_id = {{{msg.payload.dataSource.id}}}","postgresDB":"fa18b1a9.a1d1f","output":true,"outputs":1,"x":384,"y":438,"wires":[["983548bd.2556b8"]]},{"id":"44493b8.a5cd5c4","type":"postgrestor","z":"79c63c2a.4633f4","name":"Update robot status","query":"--UPDATE public.datasource \n--SET robot_started = {{{msg.payload}}} \n--WHERE datasource_id = {{{flow.get('dataSource').id}}};\n\n{{{msg.updateRobotStarted}}}","postgresDB":"fa18b1a9.a1d1f","output":true,"outputs":1,"x":1162,"y":451,"wires":[[]]},{"id":"983548bd.2556b8","type":"function","z":"79c63c2a.4633f4","name":"Return status","func":"msg.payload = msg.payload.rows[0].robot_started;\nreturn msg;","outputs":1,"noerr":0,"x":592,"y":438,"wires":[["3551fc9.30ad404"]]},{"id":"2ed16e3.22f5d92","type":"postgrestor","z":"79c63c2a.4633f4","name":"Query notification status","query":"SELECT notification_on \nFROM public.datasource \nWHERE datasource_id = {{{msg.payload.dataSource.id}}};","postgresDB":"fa18b1a9.a1d1f","output":true,"outputs":1,"x":385,"y":745,"wires":[["be9bfa81.0d79f8"]]},{"id":"54292f0.19d36d","type":"postgrestor","z":"79c63c2a.4633f4","name":"Update notification status","query":"{{{msg.updateNotification}}}\n","postgresDB":"fa18b1a9.a1d1f","output":true,"outputs":1,"x":1127,"y":772,"wires":[[]]},{"id":"be9bfa81.0d79f8","type":"function","z":"79c63c2a.4633f4","name":"Return status","func":"msg.payload = msg.payload.rows[0].notification_on;\nreturn msg;","outputs":1,"noerr":0,"x":592,"y":745,"wires":[["95862cba.5475e"]]},{"id":"189ea34b.04ba1d","type":"comment","z":"79c63c2a.4633f4","name":"Get data for selected sensor from PostgreSQL","info":"","x":446,"y":511,"wires":[]},{"id":"df535b1e.054e88","type":"comment","z":"79c63c2a.4633f4","name":"Enable / Disable notification","info":"","x":396,"y":693,"wires":[]},{"id":"f28a1da7.c08aa","type":"postgrestor","z":"79c63c2a.4633f4","name":"Update availability","query":"--UPDATE public.datasource \n--SET availability = {{{msg.payload}}} \n--WHERE datasource_id = {{{flow.get('dataSource').id}}};\n\n{{{msg.updateAvailability}}}\n","postgresDB":"fa18b1a9.a1d1f","output":true,"outputs":1,"x":910,"y":948,"wires":[[]]},{"id":"2adc2fb4.e908","type":"comment","z":"79c63c2a.4633f4","name":"== REMEMBER TO CONFIGURE PAYLOAD AND REPEAT PROPERTY OF INJECT NODE ==","info":"","x":670,"y":40,"wires":[]},{"id":"6687805c.b841f","type":"function","z":"79c63c2a.4633f4","name":"Set dataSource","func":"flow.set('dataSource', msg.payload.dataSource);\nreturn msg;","outputs":1,"noerr":0,"x":123,"y":438,"wires":[["a3fd931.42b047","1a344d93.0e9c12","2ed16e3.22f5d92"]]},{"id":"89f3671c.676008","type":"inject","z":"79c63c2a.4633f4","name":"","topic":"","payload":"{\"dataSource\":{\"id\":1009}}","payloadType":"json","repeat":"21600","crontab":"","once":true,"onceDelay":"","x":92,"y":380,"wires":[["6687805c.b841f"]]},{"id":"6c36ee9a.b56e3","type":"function","z":"79c63c2a.4633f4","name":"sqlRobot","func":"// Update robot status in PostgreSQL\nvar dataSource = flow.get('dataSource');\n\nmsg.updateRobotStarted = \"UPDATE public.datasource SET robot_started = \" + msg.payload +\n                         \" WHERE datasource_id = \" + dataSource.id + \";\";\n                         \n// Reset notification counter\nflow.set('mailSent', false);\n\n// Timestamp for when robot is started\nif(msg.payload){\n    flow.set('tsRobotStarted', Date.now());\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":993.5,"y":450.5999755859375,"wires":[["44493b8.a5cd5c4"]]},{"id":"2049e38e.6acd1c","type":"function","z":"79c63c2a.4633f4","name":"sqlNotify","func":"var dataSource = flow.get('dataSource');\n\nmsg.updateNotification = \"UPDATE public.datasource SET notification_on = \" + msg.payload +\n                         \" WHERE datasource_id = \" + dataSource.id + \";\";\n\nreturn msg;","outputs":1,"noerr":0,"x":936,"y":773,"wires":[["54292f0.19d36d"]]},{"id":"790edf7f.fcf99","type":"comment","z":"79c63c2a.4633f4","name":"Flows to monitor functionality","info":"","x":160,"y":305,"wires":[]},{"id":"65056f0a.770f5","type":"function","z":"79c63c2a.4633f4","name":"Set dataSource","func":"flow.set('dataSource', msg.payload.dataSource);\nreturn msg;","outputs":1,"noerr":0,"x":126,"y":925,"wires":[["5b0548b5.48fff8","341920f8.35729"]]},{"id":"f9213de6.ee664","type":"inject","z":"79c63c2a.4633f4","name":"","topic":"","payload":"{\"dataSource\":{\"id\":1009}}","payloadType":"json","repeat":"43200","crontab":"","once":true,"onceDelay":"","x":93,"y":867,"wires":[["65056f0a.770f5"]]},{"id":"b736110a.0264f","type":"ui_group","z":"79c63c2a.4633f4","name":"Anticimex","tab":"5a450170.cff18","order":2,"disp":false,"width":"6"},{"id":"dc164c84.21048","type":"postgresDB","z":"","name":"@localhost:5432/hepwat","host":"localhost","port":"5432","database":"hepwat","ssl":false,"max":"100","min":1,"idle":"1000"},{"id":"fa18b1a9.a1d1f","type":"postgresDB","z":"","name":"@localhost:5432/hepwat","host":"localhost","port":"5432","database":"hepwat","ssl":false,"max":"100","min":1,"idle":"1000"},{"id":"5a450170.cff18","type":"ui_tab","z":"","name":"Anticimex","icon":"dashboard","order":1},{"id":"e7c2ce00.06458","type":"tab","label":"Anticimex devices to Kafka","disabled":false,"info":""},{"id":"24d10ce0.009014","type":"inject","z":"e7c2ce00.06458","name":"Start import","topic":"","payload":"{\"dataSource\":{\"id\":1009,\"name\":\"Anticimex Smart Devices\",\"url\":\"http://wiseplan.wisecon.dk/wiseplan/traps.html?cr=af%3A%241%24tDisYYd2%245wiTevBYcsmgu5OsLl2ul.&data&sep=%2C&nl=%0A&cs=1&hdr=1&typ=1\",\"description\":\"Anticimex Smart Devices\",\"authentification\":{\"type\":\"Cookie\"},\"rootTopic\":\"\",\"defaultInterval\":86400000,\"dashboard\":{\"url\":\"http://localhost:1898/ui\"}}}","payloadType":"json","repeat":"","crontab":"05 07 * * *","once":false,"onceDelay":"","x":124.00000762939453,"y":305.00000286102295,"wires":[["a6c1fcea.d13ea","d996cd00.6d9db"]]},{"id":"a6c1fcea.d13ea","type":"postgrestor","z":"e7c2ce00.06458","name":"Insert datasource","query":"INSERT INTO public.DATASOURCE (DATASOURCE_ID, NAME, URL, AUTHENTICATION_TYPE, DESCRIPTION, UPDATED, DASHBOARD_URL)\nVALUES (\n  {{{ msg.payload.dataSource.id }}}, \n '{{{ msg.payload.dataSource.name }}}', \n '{{{ msg.payload.dataSource.url }}}', \n '{{{ msg.payload.dataSource.authentification.type }}}', \n '{{{ msg.payload.dataSource.description }}}', \n LOCALTIMESTAMP,\n '{{{ msg.payload.dataSource.dashboard.url }}}')\nON CONFLICT (DATASOURCE_ID) DO UPDATE\nSET\n   NAME = '{{{ msg.payload.dataSource.name }}}',\n   URL = '{{{ msg.payload.dataSource.url }}}',\n   AUTHENTICATION_TYPE = '{{{ msg.payload.dataSource.authentification.type }}}',\n   DESCRIPTION = '{{{ msg.payload.dataSource.description }}}',\n   UPDATED = LOCALTIMESTAMP,\n   DASHBOARD_URL = '{{{ msg.payload.dataSource.dashboard.url }}}';\n","postgresDB":"776cfc38.92d154","output":false,"outputs":1,"x":386.0000991821289,"y":305.0000638961792,"wires":[["484a34a5.6f245c"]]},{"id":"3acecc71.a8ce04","type":"postgrestor","z":"e7c2ce00.06458","name":"Create or update Sensor Objects","query":"-- Insert or Update Sensor Object\nINSERT INTO public.SENSOR_OBJECT (DATASOURCE_ID, SENSOR_OBJECT_ID, NAME, DESCRIPTION, UPDATED, LOCATION, OGR_GEOMETRY)\nVALUES (\n {{{ msg.dataSourceId }}}, \n'{{{ msg.nodeId }}}', \n'{{{ msg.name }}}', \n'{{{ msg.description }}}', \nLOCALTIMESTAMP,\n'{{{ msg.location }}}',\nST_PointFromText('{{{ msg.wkt }}}', 25832)\n)\nON CONFLICT (DATASOURCE_ID, SENSOR_OBJECT_ID) DO UPDATE\nSET\n   NAME = '{{{ msg.name }}}',\n   DESCRIPTION = '{{{ msg.description }}}',\n   UPDATED = LOCALTIMESTAMP,\n   LOCATION = '{{{ msg.location }}}',\n   OGR_GEOMETRY = ST_PointFromText('{{{ msg.wkt }}}', 25832);","postgresDB":"776cfc38.92d154","output":false,"outputs":1,"x":1265,"y":365.00006103515625,"wires":[[]]},{"id":"ec0bb630.cfceb8","type":"postgrestor","z":"e7c2ce00.06458","name":"Create or update Sensor Object Nodes","query":"-- Insert or Update Sensor Object Nodes\nINSERT INTO public.sensor_object_nodes (\n    datasource_id, sensor_object_id, sensor_object_node_id, name, \n    description, datatype, nodedomain, readable, writeable, \"interval\", \n    updated, unit, nodetype)\nVALUES (\n     {{{ msg.dataSourceId }}}, \n    '{{{ msg.objectId }}}', \n    '{{{ msg.objectNodeId }}}', \n    '{{{ msg.name }}}', \n    '{{{ msg.description }}}', \n    '{{{ msg.dataType }}}', \n    '{{{ msg.nodeDomain }}}',\n     {{{ msg.readable }}}, \n     {{{ msg.writeable }}}, \n     {{{ msg.defaultInterval }}}, \n    LOCALTIMESTAMP,\n    '{{{ msg.unit }}}',\n     {{{ msg.nodeType}}}\n)\nON CONFLICT (DATASOURCE_ID, SENSOR_OBJECT_ID, SENSOR_OBJECT_NODE_ID) DO UPDATE\nSET\n   name = '{{{ msg.name }}}', \n   description = '{{{ msg.description }}}', \n   datatype = '{{{ msg.dataType }}}', \n   nodedomain = '{{{ msg.nodeDomain }}}',\n   readable = {{{ msg.readable }}}, \n   writeable = {{{ msg.writeable }}}, \n   \"interval\" = {{{ msg.defaultInterval }}}, \n   updated = LOCALTIMESTAMP,\n   unit = '{{{ msg.unit }}}',\n   nodetype = {{{ msg.nodeType}}};","postgresDB":"776cfc38.92d154","output":true,"outputs":1,"x":994,"y":464.00006103515625,"wires":[[]]},{"id":"d08abdba.5aa9","type":"comment","z":"e7c2ce00.06458","name":"Prepare and save metadata concerning Anticimex Devices","info":"","x":240,"y":237,"wires":[]},{"id":"41eebabb.f518b4","type":"delay","z":"e7c2ce00.06458","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":631,"y":562,"wires":[["8fadc238.ebb7"]]},{"id":"be616af.4158c98","type":"function","z":"e7c2ce00.06458","name":"Prepare subscriptions","func":"if (msg.payload && msg.payload.rows && msg.payload.rows.length > 0 ) {\n    \n    var _topicValues = flow.get('topicValues');\n    \n    _sId = 0;\n    for ( _sId = 0; _sId < msg.payload.rows.length; _sId++ ) {\n\n        var _msg = {};\n        _msg.key = msg.payload.rows[_sId].sensor_object_node_key;\n        _msg.nodeId = msg.payload.rows[_sId].sensor_object_node_id;\n        _msg.interval = msg.payload.rows[_sId].interval;\n        \n        var _topicValue = _topicValues[_msg.nodeId];\n        \n        if(_topicValue) {\n            // Replacing char 160 in date with normal white space\n            var _date = String(_topicValue.date).replace(/\\xA0/g,\" \");\n            \n            // Prepare payload for Kafka\n            _msg.payload = {\n                date: _date,\n                timestamp: (new Date(_date)).getTime(),\n                hepwatDeviceId: _msg.key,\n                value: parseFloat(_topicValue.value),\n                interval: _msg.interval\n            };\n    \n            node.send(_msg);\n        }\n    }\n}\nreturn null;","outputs":1,"noerr":0,"x":818,"y":672,"wires":[["958dc27b.3d1c7","ff8a1fc1.e3f86"]]},{"id":"520a2ae9.c615e4","type":"postgrestor","z":"e7c2ce00.06458","name":"Query Sensor Object Nodes","query":"SELECT sensor_object_node_id, sensor_object_node_key, datatype, \"interval\", nodedomain\nFROM public.sensor_object_nodes\nWHERE (datasource_id = {{{ msg.dataSource.id }}}) AND (readable = true);","postgresDB":"776cfc38.92d154","output":true,"outputs":1,"x":1058,"y":562,"wires":[["be616af.4158c98"]]},{"id":"2107503c.3bd9f","type":"sagofonto-kafka-producer","z":"e7c2ce00.06458","kafkaHost":"localhost:9092","connectTimeout":"10000","requestTimeout":"30000","requireAcks":"1","ackTimeoutMs":"100","partitionerType":"3","topicName":"raw-test-10","compressionOption":"0","x":1259.0001220703125,"y":672,"wires":[]},{"id":"63cb4d52.f44e94","type":"catch","z":"e7c2ce00.06458","name":"","scope":null,"x":122.10001754760742,"y":807.8001079559326,"wires":[["3063dc51.dec114"]]},{"id":"3063dc51.dec114","type":"function","z":"e7c2ce00.06458","name":"Prepare error email","func":"var outMsg = {\n    to: 'mail@to.dk',\n    from: 'mail@from.dk',\n    topic: 'Error in Node-Red flow: Anticimex devices to Kafka',\n};\n\nif(msg.error && msg.error.message){\n    outMsg.payload = '<p style=\"font-family: Trebuchet MS;\">The following error was thrown:</p>';\n    outMsg.payload += '<p style=\"font-family: Trebuchet MS;\">' + msg.error.message + '</p>';\n    if(msg.error.source){\n        outMsg.payload += '<p style=\"font-family: Trebuchet MS;\"><b>Source:</b>';\n        if(msg.error.source.id) outMsg.payload +=   '<li style=\"font-family: Trebuchet MS;\">Id: ' + msg.error.source.id + '</li>';\n        if(msg.error.source.type) outMsg.payload += '<li style=\"font-family: Trebuchet MS;\">Type: ' + msg.error.source.type + '</li>';\n        if(msg.error.source.name) outMsg.payload += '<li style=\"font-family: Trebuchet MS;\">Name: ' + msg.error.source.name + '</li>';\n        outMsg.payload += '</p>';\n    }\n    outMsg.payload += '<p><a href=\"http://localhost:1898\" target=\"_blank\">Goto flow...</a></p>';\n}\n\nreturn outMsg;","outputs":1,"noerr":0,"x":321.1000213623047,"y":807.5999736785889,"wires":[["2c0753f9.99ca5c"]]},{"id":"d9a8b2a4.5b65d","type":"e-mail","z":"e7c2ce00.06458","server":"localhost","port":"25","secure":false,"name":"","dname":"Send error mail","x":541,"y":807,"wires":[]},{"id":"f9958d1.ee9ca7","type":"comment","z":"e7c2ce00.06458","name":"Logging and error handling","info":"","x":149,"y":746,"wires":[]},{"id":"301215ce.70349a","type":"comment","z":"e7c2ce00.06458","name":"Read topics from database and produce data for Anticimex Devices","info":"","x":272,"y":512,"wires":[]},{"id":"296799ee.5b2c36","type":"sagofonto-log-backup","z":"e7c2ce00.06458","name":"","sourcePath":"/usr/src/node-red/","sourceFilename":"hepwat.log","destPath":"/usr/src/node-red/logs/","x":324,"y":868,"wires":[[]]},{"id":"7de13af4.db5d64","type":"inject","z":"e7c2ce00.06458","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 02 * * 1,3,5,0","once":false,"x":134,"y":868,"wires":[["296799ee.5b2c36"]]},{"id":"958dc27b.3d1c7","type":"subflow:79c63c2a.4633f4","z":"e7c2ce00.06458","name":"","x":1046,"y":672,"wires":[["2107503c.3bd9f"]]},{"id":"98c338f8.40a768","type":"csv to json ext","z":"e7c2ce00.06458","name":"","version":"0.1","source":"filename","delimiter":",","quote":"\"","escape":"\"","ignoreEmpty":false,"checkType":false,"trim":false,"noheader":false,"includeColumns":"","headers":"\"Type\",\"Name\",\"Remarks\",\"Serial number\",\"Address\",\"P.code\",\"Status\",\"Battery\",\"Moved\",\"Most recent poll\",\"Next poll\",\"Battery changed\",\"Counter reset\",\"Shots\",\"Last shot\",\"Temperature\",\"First trap activation\",\"Shots since activation\",\"Town/City\",\"Contact person\",\"Comments\",\"Note\",\"Shots here\",\"Moved on\",\"Latitude\",\"Longitude\",\"Trap country prefix\",\"Phone number\",\"PIR count\"","debug":false,"x":437.5,"y":412.6000061035156,"wires":[["f8826fc5.0e15c","8dcc6171.17cf3","41eebabb.f518b4"]]},{"id":"dbfeb76b.cb3738","type":"function","z":"e7c2ce00.06458","name":"Set file name","func":"flow.set('dataSource', msg.payload.dataSource);\nmsg.filename = '/usr/src/node-red/ftp_files/traps.csv';\nreturn msg;","outputs":1,"noerr":0,"x":275.5,"y":412.6000061035156,"wires":[["98c338f8.40a768"]]},{"id":"8dcc6171.17cf3","type":"function","z":"e7c2ce00.06458","name":"Create Sensor Object Nodes","func":"var dataSource = flow.get('dataSource');\nvar measurementType = flow.get('measurementType');\nvar i, j;\nvar _topic;\n\nvar sensorObject =  [];\nsensorObject.push({Id: \"Battery\"    , Type: measurementType[\"Batteristatus\"]   , Unit: \"%\"});\nsensorObject.push({Id: \"Shots\"      , Type: measurementType[\"Antal skud\"], Unit: \"\"});\nsensorObject.push({Id: \"Temperature\", Type: measurementType[\"Temperatur\"]      , Unit: \"°C\"});\n\nfor ( i = 2; i < msg.payload.length; i++ ) {\n    \n    for (j = 0; j < 3; j++){\n    \n        // Save measurement values in array with flow scope\n        _topic = msg.payload[i][\"Serial number\"] + \"_\" + sensorObject[j].Id;\n        var _topicValues = flow.get('topicValues');\n        if(_topicValues == null) _topicValues = {};\n        if(j == 0){\n            _topicValues[_topic] = {\n                date: msg.payload[i][\"Most recent poll\"],\n                value: msg.payload[i].Battery\n            };\n        }\n        if(j == 1){\n            // Some 'Last shot' dates are empty !!!\n            var lastShotDate;\n            if(msg.payload[i][\"Last shot\"]){\n                lastShotDate = msg.payload[i][\"Last shot\"];\n            } else {\n                lastShotDate = new Date('01-01-1970'); // !!!\n            }\n            _topicValues[_topic] = {\n                date: lastShotDate,\n                value: msg.payload[i].Shots\n            };\n        }\n        if(j == 2){\n            _topicValues[_topic] = {\n                date: msg.payload[i][\"Most recent poll\"],\n                value: msg.payload[i].Temperature\n            };\n        }\n        flow.set('topicValues', _topicValues);\n        \n        node.send({\n            dataSourceId: dataSource.id,\n            objectId: msg.payload[i][\"Serial number\"],\n            objectNodeId: msg.payload[i][\"Serial number\"] + \"_\" + sensorObject[j].Id,\n            name: msg.payload[i].Name.replace(/\\s/g, ''),\n            description: msg.payload[i].Type,\n            dataType: \"integer\",\n            nodeDomain: JSON.stringify(msg.payload[i]),\n            readable: true,\n            writeable: false,\n            defaultInterval: dataSource.defaultInterval,\n            unit: sensorObject[j].Unit,\n            nodeType: sensorObject[j].Type\n        });\n    }\n}\n\nreturn null;","outputs":1,"noerr":0,"x":691,"y":464,"wires":[["ec0bb630.cfceb8"]]},{"id":"8fadc238.ebb7","type":"function","z":"e7c2ce00.06458","name":"Get Data Source","func":"var dataSource = flow.get('dataSource');\nmsg.dataSource = dataSource;\n\n//msg.topicValues = flow.get('topicValues');\n\nreturn msg;","outputs":1,"noerr":0,"x":808.5,"y":562.5999755859375,"wires":[["520a2ae9.c615e4"]]},{"id":"f8826fc5.0e15c","type":"function","z":"e7c2ce00.06458","name":"Create Sensor Object","func":"var dataSource = flow.get('dataSource');\nvar i;\n\nfor ( i = 2; i < msg.payload.length; i++ ) {\n    node.send({\n        dataSourceId: dataSource.id,\n        nodeId: msg.payload[i][\"Serial number\"],\n        old_name: msg.payload[i].Name.replace(/\\s/g, ''),\n        name: msg.payload[i].Type,\n        description: msg.payload[i].Type,\n        sourceX: Number(msg.payload[i].Longitude),\n        sourceY: Number(msg.payload[i].Latitude),\n        sourceZ: 0.0\n    });\n}\n\nreturn null;\n","outputs":1,"noerr":0,"x":670.5,"y":412.6000061035156,"wires":[["8d83473c.b6b618"]]},{"id":"8d83473c.b6b618","type":"sagofonto-coord-transform","z":"e7c2ce00.06458","name":"Coord Trans","sourceX":"","sourceY":"","sourceZ":0,"x":841.5,"y":365.59999084472656,"wires":[["6403dc1f.7389b4"]]},{"id":"6403dc1f.7389b4","type":"function","z":"e7c2ce00.06458","name":"Postprocess data","func":"// Add location to sensor object\nif(msg.sourceX == 0 && msg.sourceY == 0 && msg.sourceZ == 0){\n    msg.location = \"\";\n    msg.wkt = 'POINT(0.00 0.00)';\n} else {\n    msg.location = msg.targetX.toFixed(2) + \" \" + msg.targetY.toFixed(2);\n    msg.wkt = 'POINT(' + msg.location + ')';\n}\n\n// Clean up\ndelete msg.sourceX;\ndelete msg.sourceY;\ndelete msg.sourceZ;\ndelete msg.targetX;\ndelete msg.targetY;\ndelete msg.targetZ;\ndelete msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":1002.5,"y":412.59999084472656,"wires":[["3acecc71.a8ce04","6bd26c03.769654"]]},{"id":"ff8a1fc1.e3f86","type":"debug","z":"e7c2ce00.06458","name":"","active":false,"console":"false","complete":"true","x":1017,"y":721,"wires":[]},{"id":"2c0753f9.99ca5c","type":"debug","z":"e7c2ce00.06458","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":531,"y":856,"wires":[]},{"id":"6bd26c03.769654","type":"debug","z":"e7c2ce00.06458","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1178,"y":412,"wires":[]},{"id":"a4426299.14181","type":"comment","z":"e7c2ce00.06458","name":"Download data file concerning Anticimex Devices","info":"","x":240,"y":40,"wires":[]},{"id":"c73a639b.b029c","type":"inject","z":"e7c2ce00.06458","name":"Start download","topic":"","payload":"{\"method\":\"GET\",\"url\":\"http://wiseplan.wisecon.dk/wiseplan/traps.html?cr=af%3A%241%24tDisYYd2%245wiTevBYcsmgu5OsLl2ul.&data&sep=%2C&nl=%0A&cs=1&hdr=1&typ=1\",\"cookies\":{\"PHPSESSID\":\"hdh9b4i5ui8krhkkm2algejqt4\",\"path\":\"/\",\"domain\":\"wiseplan.wisecon.dk\"}}","payloadType":"json","repeat":"","crontab":"00 07 * * *","once":false,"onceDelay":"","x":152,"y":159,"wires":[["ceab251e.733958"]]},{"id":"bdb28f3b.3a995","type":"file","z":"e7c2ce00.06458","name":"","filename":"/usr/src/node-red/ftp_files/traps.csv","appendNewline":true,"createDir":false,"overwriteFile":"true","x":964,"y":176,"wires":[]},{"id":"1b752ca8.f6d4d3","type":"debug","z":"e7c2ce00.06458","name":"","active":true,"console":"false","complete":"true","x":874,"y":136,"wires":[]},{"id":"ceab251e.733958","type":"sagofonto-log-backup","z":"e7c2ce00.06458","name":"File backup","sourcePath":"/usr/src/node-red/ftp_files/","sourceFilename":"traps.csv","destPath":"/usr/src/node-red/ftp_files/backup/","x":338,"y":159,"wires":[["b66f4ce0.b1a0a"]]},{"id":"789c916d.da4d3","type":"inject","z":"e7c2ce00.06458","name":"Step 1","topic":"","payload":"{\"method\":\"GET\",\"url\":\"http://wiseplan.wisecon.dk/wiseplan/traps.html?cr=af%3A%241%24tDisYYd2%245wiTevBYcsmgu5OsLl2ul.&data&sep=%2C&nl=%0A&cs=1&hdr=1&typ=1\"}","payloadType":"json","repeat":"","crontab":"50 06 * * *","once":false,"onceDelay":"","x":526,"y":27,"wires":[["c61d84c2.dab8c8"]]},{"id":"1018e0d1.0fce6f","type":"function","z":"e7c2ce00.06458","name":"Set cookie","func":"var _cookie =msg.headers['set-cookie'][0];\n\n//msg.cookies = _cookie;\n\nflow.set('cookies', {\n        \"PHPSESSID\":  _cookie.split(\";\")[0].split(\"=\")[1],\n        \"expires\": _cookie.split(\";\")[1].split(\"=\")[1],\n        \"path\": _cookie.split(\";\")[2].split(\"=\")[1]\n    });\n\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":27,"wires":[[]]},{"id":"c61d84c2.dab8c8","type":"function","z":"e7c2ce00.06458","name":"Request cookie","func":"\n_msg = {\n    url: msg.payload.url\n};\n\nreturn _msg;\n","outputs":1,"noerr":0,"x":678,"y":27,"wires":[["bab77242.a81f3"]]},{"id":"c81a3b79.8fc798","type":"http request","z":"e7c2ce00.06458","name":"","method":"use","ret":"txt","url":"","tls":"","x":719,"y":159,"wires":[["1b752ca8.f6d4d3","bdb28f3b.3a995"]]},{"id":"b66f4ce0.b1a0a","type":"function","z":"e7c2ce00.06458","name":"Second file request","func":"msg.url = msg.payload.url;\nmsg.method = msg.payload.method;\nmsg.cookies = flow.get(\"cookies\");\n\nreturn msg;\n","outputs":1,"noerr":0,"x":537,"y":159,"wires":[["c81a3b79.8fc798"]]},{"id":"5f694d04.4f4814","type":"http request","z":"e7c2ce00.06458","name":"","method":"use","ret":"txt","url":"","tls":"","x":856,"y":87,"wires":[[]]},{"id":"41bfc14a.994f5","type":"inject","z":"e7c2ce00.06458","name":"Step 2","topic":"","payload":"{\"method\":\"GET\",\"url\":\"http://wiseplan.wisecon.dk/wiseplan/traps.html?cr=af%3A%241%24tDisYYd2%245wiTevBYcsmgu5OsLl2ul.&data&sep=%2C&nl=%0A&cs=1&hdr=1&typ=1\"}","payloadType":"json","repeat":"","crontab":"55 06 * * *","once":false,"onceDelay":"","x":526,"y":87,"wires":[["af710590.708ec8"]]},{"id":"af710590.708ec8","type":"function","z":"e7c2ce00.06458","name":"First file request","func":"msg.url = msg.payload.url;\nmsg.method = msg.payload.method;\nmsg.cookies = flow.get(\"cookies\");\n\nreturn msg;","outputs":1,"noerr":0,"x":678,"y":87,"wires":[["5f694d04.4f4814"]]},{"id":"bab77242.a81f3","type":"www-request","z":"e7c2ce00.06458","name":"","method":"GET","ret":"txt","url":"","follow-redirects":true,"tls":"","x":857,"y":27,"wires":[["1018e0d1.0fce6f"]]},{"id":"484a34a5.6f245c","type":"postgrestor","z":"e7c2ce00.06458","name":"Query measurement type","query":"SELECT * FROM config_measurement_type ORDER BY id;","postgresDB":"67b7c08.2aae74","output":true,"outputs":1,"x":623,"y":305,"wires":[["e1e57639.d8a9a8"]]},{"id":"e1e57639.d8a9a8","type":"function","z":"e7c2ce00.06458","name":"Set measurement type","func":"var _measurementType = {};\n\nfor(i=0; i<msg.payload.rows.length; i++){\n    _measurementType[msg.payload.rows[i].name] = msg.payload.rows[i].id;\n}\n\nmsg.measurementType = _measurementType;\n\nflow.set(\"measurementType\", _measurementType);\n\nreturn msg;\n//return null;","outputs":1,"noerr":0,"x":862,"y":305,"wires":[["435d5eaf.25ae9"]]},{"id":"435d5eaf.25ae9","type":"debug","z":"e7c2ce00.06458","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1063,"y":305,"wires":[]},{"id":"d996cd00.6d9db","type":"delay","z":"e7c2ce00.06458","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":210,"y":360,"wires":[["dbfeb76b.cb3738"]]},{"id":"776cfc38.92d154","type":"postgresDB","z":"","name":"@localhost:5432/hepwat","host":"localhost","port":"5432","database":"hepwat","ssl":false,"max":"100","min":1,"idle":"1000"},{"id":"67b7c08.2aae74","type":"postgresDB","z":"","name":"@localhost:5432/hepwat","host":"localhost","port":"5432","database":"hepwat","ssl":false,"max":"100","min":1,"idle":"1000"}]