datarobotfactory/flows/ElOverblik DataHub to Kafka.txt
[{"id":"93cd452b.7caa58","type":"subflow","name":"robot monitor 4","info":"","in":[{"x":60.60003662109375,"y":199.60000610351562,"wires":[{"id":"5c26baab.d2cb74"}]}],"out":[{"x":634,"y":180,"wires":[{"id":"fea4754e.f961c8","port":0}]}]},{"id":"5c26baab.d2cb74","type":"switch","z":"93cd452b.7caa58","name":"Is this flow enabled?","property":"start-stop","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":260,"y":200,"wires":[["636dca45.2ebab4","fea4754e.f961c8"]]},{"id":"4acadcd4.a5aff4","type":"ui_switch","z":"93cd452b.7caa58","name":"","label":"Stop/Start Robot:","group":"93bd2fab.0262c","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":790,"y":438,"wires":[["512a8f27.f7219","a3358cee.41692"]]},{"id":"512a8f27.f7219","type":"change","z":"93cd452b.7caa58","name":"Enable / Disable this flow","rules":[{"t":"set","p":"start-stop","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"emailSent","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1043,"y":407,"wires":[[]]},{"id":"7015e421.59addc","type":"ui_gauge","z":"93cd452b.7caa58","name":"Operating Sensors","group":"93bd2fab.0262c","order":1,"width":0,"height":0,"gtype":"gage","title":"{{msg.gaugeLabel}}","label":"%","format":"{{msg.availableSensors}}","min":0,"max":"100","colors":["#ca3838","#e6e600","#00b500"],"seg1":"33","seg2":"66","x":1138,"y":908,"wires":[]},{"id":"697ab27d.1d99cc","type":"ui_text","z":"93cd452b.7caa58","group":"93bd2fab.0262c","order":4,"width":0,"height":0,"name":"","label":"Last Run:","format":"{{msg.lastrun}}","layout":"row-spread","x":1208,"y":592,"wires":[]},{"id":"c7266e3b.121ce","type":"comment","z":"93cd452b.7caa58","name":"Flow to monitor robot","info":"","x":140,"y":129,"wires":[]},{"id":"a4bb316d.a6b74","type":"comment","z":"93cd452b.7caa58","name":"Stop / Start robot monitor","info":"","x":385,"y":377,"wires":[]},{"id":"fdc8ac2c.e10dc","type":"comment","z":"93cd452b.7caa58","name":"Calculate percentage of operating sensors","info":"","x":440,"y":856,"wires":[]},{"id":"ebee8ce.ac0e67","type":"comment","z":"93cd452b.7caa58","name":"Flow for logging and error handling","info":"","x":180,"y":1197,"wires":[]},{"id":"fbea6148.e1571","type":"switch","z":"93cd452b.7caa58","name":"Is notification enabled?","property":"notification","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":309.00000381469727,"y":1252,"wires":[["64c546e5.7bf3c8"]]},{"id":"891dd766.449008","type":"ui_switch","z":"93cd452b.7caa58","name":"Notification","label":"Notification:","group":"93bd2fab.0262c","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":768,"y":1080,"wires":[["cf351a9f.499528","df3055b3.f69378"]]},{"id":"cf351a9f.499528","type":"change","z":"93cd452b.7caa58","name":"Enable / Disable notification","rules":[{"t":"set","p":"notification","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":996,"y":1053,"wires":[[]]},{"id":"f22d56f.c26cda8","type":"catch","z":"93cd452b.7caa58","name":"","scope":null,"x":101.00000381469727,"y":1252,"wires":[[]]},{"id":"126b79c1.8bc4d6","type":"e-mail","z":"93cd452b.7caa58","server":"localhost","port":"25","secure":false,"name":"","dname":"Send error mail","x":781.0000038146973,"y":1252,"wires":[]},{"id":"64c546e5.7bf3c8","type":"function","z":"93cd452b.7caa58","name":"Prepare error email","func":"// Only create one user notification\nif(flow.get('mailSent')){\n    return null;\n} else {\n\n    msg.to = 'mail@to.dk';\n    msg.from = 'mail@from.dk';\n    msg.topic = 'Error in robot monitor for flow: ElOverblik DataHub to Kafka';\n    \n    if(msg.error && msg.error.message){\n        msg.payload = '<p style=\"font-family: Trebuchet MS;\">The following error was thrown:</p>';\n        msg.payload += '<p style=\"font-family: Trebuchet MS;\">' + msg.error.message + '</p>';\n        if(msg.error.source){\n            msg.payload += '<p style=\"font-family: Trebuchet MS;\"><b>Source:</b>';\n            if(msg.error.source.id) msg.payload +=   '<li style=\"font-family: Trebuchet MS;\">Id: ' + msg.error.source.id + '</li>';\n            if(msg.error.source.type) msg.payload += '<li style=\"font-family: Trebuchet MS;\">Type: ' + msg.error.source.type + '</li>';\n            if(msg.error.source.name) msg.payload += '<li style=\"font-family: Trebuchet MS;\">Name: ' + msg.error.source.name + '</li>';\n            msg.payload += '</p>';\n        }\n        msg.payload += '<p><a href=\"http://localhost:1894/ui\" target=\"_blank\">Goto dashboard...</a></p>';\n    }\n    flow.set('mailSent', true);\n    return msg;\n}","outputs":1,"noerr":0,"x":559.0000038146973,"y":1252,"wires":[["126b79c1.8bc4d6"]]},{"id":"34747e69.ec9972","type":"ui_text","z":"93cd452b.7caa58","group":"93bd2fab.0262c","order":3,"width":0,"height":0,"name":"","label":"Interval:","format":"{{msg.interval}}","layout":"row-spread","x":1209,"y":549,"wires":[]},{"id":"61fc3269.73cb5c","type":"http in","z":"93cd452b.7caa58","name":"","url":"/datahub_log","method":"get","upload":false,"swaggerDoc":"","x":128.00000381469727,"y":1379,"wires":[["478e2589.07674c"]]},{"id":"f8aa76e1.c7c5b8","type":"http response","z":"93cd452b.7caa58","name":"","statusCode":"","headers":{},"x":762.0000038146973,"y":1379,"wires":[]},{"id":"478e2589.07674c","type":"file in","z":"93cd452b.7caa58","name":"","filename":"/usr/src/node-red/hepwat.log","format":"utf8","chunk":false,"sendError":false,"x":368.00000381469727,"y":1379,"wires":[["e09f05d7.79d718"]]},{"id":"e09f05d7.79d718","type":"function","z":"93cd452b.7caa58","name":"Format log data","func":"msg.payload = msg.payload.replace(/\\n/gm,'<br>');\nreturn msg;","outputs":1,"noerr":0,"x":599.0000038146973,"y":1379,"wires":[["f8aa76e1.c7c5b8"]]},{"id":"58d3f80a.ac74f8","type":"comment","z":"93cd452b.7caa58","name":"Flow for viewing log file","info":"","x":138.00000381469727,"y":1330,"wires":[]},{"id":"636dca45.2ebab4","type":"postgrestor","z":"93cd452b.7caa58","name":"Update Last Run","query":"{{{msg.updateLastRun}}}","postgresDB":"ff8eb481.974688","output":true,"outputs":1,"x":503,"y":228,"wires":[[]]},{"id":"fea4754e.f961c8","type":"function","z":"93cd452b.7caa58","name":"Cleanup","func":"delete msg.updateLastRun;\nreturn msg;","outputs":1,"noerr":0,"x":474,"y":180,"wires":[[]]},{"id":"7441f978.7b7d48","type":"postgrestor","z":"93cd452b.7caa58","name":"Select last run data","query":"SELECT sensor_object_node_key, interval, lastrun \nFROM public.sensor_object_nodes \nWHERE datasource_id = {{{msg.payload.dataSource.id}}};","postgresDB":"929fb5c4.a868b8","output":true,"outputs":1,"x":364,"y":770,"wires":[["e3a257d6.e42c18"]]},{"id":"e3a257d6.e42c18","type":"function","z":"93cd452b.7caa58","name":"Determine node status","func":"var StatusEnum = {\n    STATUS_OPERATING: 'Operating',\n    STATUS_STOPPED: 'Stopped',\n    STATUS_NO_SIGNAL: 'No signal'\n};\n\nvar i = 0;\nvar _updateStatus = '';\n\nfor ( i = 0; i < msg.payload.rows.length; i++ ) {\n  var _sensor_object_node_key = msg.payload.rows[i].sensor_object_node_key;\n  var _interval = msg.payload.rows[i].interval;\n  var _now = new Date().getTime();\n  var _status = null;\n  var _lastrun = null;\n  \n  if(msg.payload.rows[i].lastrun){\n      _lastrun = msg.payload.rows[i].lastrun.getTime()\n  }\n  \n  if(_lastrun){\n    var _timediff = _now - _lastrun;\n    if(_timediff <= 1.33 * _interval){\n      _status = StatusEnum.STATUS_OPERATING;\n    }\n    else{\n      _status = StatusEnum.STATUS_STOPPED;\n    }\n  }\n  else{\n    _status = StatusEnum.STATUS_NO_SIGNAL;\n  }\n  _updateStatus += \"UPDATE public.sensor_object_nodes SET status = '\" + _status  + \"' WHERE (sensor_object_node_key = \" + _sensor_object_node_key + \");\"; \n}\n\nmsg.updateStatus = _updateStatus;\n\nreturn msg;","outputs":1,"noerr":0,"x":602,"y":770,"wires":[["f3b3eb9c.fca628"]]},{"id":"f3b3eb9c.fca628","type":"postgrestor","z":"93cd452b.7caa58","name":"Update node status","query":"{{{msg.updateStatus}}}\n","postgresDB":"929fb5c4.a868b8","output":true,"outputs":1,"x":832,"y":770,"wires":[["4609377f.a0e898"]]},{"id":"29460abe.ff1c06","type":"postgrestor","z":"93cd452b.7caa58","name":"Query Sensor Data","query":"{{{msg.sqlStatements}}}","postgresDB":"929fb5c4.a868b8","output":true,"outputs":1,"x":777,"y":926,"wires":[["7e17fcbb.acb384"]]},{"id":"4609377f.a0e898","type":"function","z":"93cd452b.7caa58","name":"Get sensor data","func":"var i;\nvar sqlStatements = '';\nvar dataSource = flow.get('dataSource');\n\n// Count number of operating sensors\nsqlStatements = \"SELECT count(*) FROM public.sensor_object_nodes WHERE datasource_id = \" + dataSource.id + \" AND status = 'Operating';\";\n\n// Count total number of sensors\nsqlStatements += \"SELECT count(*) FROM public.sensor_object_nodes WHERE datasource_id = \" + dataSource.id + \";\";     \n\nmsg.sqlStatements = sqlStatements;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":582,"y":926,"wires":[["29460abe.ff1c06"]]},{"id":"7e17fcbb.acb384","type":"function","z":"93cd452b.7caa58","name":"Calculate","func":"var allSensors = msg.payload.rows[1].count;\nvar operatingSensors = msg.payload.rows[0].count;\nvar availableSensors;\nvar dataSource = flow.get('dataSource');\n\nif(allSensors && allSensors > 0 ){\n    availableSensors = Math.round((operatingSensors / allSensors) * 100);\n    if(availableSensors === 0){\n        secondsAlive = (Date.now() - flow.get('tsRobotStarted')) * 0.001;\n        // node.log(\"secondsAlive = \" + secondsAlive.toFixed(2));\n        if(secondsAlive > 2){\n            node.error(\"No operating sensors are available!\", msg);\n        }\n    }\n}\n\nmsg.gaugeLabel = \"Operating Sensors \" + operatingSensors + \":\" + allSensors; \nmsg.availableSensors = availableSensors;\nmsg.payload = availableSensors;\n\nmsg.updateAvailability = \"UPDATE public.datasource SET availability = \" + msg.payload +\n                         \"WHERE datasource_id = \" + dataSource.id + \";\";\n                         \nreturn msg;\n","outputs":1,"noerr":0,"x":952,"y":926,"wires":[["7015e421.59addc","52e380df.9769a"]]},{"id":"7ce0b582.08b3ec","type":"postgrestor","z":"93cd452b.7caa58","name":"Query Sensor Object Nodes","query":"SELECT sensor_object_node_key, name, description, status \nFROM public.sensor_object_nodes \nWHERE datasource_id = {{{msg.payload.dataSource.id}}} ORDER BY sensor_object_node_key;","postgresDB":"929fb5c4.a868b8","output":true,"outputs":1,"x":394,"y":593,"wires":[["dae26712.f2ebb8"]]},{"id":"dae26712.f2ebb8","type":"function","z":"93cd452b.7caa58","name":"Device list","func":"var sensors = [];\nvar i;\nvar jsonText = \"\";\n\nfor ( i = 0; i < msg.payload.rows.length; i++ ) {\n  var _sensor_object_node_key = msg.payload.rows[i].sensor_object_node_key;\n  var _name = msg.payload.rows[i].name;\n  var _description = msg.payload.rows[i].description;\n  var _status = msg.payload.rows[i].status;\n  var _operatering = \"\";\n  var data = _sensor_object_node_key;\n  var elem = {};\n  var label;\n  \n  if(_status == \"Operating\"){\n      _operating = \"++\";\n  } else if (_status == \"Stopped\"){\n      _operating = \"+-\";\n  } else{\n      _operating = \"--\";\n  }\n  \n  label = _sensor_object_node_key + \" : \" + _description + \" : \" + _operating;\n  \n  elem[label] =  data;\n  sensors.push(elem);\n}\n\nmsg.options = sensors;\nreturn msg;","outputs":1,"noerr":0,"x":572,"y":639,"wires":[["a8ab3ee3.d4a7f"]]},{"id":"1b40ab3a.b1fa15","type":"postgrestor","z":"93cd452b.7caa58","name":"Select operation data","query":"select interval, lastrun, status from public.sensor_object_nodes\nwhere sensor_object_node_key = {{{msg.payload}}};","postgresDB":"929fb5c4.a868b8","output":true,"outputs":1,"x":857,"y":640,"wires":[["a17ed2b.e456c3"]]},{"id":"7d57e040.aa226","type":"comment","z":"93cd452b.7caa58","name":"Update sensor status in PostgreSQL","info":"","x":416,"y":716,"wires":[]},{"id":"cccc4516.529d08","type":"ui_text","z":"93cd452b.7caa58","group":"93bd2fab.0262c","order":5,"width":0,"height":0,"name":"","label":"Sensor Status:","format":"{{msg.status}}","layout":"row-spread","x":1228,"y":632,"wires":[]},{"id":"a8ab3ee3.d4a7f","type":"ui_dropdown","z":"93cd452b.7caa58","name":"Dropdown","label":"","place":"Select sensor...","group":"93bd2fab.0262c","order":2,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":704.5,"y":592.6499633789062,"wires":[["1b40ab3a.b1fa15"]]},{"id":"a17ed2b.e456c3","type":"function","z":"93cd452b.7caa58","name":"Change format","func":"msg.interval = \"\";\nmsg.lastrun = \"\";\nmsg.status = \"\";\n\nif(msg.payload.rows[0].interval && msg.payload.rows[0].interval > 0){\n    var interval = msg.payload.rows[0].interval;  // interval in milliseconds\n    var time;\n    var unit;\n\n    if (0 < interval && interval <= 60000){                // convert interval to seconds\n      time = interval / 1000;\n      unit = \" [sec]\";    \n    } else if (60000 < interval && interval <= 3600000) {  // convert interval to minutes\n      time = interval / 1000 / 60;\n      unit = \" [min]\";\n    } else if (3600000 < interval) {                       // convert interval to hours\n      time = interval / 1000 / 60 / 60;\n      unit = \" [hour]\";\n    } else {\n      time = \"\";\n      unit = \" [-]\";\n    }\n    \n    msg.interval = time + unit;\n}\nif(msg.payload.rows[0].lastrun){\n    //var localDate = msg.payload.rows[0].lastrun.toISOString();\n    var localDate = msg.payload.rows[0].lastrun.toLocaleString();\n    msg.lastrun = localDate;\n}\nif(msg.payload.rows[0].status){\n    msg.status = msg.payload.rows[0].status;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":593,"wires":[["697ab27d.1d99cc","34747e69.ec9972","cccc4516.529d08"]]},{"id":"d3eca3eb.71f27","type":"postgrestor","z":"93cd452b.7caa58","name":"Select robot started data","query":"SELECT robot_started FROM public.datasource WHERE datasource_id = {{{msg.payload.dataSource.id}}}","postgresDB":"929fb5c4.a868b8","output":true,"outputs":1,"x":384,"y":438,"wires":[["ae61a447.391f38"]]},{"id":"748fda41.3af6c4","type":"postgrestor","z":"93cd452b.7caa58","name":"Update robot status","query":"--UPDATE public.datasource \n--SET robot_started = {{{msg.payload}}} \n--WHERE datasource_id = {{{flow.get('dataSource').id}}};\n\n{{{msg.updateRobotStarted}}}","postgresDB":"929fb5c4.a868b8","output":true,"outputs":1,"x":1162,"y":451,"wires":[[]]},{"id":"ae61a447.391f38","type":"function","z":"93cd452b.7caa58","name":"Return status","func":"msg.payload = msg.payload.rows[0].robot_started;\nreturn msg;","outputs":1,"noerr":0,"x":592,"y":438,"wires":[["4acadcd4.a5aff4"]]},{"id":"d7cff79d.ff4348","type":"postgrestor","z":"93cd452b.7caa58","name":"Query notification status","query":"SELECT notification_on \nFROM public.datasource \nWHERE datasource_id = {{{msg.payload.dataSource.id}}};","postgresDB":"929fb5c4.a868b8","output":true,"outputs":1,"x":385,"y":1080,"wires":[["f58aea0.e824d18"]]},{"id":"92ec039b.ba4d5","type":"postgrestor","z":"93cd452b.7caa58","name":"Update notification status","query":"{{{msg.updateNotification}}}\n","postgresDB":"929fb5c4.a868b8","output":true,"outputs":1,"x":1127,"y":1107,"wires":[[]]},{"id":"f58aea0.e824d18","type":"function","z":"93cd452b.7caa58","name":"Return status","func":"msg.payload = msg.payload.rows[0].notification_on;\nreturn msg;","outputs":1,"noerr":0,"x":592,"y":1080,"wires":[["891dd766.449008"]]},{"id":"cb7c5838.7bcac8","type":"comment","z":"93cd452b.7caa58","name":"Get data for selected sensor from PostgreSQL","info":"","x":446,"y":538,"wires":[]},{"id":"f401804.5828a8","type":"comment","z":"93cd452b.7caa58","name":"Enable / Disable notification","info":"","x":396,"y":1028,"wires":[]},{"id":"52e380df.9769a","type":"postgrestor","z":"93cd452b.7caa58","name":"Update availability","query":"--UPDATE public.datasource \n--SET availability = {{{msg.payload}}} \n--WHERE datasource_id = {{{flow.get('dataSource').id}}};\n\n{{{msg.updateAvailability}}}\n","postgresDB":"929fb5c4.a868b8","output":true,"outputs":1,"x":1138,"y":949,"wires":[[]]},{"id":"43ffc1a2.c5137","type":"comment","z":"93cd452b.7caa58","name":"== REMEMBER TO CONFIGURE PAYLOAD AND REPEAT PROPERTY OF INJECT NODE ==","info":"","x":670,"y":40,"wires":[]},{"id":"82dd4368.d75df","type":"function","z":"93cd452b.7caa58","name":"Set dataSource","func":"flow.set('dataSource', msg.payload.dataSource);\nreturn msg;","outputs":1,"noerr":0,"x":123,"y":416,"wires":[["d3eca3eb.71f27","7ce0b582.08b3ec","7441f978.7b7d48","d7cff79d.ff4348"]]},{"id":"728e6b2d.fd8b14","type":"inject","z":"93cd452b.7caa58","name":"","topic":"","payload":"{\"dataSource\":{\"id\":1005}}","payloadType":"json","repeat":"900","crontab":"","once":true,"onceDelay":"","x":90,"y":358,"wires":[["82dd4368.d75df"]]},{"id":"a3358cee.41692","type":"function","z":"93cd452b.7caa58","name":"sqlRobot","func":"// Update robot status in PostgreSQL\nvar dataSource = flow.get('dataSource');\n\nmsg.updateRobotStarted = \"UPDATE public.datasource SET robot_started = \" + msg.payload +\n                         \" WHERE datasource_id = \" + dataSource.id + \";\";\n                         \n// Reset notification counter\nflow.set('mailSent', false);\n\n// Timestamp for when robot is started\nif(msg.payload){\n    flow.set('tsRobotStarted', Date.now());\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":993.5,"y":450.5999755859375,"wires":[["748fda41.3af6c4"]]},{"id":"df3055b3.f69378","type":"function","z":"93cd452b.7caa58","name":"sqlNotify","func":"var dataSource = flow.get('dataSource');\n\nmsg.updateNotification = \"UPDATE public.datasource SET notification_on = \" + msg.payload +\n                         \" WHERE datasource_id = \" + dataSource.id + \";\";\n\nreturn msg;","outputs":1,"noerr":0,"x":936,"y":1108,"wires":[["92ec039b.ba4d5"]]},{"id":"d46d8546.68bce8","type":"comment","z":"93cd452b.7caa58","name":"Flows to monitor functionality","info":"","x":160,"y":305,"wires":[]},{"id":"93bd2fab.0262c","type":"ui_group","z":"93cd452b.7caa58","name":"DataHub","tab":"4e5c9744.475b88","order":5,"disp":false,"width":"6"},{"id":"ff8eb481.974688","type":"postgresDB","z":"","name":"@localhost:5432/hepwat","host":"localhost","port":"5432","database":"hepwat","ssl":false,"max":"100","min":1,"idle":"1000"},{"id":"929fb5c4.a868b8","type":"postgresDB","z":"","name":"@localhost:5432/hepwat","host":"localhost","port":"5432","database":"hepwat","ssl":false,"max":"100","min":1,"idle":"1000"},{"id":"4e5c9744.475b88","type":"ui_tab","z":"","name":"DataHub","icon":"dashboard","order":1},{"id":"c2b2f1f5.d3b3f","type":"tab","label":"ElOverblik DataHub to Kafka","disabled":false,"info":""},{"id":"febe969d.195848","type":"www-request","z":"c2b2f1f5.d3b3f","name":"","method":"GET","ret":"txt","url":"","follow-redirects":false,"tls":"9be14a26.cc72e8","x":572.2001495361328,"y":132.19996643066406,"wires":[["43176b18.5b7c94"]]},{"id":"8f500124.af31d","type":"function","z":"c2b2f1f5.d3b3f","name":"makeListOfMeteringPoints","func":"/*\n * Make array of MeteringPoint ID's based on data\n * downloaded from DataHub in JSON format\n */\nvar dataSource = flow.get('dataSource');\nvar _dataSourceUrl = dataSource.url;\nif(!_dataSourceUrl.endsWith('/')) _dataSourceUrl += '/';\nvar pl = 0;\nfor(pl = 0; pl < msg.payload.length; pl++ ) {\n    if(msg.payload[pl]) {\n        var _authorizationid = msg.payload[pl].Id;\n        var mp = 0;\n        for(mp = 0; mp < msg.payload[pl].ListOfMeteringPoints.length; mp++) {\n            var _meteringPoint = msg.payload[pl].ListOfMeteringPoints[mp];\n            var _url = _dataSourceUrl + \"meteringpointdetails?authorizationid=\"+ _authorizationid + \"&meteringpointid=\" + _meteringPoint.MeteringPointIdentification;\n            node.send({ url: _url, authorizationid: _authorizationid });\n        }\n    }\n}\nreturn null;","outputs":1,"noerr":0,"x":208,"y":257.00000762939453,"wires":[["f68359da.044088"]]},{"id":"65d319ea.d32d48","type":"www-request","z":"c2b2f1f5.d3b3f","name":"","method":"GET","ret":"txt","url":"","follow-redirects":false,"tls":"9be14a26.cc72e8","x":683.2099723815918,"y":255.3100128173828,"wires":[["41bddf1c.d3f06"]]},{"id":"41bddf1c.d3f06","type":"json","z":"c2b2f1f5.d3b3f","name":"","pretty":false,"x":199.01016235351562,"y":381.7100200653076,"wires":[["db348845.65d568","9d4e841f.052248"]]},{"id":"f68359da.044088","type":"delay","z":"c2b2f1f5.d3b3f","name":"","pauseType":"rate","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":472.6100616455078,"y":256.47998809814453,"wires":[["65d319ea.d32d48"]]},{"id":"43176b18.5b7c94","type":"json","z":"c2b2f1f5.d3b3f","name":"","pretty":false,"x":754.3999633789062,"y":132.19995594024658,"wires":[["8f500124.af31d","ddfeef80.cf384"]]},{"id":"da0c978c.c295a8","type":"inject","z":"c2b2f1f5.d3b3f","name":"Start import","topic":"","payload":"{\"dataSource\":{\"id\":1005,\"name\":\"ElOverblik.dk DataHub\",\"url\":\"https://eloverblik.dk/api/\",\"description\":\"ElOverblik.dk DataHub\",\"authentification\":{\"type\":\"Certificates\"},\"rootTopic\":\"meteringpointdetails\",\"defaultInterval\":86400000,\"dashboard\":{\"url\":\"http://localhost:1894/ui\"}}}","payloadType":"json","repeat":"","crontab":"00 05 * * 0","once":false,"onceDelay":"","x":121.00000762939453,"y":105.00001049041748,"wires":[["f6b6251b.e80d98","220a851b.730dea"]]},{"id":"6dc5a08.6cd9d6","type":"postgrestor","z":"c2b2f1f5.d3b3f","name":"Insert datasource","query":"INSERT INTO public.DATASOURCE (DATASOURCE_ID, NAME, URL, AUTHENTICATION_TYPE, DESCRIPTION, UPDATED, DASHBOARD_URL)\nVALUES (\n  {{{ msg.payload.dataSource.id }}}, \n '{{{ msg.payload.dataSource.name }}}', \n '{{{ msg.payload.dataSource.url }}}', \n '{{{ msg.payload.dataSource.authentification.type }}}', \n '{{{ msg.payload.dataSource.description }}}', \n LOCALTIMESTAMP,\n '{{{ msg.payload.dataSource.dashboard.url }}}')\nON CONFLICT (DATASOURCE_ID) DO UPDATE\nSET\n   NAME = '{{{ msg.payload.dataSource.name }}}',\n   URL = '{{{ msg.payload.dataSource.url }}}',\n   AUTHENTICATION_TYPE = '{{{ msg.payload.dataSource.authentification.type }}}',\n   DESCRIPTION = '{{{ msg.payload.dataSource.description }}}',\n   UPDATED = LOCALTIMESTAMP,\n   DASHBOARD_URL = '{{{ msg.payload.dataSource.dashboard.url }}}';\n","postgresDB":"eacfbdbd.a680e","output":false,"outputs":1,"x":611.0001182556152,"y":84.00007629394531,"wires":[["98e3736b.cdd15"]]},{"id":"f6b6251b.e80d98","type":"delay","z":"c2b2f1f5.d3b3f","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":366.0000228881836,"y":133.00001621246338,"wires":[["febe969d.195848"]]},{"id":"db348845.65d568","type":"function","z":"c2b2f1f5.d3b3f","name":"Create Sensor Object","func":"try {\n    var dataSource = flow.get('dataSource');\n    \n    var _extractAddress = function (payload) {\n        var _address = '';\n        if(payload.StreetName) _address += payload.StreetName + ' ';\n        if(payload.BuildingNumber) _address += payload.BuildingNumber;\n    \tif(payload.FloorIdentification) _address += ', ' + payload.FloorIdentification;\n    \tif(payload.RoomId) _address += ' -' + payload.RoomId;\n    \tif(payload.Postcode) _address += ', ' + payload.Postcode;\n    \tif(payload.CityName) _address += ' ' + payload.CityName;\n    \tif(_address.length > 255) _address = _address.substring(0, 255);\n    \treturn _address;\n    };\n    \n    return { \n        dataSourceId: dataSource.id,\n        nodeId: msg.payload[0].MeteringPointIdentification,\n        browseName: msg.payload[0].MeteringPointIdentification,\n        displayName: _extractAddress(msg.payload[0]),\n        description: 'Type: ' + msg.payload[0].TypeOfMeteringPoint\n    };\n\n} catch (err) {\n        // Error Message\n        var errMessage = \"Error: \" + err.message +\n                         \". Url: \" + msg.url +\n\t\t                 \". Payload: \" + JSON.stringify(msg.payload);\n\t\t                 \n        // Trigger catch node\n        node.error(errMessage, msg);\n        \n\t\t// Log to console\n        node.error(errMessage);\n}\n","outputs":"1","noerr":0,"x":442.00006103515625,"y":383.00006008148193,"wires":[["56c6579c.9ce658"]]},{"id":"56c6579c.9ce658","type":"postgrestor","z":"c2b2f1f5.d3b3f","name":"Create or update Sensor Objects","query":"-- Insert or Update Sensor Object\nINSERT INTO public.SENSOR_OBJECT (DATASOURCE_ID, SENSOR_OBJECT_ID, NAME, DESCRIPTION, UPDATED)\nVALUES (\n {{{ msg.dataSourceId }}}, \n'{{{ msg.nodeId }}}', \n'{{{ msg.displayName }}}', \n'{{{ msg.description }}}', \nLOCALTIMESTAMP)\nON CONFLICT (DATASOURCE_ID, SENSOR_OBJECT_ID) DO UPDATE\nSET\n   NAME = '{{{ msg.displayName }}}',\n   DESCRIPTION = '{{{ msg.description }}}',\n   UPDATED = LOCALTIMESTAMP;","postgresDB":"eacfbdbd.a680e","output":false,"outputs":1,"x":769.0001220703125,"y":365.0000638961792,"wires":[[]]},{"id":"9d4e841f.052248","type":"function","z":"c2b2f1f5.d3b3f","name":"Create Sensor Object Nodes","func":"try {\n    var dataSource = flow.get('dataSource');\n    var measurementType = flow.get('measurementType');\n    \n    var _extractAddress = function (payload) {\n        var _address = '';\n        if(payload.StreetName) _address += payload.StreetName + ' ';\n        if(payload.BuildingNumber) _address += payload.BuildingNumber;\n    \tif(payload.FloorIdentification) _address += ', ' + payload.FloorIdentification;\n    \tif(payload.RoomId) _address += ' -' + payload.RoomId;\n    \tif(payload.Postcode) _address += ', ' + payload.Postcode;\n    \tif(payload.CityName) _address += ' ' + payload.CityName;\n    \tif(_address.length > 255) _address = _address.substring(0, 255);\n    \treturn _address;\n    };\n    \n    var _extractDomain = function (payload, authorizationid) {\n        var _domain = '{ ';\n    \tif(payload.EnergyTimeSeriesMeasureUnit) _domain += '\"EnergyTimeSeriesMeasureUnit\" : \"' + payload.EnergyTimeSeriesMeasureUnit + '\", ';\n    \tif(payload.MeterReadingOccurrence)_domain += '\"MeterReadingOccurrence\" : \"' + payload.MeterReadingOccurrence + '\", ';\n    \tif(payload.Product) _domain += '\"Product\" : \"' + payload.Product + '\", ';\n        if(payload.NetSettlementGroup) _domain += '\"NetSettlementGroup\" : \"' + payload.NetSettlementGroup + '\", ';\n    \tif(payload.SettlementMethod) _domain += '\"SettlementMethod\" : \"' + payload.SettlementMethod + '\", ';\n    \tif(payload.DataAccessCVR) _domain += '\"DataAccessCVR\" : \"' + payload.DataAccessCVR + '\", ';\n    \tif(payload.ConsumerCVR) _domain += '\"ConsumerCVR\" : \"' + payload.ConsumerCVR + '\", ';\n    \tif(payload.EstimatedAnnualVolume) _domain += '\"EstimatedAnnualVolume\" : ' + payload.EstimatedAnnualVolume + ', ';\n    \tif(authorizationid) _domain += '\"Authorizationid\" : ' + authorizationid;\n        _domain += ' }';\n    \treturn _domain;\n    };\n    \n    return {\n        dataSourceId: dataSource.id,\n        parentNodeId: msg.payload[0].MeteringPointIdentification,\n        topic: msg.payload[0].MeteringPointIdentification,\n        browseName: msg.payload[0].MeteringPointIdentification, \n        description: _extractAddress(msg.payload[0]), \n        dataType: 'double', \n        //nodeTypeOld: msg.payload[0].TypeOfMeteringPoint,\n        nodeDomain: _extractDomain(msg.payload[0], msg.authorizationid),\n        readable: true, \n        writeable: false, \n        defaultInterval: (dataSource.defaultInterval ? dataSource.defaultInterval : 2000),\n        unit: msg.payload[0].EnergyTimeSeriesMeasureUnit,\n        nodeType: measurementType[\"Energi målinger\"]\n    };\n    \n} catch (err) {\n\t\t// Error Message\n        var errMessage = \"Error: \" + err.message +\n                         \". Url: \" + msg.url +\n\t\t                 \". Payload: \" + JSON.stringify(msg.payload);\n\t\t                 \n        // Trigger catch node\n        node.error(errMessage, msg);\n        \n\t\t// Log to console\n        node.error(errMessage);\n}\n","outputs":"1","noerr":0,"x":464.00003814697266,"y":440.0000648498535,"wires":[["9ba7632e.877a9"]]},{"id":"9ba7632e.877a9","type":"postgrestor","z":"c2b2f1f5.d3b3f","name":"Create or update Sensor Object Nodes","query":"-- Insert or Update Sensor Object Nodes\nINSERT INTO public.sensor_object_nodes (\n    datasource_id, sensor_object_id, sensor_object_node_id, name, \n    description, datatype, nodedomain, readable, writeable, \"interval\", \n    updated, unit, nodetype)\nVALUES (\n     {{{ msg.dataSourceId }}}, \n    '{{{ msg.parentNodeId }}}', \n    '{{{ msg.topic }}}', \n    '{{{ msg.browseName }}}', \n    '{{{ msg.description }}}', \n    '{{{ msg.dataType }}}', \n    '{{{ msg.nodeDomain }}}',\n     {{{ msg.readable }}}, \n     {{{ msg.writeable }}}, \n     {{{ msg.defaultInterval }}}, \n    LOCALTIMESTAMP,\n    '{{{ msg.unit }}}',\n     {{{ msg.nodeType }}}\n)\nON CONFLICT (DATASOURCE_ID, SENSOR_OBJECT_ID, SENSOR_OBJECT_NODE_ID) DO UPDATE\nSET\n   name = '{{{ msg.browseName }}}', \n   description = '{{{ msg.description }}}', \n   datatype = '{{{ msg.dataType }}}', \n   nodedomain = '{{{ msg.nodeDomain }}}',\n   readable = {{{ msg.readable }}}, \n   writeable = {{{ msg.writeable }}}, \n   \"interval\" = {{{ msg.defaultInterval }}}, \n   updated = LOCALTIMESTAMP,\n   unit = '{{{ msg.unit }}}',\n   nodetype = {{{msg.nodeType}}};","postgresDB":"eacfbdbd.a680e","output":true,"outputs":1,"x":825.0000610351562,"y":426.00006103515625,"wires":[[]]},{"id":"11fbc8cc.930677","type":"comment","z":"c2b2f1f5.d3b3f","name":"Prepare and save metadata concerning ElOverblik DataHub objects","info":"","x":267,"y":37.00000762939453,"wires":[]},{"id":"220a851b.730dea","type":"function","z":"c2b2f1f5.d3b3f","name":"Carry dataSource information","func":"flow.set('dataSource', msg.payload.dataSource);\nreturn msg;","outputs":1,"noerr":0,"x":377.1666717529297,"y":84.55555725097656,"wires":[["6dc5a08.6cd9d6"]]},{"id":"ea269d5f.a5b3c","type":"postgrestor","z":"c2b2f1f5.d3b3f","name":"Query Sensor Object Nodes","query":"-- Select a single meteringpoint\n--\n-- SELECT sensor_object_node_id, sensor_object_node_key, datatype, \"interval\", nodedomain\n-- FROM public.sensor_object_nodes\n-- WHERE (datasource_id = {{{ msg.dataSource.id }}}) AND (readable = true) AND (sensor_object_node_key = 7785);\n\n-- Select all meteringpoints\n--\nSELECT sensor_object_node_id, sensor_object_node_key, datatype, \"interval\", nodedomain, lastrun \nFROM public.sensor_object_nodes\nWHERE (datasource_id = {{{ msg.dataSource.id }}}) AND (readable = true);","postgresDB":"eacfbdbd.a680e","output":true,"outputs":1,"x":572.0000610351562,"y":651.0000076293945,"wires":[["b10ba1cd.6dd22"]]},{"id":"3baed3cb.5a198c","type":"inject","z":"c2b2f1f5.d3b3f","name":"Initialize import of ElOverblik DataHub","topic":"","payload":"{\"dataSource\":{\"id\":1005}}","payloadType":"json","repeat":"","crontab":"00 08 * * *","once":false,"onceDelay":"","x":230.00006103515625,"y":599.999997138977,"wires":[["438a359c.56f61c"]]},{"id":"438a359c.56f61c","type":"postgrestor","z":"c2b2f1f5.d3b3f","name":"Query datasource","query":"SELECT DATASOURCE_ID, NAME, URL \nFROM public.DATASOURCE \nWHERE DATASOURCE_ID = {{{ msg.payload.dataSource.id }}};\n","postgresDB":"eacfbdbd.a680e","output":true,"outputs":1,"x":540.0000610351562,"y":599.0000066757202,"wires":[["23c4119e.7bb02e"]]},{"id":"23c4119e.7bb02e","type":"function","z":"c2b2f1f5.d3b3f","name":"Extract datasource","func":"if(msg.payload && msg.payload.rows && msg.payload.rows.length > 0) {\n    var dataSource = {\n        id: msg.payload.rows[0].datasource_id,\n        name: msg.payload.rows[0].name,\n        url: msg.payload.rows[0].url,\n        defaultInterval: 2000\n    };\n    msg.payload = {};\n    msg.dataSource = dataSource;\n    flow.set('dataSource', dataSource);\n    node.log(\"Import initiated for data source \" + dataSource.id);\n    return msg;\n}\nelse \n    return null;","outputs":1,"noerr":0,"x":790.0000686645508,"y":600.0000076293945,"wires":[["ea269d5f.a5b3c"]]},{"id":"b10ba1cd.6dd22","type":"function","z":"c2b2f1f5.d3b3f","name":"Prepare subscriptions","func":"if (msg.payload && msg.payload.rows && msg.payload.rows.length > 0 ) {\n\n    var dataSource = msg.dataSource;\n    var _dataSourceUrl = dataSource.url;\n    if(!_dataSourceUrl.endsWith('/')) _dataSourceUrl += '/';\n\n    var _sId = 0;\n    var nodeTopicIdMapping = {};\n    var nodeLastRun = {};\n    for ( _sId = 0; _sId < msg.payload.rows.length; _sId++ ) {\n        nodeTopicIdMapping[msg.payload.rows[_sId].sensor_object_node_id] = msg.payload.rows[_sId].sensor_object_node_key;\n        nodeLastRun[msg.payload.rows[_sId].sensor_object_node_id] = msg.payload.rows[_sId].lastrun;\n    }\n    flow.set('nodeTopicIdMapping', nodeTopicIdMapping);\n    flow.set('nodeLastRun', nodeLastRun);\n\n    _sId = 0;\n    for ( _sId = 0; _sId < msg.payload.rows.length; _sId++ ) {\n        var _domainObj = JSON.parse(msg.payload.rows[_sId].nodedomain);\n        var _authorizationid = _domainObj.Authorizationid;\n        var _meteringPoint = msg.payload.rows[_sId].sensor_object_node_id;\n        var _url = _dataSourceUrl + \"timeseries?authorizationid=\"+ _authorizationid + \"&meteringpointid=\" + _meteringPoint + \"&period=month\";\n        node.send({ url: _url, interval: msg.payload.rows[_sId].interval });\n    }\n}\nreturn null;","outputs":1,"noerr":0,"x":847.0000686645508,"y":652.0000085830688,"wires":[["80bb5f52.0c142"]]},{"id":"bd2370aa.6dfaf","type":"function","z":"c2b2f1f5.d3b3f","name":"Prepare topic payload","func":"try{\n    var _nodeTopicIdMapping = flow.get('nodeTopicIdMapping');\n    var _msg = {};\n    var _dataSource = flow.get('dataSource');\n    \n    // Get measurements for last 120 hours\n    var noofMeasures = 120;\n    \n    if(msg.payload && msg.payload.length > noofMeasures) {\n        for (i = noofMeasures - 1; i >= 0; i--){\n\n            var _nodeLastRun = flow.get('nodeLastRun');\n            var _lastrun = new Date(_nodeLastRun[msg.payload[i].Meteringpoint]).getTime();\n            var _timestamp = new Date(msg.payload[i].DateTo.replace('T', ' ')).getTime();\n        \n            if(_timestamp > _lastrun){\n                _msg.key = _nodeTopicIdMapping[msg.payload[i].Meteringpoint];\n                _msg.payload = {\n                    lastrun: _lastrun,\n                    timestamp: _timestamp,\n                    hepwatDeviceId: _msg.key,\n                    value: msg.payload[i].Usage,\n                    interval: msg.interval\n                };\n                \n                _msg.updateLastRun = \"\";\n                \n                // Use latest measurement to update timestamp in lastrun field\n                if(i === 0){\n                    _msg.updateLastRun = \"UPDATE public.sensor_object_nodes \" + \n                                         \"SET lastrun = to_timestamp(\" + _msg.payload.timestamp * 0.001 + \"), lastvalue =  \" + _msg.payload.value + \" \" + \n                                         \"WHERE (sensor_object_node_key = \" + _msg.payload.hepwatDeviceId + \") \" +\n                                         \"AND (datasource_id = \" + _dataSource.id + \");\";\n                }\n                \n                node.send(_msg);\n            }\n        }\n    } else {\n        node.error(\"ElOverblik DataHub: \" + JSON.stringify(msg.payload));\n        return null;\n    }\n    \n} catch (err) {\n        if(err.message){\n    \t\t// Error Message\n            var errMessage = \"Error: \" + err.message +\n                             \". Url: \" + msg.url +\n    \t\t                 \". Payload: \" + JSON.stringify(msg.payload);\n    \t\t                 \n            // Trigger catch node\n            node.error(errMessage, msg);\n            \n    \t\t// Log to console\n            node.error(errMessage);\n        } else {\n            node.error(\"Error: \", err);\n        }\n}\n","outputs":1,"noerr":0,"x":767,"y":720,"wires":[["7e7a9a3f.27f844","d22fd91a.f03a48"]]},{"id":"275efca3.15b474","type":"sagofonto-kafka-producer","z":"c2b2f1f5.d3b3f","kafkaHost":"localhost:9092","connectTimeout":"10000","requestTimeout":"30000","requireAcks":"1","ackTimeoutMs":"100","partitionerType":"3","topicName":"raw-test-10","compressionOption":"0","x":1199,"y":720,"wires":[]},{"id":"1a91c20f.8ef39e","type":"comment","z":"c2b2f1f5.d3b3f","name":"Read ElOverblik DataHub topics from database and produce data for Kafka topic","info":"","x":330.00006103515625,"y":539.999997138977,"wires":[]},{"id":"c4288577.018808","type":"catch","z":"c2b2f1f5.d3b3f","name":"","scope":null,"x":125.10007858276367,"y":1160.8000860214233,"wires":[[]]},{"id":"a283cc7b.f1799","type":"e-mail","z":"c2b2f1f5.d3b3f","server":"localhost","port":"25","secure":false,"name":"","dname":"Send error mail","x":563,"y":1161,"wires":[]},{"id":"a005963b.bcb8d8","type":"function","z":"c2b2f1f5.d3b3f","name":"Prepare error email","func":"var outMsg = {\n    to: 'mail@to.dk',\n    from: 'mail@from.dk',\n    topic: 'Error in Node-Red flow: ElOverblik DataHub to Kafka',\n};\n\nif(msg.error && msg.error.message){\n    outMsg.payload = '<p style=\"font-family: Trebuchet MS;\">The following error was thrown:</p>';\n    outMsg.payload += '<p style=\"font-family: Trebuchet MS;\">' + msg.error.message + '</p>';\n    if(msg.error.source){\n        outMsg.payload += '<p style=\"font-family: Trebuchet MS;\"><b>Source:</b>';\n        if(msg.error.source.id) outMsg.payload +=   '<li style=\"font-family: Trebuchet MS;\">Id: ' + msg.error.source.id + '</li>';\n        if(msg.error.source.type) outMsg.payload += '<li style=\"font-family: Trebuchet MS;\">Type: ' + msg.error.source.type + '</li>';\n        if(msg.error.source.name) outMsg.payload += '<li style=\"font-family: Trebuchet MS;\">Name: ' + msg.error.source.name + '</li>';\n        outMsg.payload += '</p>';\n    }\n    outMsg.payload += '<p><a href=\"http://localhost:1894/#flow/5b493919.cb6c18\" target=\"_blank\">Goto flow...</a></p>';\n}\n\nreturn outMsg;","outputs":1,"noerr":0,"x":334,"y":1161,"wires":[["a283cc7b.f1799"]]},{"id":"3ad78b4f.860b24","type":"json","z":"c2b2f1f5.d3b3f","name":"","pretty":false,"x":582.0001754760742,"y":720.1777982711792,"wires":[["bd2370aa.6dfaf"]]},{"id":"80bb5f52.0c142","type":"delay","z":"c2b2f1f5.d3b3f","name":"","pauseType":"rate","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":211.6001739501953,"y":719.9477071762085,"wires":[["a0a2f737.723e08"]]},{"id":"a0a2f737.723e08","type":"www-request","z":"c2b2f1f5.d3b3f","name":"","method":"GET","ret":"txt","url":"","follow-redirects":false,"tls":"9be14a26.cc72e8","x":417.2000961303711,"y":720.1778516769409,"wires":[["3ad78b4f.860b24"]]},{"id":"c3266d58.f726e","type":"comment","z":"c2b2f1f5.d3b3f","name":"Logging and error handling","info":"","x":174.00006103515625,"y":1099.2222261428833,"wires":[]},{"id":"7e7a9a3f.27f844","type":"subflow:93cd452b.7caa58","z":"c2b2f1f5.d3b3f","name":"","x":982,"y":720,"wires":[["275efca3.15b474"]]},{"id":"7a36529.be599ac","type":"inject","z":"c2b2f1f5.d3b3f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"15 04 * * 1,3,5,0","once":false,"x":134,"y":1217,"wires":[["a7623585.cd4598"]]},{"id":"a7623585.cd4598","type":"sagofonto-log-backup","z":"c2b2f1f5.d3b3f","sourcePath":"/usr/src/node-red/","sourceFilename":"hepwat.log","destPath":"/usr/src/node-red/logs/","x":314.5,"y":1216.7999877929688,"wires":[[]]},{"id":"f1f483a4.661ce","type":"comment","z":"c2b2f1f5.d3b3f","name":"Update metadata with coordinates","info":"","x":205,"y":807,"wires":[]},{"id":"8d112ffc.9eb1e","type":"inject","z":"c2b2f1f5.d3b3f","name":"","topic":"Update location","payload":"","payloadType":"str","repeat":"","crontab":"15 05 * * 0","once":false,"x":145.5,"y":877.2999877929688,"wires":[["cc55642a.056328"]]},{"id":"cc55642a.056328","type":"postgrestor","z":"c2b2f1f5.d3b3f","name":"Query Address","query":"SELECT * FROM public.sensor_object where datasource_id = 1005;","postgresDB":"eacfbdbd.a680e","output":true,"outputs":1,"x":300.5,"y":932.9000244140625,"wires":[["1fa8d885.242df7"]]},{"id":"d9ff26c1.ff63f8","type":"debug","z":"c2b2f1f5.d3b3f","name":"","active":false,"console":"false","complete":"true","x":1180.5,"y":874.449951171875,"wires":[]},{"id":"1fa8d885.242df7","type":"function","z":"c2b2f1f5.d3b3f","name":"Make list of URLs","func":"var i;\nvar _adresse;\nvar _vejnavn;\nvar _husnr;\nvar _postnr;\nvar _url;\nvar _datasource_id;\nvar _sensor_object_id;\n\n// Example of url format to construct\n// http://dawa.aws.dk/adresser?vejnavn=Overgade&husnr=7&postnr=5492&srid=25832&format=geojson&struktur=mini\n\nfor ( i = 0; i < msg.payload.rows.length; i++ ) {\n    _adresse = msg.payload.rows[i].name;\n    \n    // Street name more than one word\n    if(_adresse.split(\",\")[0].split(\" \").length == 4){\n        _vejnavn = _adresse.split(\",\")[0].split(\" \")[0] + \" \"+\n                   _adresse.split(\",\")[0].split(\" \")[1] + \" \"+\n                   _adresse.split(\",\")[0].split(\" \")[2];\n        \n        _husnr = _adresse.split(\",\")[0].split(\" \")[3]\n        \n    } else if(_adresse.split(\",\")[0].split(\" \").length == 3){\n        _vejnavn = _adresse.split(\",\")[0].split(\" \")[0] + \" \"+\n                   _adresse.split(\",\")[0].split(\" \")[1];\n        \n        _husnr = _adresse.split(\",\")[0].split(\" \")[2]\n        \n    } else {\n        _vejnavn = _adresse.split(\",\")[0].split(\" \")[0];\n        _husnr = _adresse.split(\",\")[0].split(\" \")[1];\n    }\n    \n    // If house number like 27-29 use first number\n    _husnr = _husnr.split(\"-\")[0];\n    \n    // If house number ends with non-digit remove it\n    if(_husnr.charCodeAt(_husnr.length - 1) > 57){\n        _husnr = _husnr.substring(0, _husnr.length-1);\n    }\n    \n    // Get zip code from address\n    _postnr = _adresse.split(\",\")[1].split(\" \")[1];\n    \n    // Construct url\n    _url = \"http://dawa.aws.dk/adresser?vejnavn=\" + _vejnavn + \"&husnr=\" + _husnr + \n              \"&postnr=\" + _postnr +\n              \"&srid=25832&format=geojson&struktur=mini\";\n    \n    // Add id information          \n    _datasource_id = msg.payload.rows[i].datasource_id;\n    _sensor_object_id = msg.payload.rows[i].sensor_object_id;\n              \n    // Send payload\n    node.send({ url: _url, datasource_id: _datasource_id, sensor_object_id: _sensor_object_id});\n}\n\nreturn null;","outputs":1,"noerr":0,"x":452.5,"y":875.5999755859375,"wires":[["a7879d31.960c6"]]},{"id":"a7879d31.960c6","type":"delay","z":"c2b2f1f5.d3b3f","name":"","pauseType":"rate","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":604,"y":930,"wires":[["c6949b3f.cab808"]]},{"id":"c6949b3f.cab808","type":"http request","z":"c2b2f1f5.d3b3f","name":"","method":"GET","ret":"txt","url":"","tls":"","x":733.5,"y":874.5999755859375,"wires":[["7412345c.9550dc"]]},{"id":"7412345c.9550dc","type":"json","z":"c2b2f1f5.d3b3f","name":"","pretty":false,"x":855.5,"y":927.5999755859375,"wires":[["cc3ff6d.6485908"]]},{"id":"cc3ff6d.6485908","type":"function","z":"c2b2f1f5.d3b3f","name":"Get Coordinates","func":"if(msg.payload.features && msg.payload.features.length > 0){\n    if(msg.payload.features[0].geometry){\n        var _coords = JSON.stringify(msg.payload.features[0].geometry.coordinates);\n        msg.location = _coords.replace(\"[\",\"\").replace(\"]\",\"\").replace(\",\",\" \");\n        msg.wkt = 'POINT(' + msg.location + ')';\n    } else {\n        msg.location = \"\";\n        msg.wkt = 'POINT(0.00 0.00)';\n        node.log(\"No coordinates returned for url: \" + msg.url);\n    }\n} else{\n    msg.location = \"\";\n    msg.wkt = 'POINT(0.00 0.00)';\n    node.log(\"No coordinates returned for url: \" + msg.url);\n}\nreturn msg;","outputs":1,"noerr":0,"x":992.5,"y":874.5999755859375,"wires":[["c4a444b9.a06ab8","d9ff26c1.ff63f8"]]},{"id":"c4a444b9.a06ab8","type":"postgrestor","z":"c2b2f1f5.d3b3f","name":"Update Sensor Objects","query":"-- Update Sensor Object\nINSERT INTO public.SENSOR_OBJECT (DATASOURCE_ID, SENSOR_OBJECT_ID, LOCATION, UPDATED, OGR_GEOMETRY)\nVALUES (\n {{{ msg.datasource_id }}}, \n'{{{ msg.sensor_object_id }}}', \n'{{{ msg.location }}}', \nLOCALTIMESTAMP,\nST_PointFromText('{{{ msg.wkt }}}', 25832)\n)\nON CONFLICT (DATASOURCE_ID, SENSOR_OBJECT_ID) DO UPDATE\nSET\n   LOCATION = '{{{ msg.location }}}',\n   UPDATED = LOCALTIMESTAMP,\n   OGR_GEOMETRY = ST_PointFromText('{{{ msg.wkt }}}', 25832);","postgresDB":"eacfbdbd.a680e","output":false,"outputs":1,"x":1240,"y":927,"wires":[[]]},{"id":"ddfeef80.cf384","type":"debug","z":"c2b2f1f5.d3b3f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":887,"y":167,"wires":[]},{"id":"d22fd91a.f03a48","type":"debug","z":"c2b2f1f5.d3b3f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":953,"y":776,"wires":[]},{"id":"30862fe.1b71dd","type":"debug","z":"c2b2f1f5.d3b3f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1210,"y":140,"wires":[]},{"id":"98e3736b.cdd15","type":"postgrestor","z":"c2b2f1f5.d3b3f","name":"Query measurement type","query":"SELECT * FROM config_measurement_type;","postgresDB":"b69c1c71.c350c","output":true,"outputs":1,"x":838,"y":84,"wires":[["ad490fb6.4830f"]]},{"id":"ad490fb6.4830f","type":"function","z":"c2b2f1f5.d3b3f","name":"Set measurement type","func":"var _measurementType = {};\n\nfor(i=0; i<msg.payload.rows.length; i++){\n    _measurementType[msg.payload.rows[i].name] = msg.payload.rows[i].id;\n}\n\nmsg.measurementType = _measurementType;\n\nflow.set(\"measurementType\", _measurementType);\n\nreturn msg;\n//return null;","outputs":1,"noerr":0,"x":1077,"y":84,"wires":[["30862fe.1b71dd"]]},{"id":"9be14a26.cc72e8","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"xxxxxx.crt.pem","keyname":"xxxxxx.key.pem","caname":"xxxxxx.pem","verifyservercert":false},{"id":"eacfbdbd.a680e","type":"postgresDB","z":"","name":"@localhost:5432/hepwat","host":"localhost","port":"5432","database":"hepwat","ssl":false,"max":"100","min":1,"idle":"1000"},{"id":"b69c1c71.c350c","type":"postgresDB","z":"","name":"@localhost:5432/hepwat","host":"localhost","port":"5432","database":"hepwat","ssl":false,"max":"100","min":1,"idle":"1000"}]