datarobotfactory/flows/Kemira devices to Kafka.txt
[{"id":"e0ee672e.240d38","type":"subflow","name":"robot monitor 17","info":"","in":[{"x":60.60003662109375,"y":199.60000610351562,"wires":[{"id":"8c82de1b.1fef4"}]}],"out":[{"x":620,"y":200,"wires":[{"id":"7cfae748.55a568","port":0}]}]},{"id":"8c82de1b.1fef4","type":"switch","z":"e0ee672e.240d38","name":"Is this flow enabled?","property":"start-stop","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":260,"y":200,"wires":[["7cfae748.55a568"]]},{"id":"49439bdd.0960e4","type":"ui_switch","z":"e0ee672e.240d38","name":"","label":"Stop/Start Robot:","group":"f99ef871.8b5b28","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":790,"y":438,"wires":[["701666ef.50d1e8","29004a52.c24c26"]]},{"id":"701666ef.50d1e8","type":"change","z":"e0ee672e.240d38","name":"Enable / Disable this flow","rules":[{"t":"set","p":"start-stop","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"emailSent","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1043,"y":407,"wires":[[]]},{"id":"30f17a31.f65456","type":"ui_gauge","z":"e0ee672e.240d38","name":"Operating Sensors","group":"f99ef871.8b5b28","order":1,"width":0,"height":0,"gtype":"gage","title":"{{msg.gaugeLabel}}","label":"%","format":"{{msg.availableSensors}}","min":0,"max":"100","colors":["#ca3838","#e6e600","#00b500"],"seg1":"33","seg2":"66","x":1164.000015258789,"y":1049.0000162124634,"wires":[]},{"id":"df794910.420308","type":"ui_text","z":"e0ee672e.240d38","group":"f99ef871.8b5b28","order":4,"width":0,"height":0,"name":"","label":"Last Run:","format":"{{msg.lastrun}}","layout":"row-spread","x":1208,"y":588,"wires":[]},{"id":"6cf30b0d.80f6b4","type":"comment","z":"e0ee672e.240d38","name":"Flow to monitor robot","info":"","x":140,"y":129,"wires":[]},{"id":"53bcb3c7.637acc","type":"comment","z":"e0ee672e.240d38","name":"Stop / Start robot monitor","info":"","x":385,"y":377,"wires":[]},{"id":"800edb06.7cbc98","type":"comment","z":"e0ee672e.240d38","name":"Calculate percentage of operating sensors","info":"","x":439.00001525878906,"y":1007.0000162124634,"wires":[]},{"id":"b4c1d2e9.a763b","type":"comment","z":"e0ee672e.240d38","name":"Flow for logging and error handling","info":"","x":180,"y":1188,"wires":[]},{"id":"63343059.13d9f","type":"switch","z":"e0ee672e.240d38","name":"Is notification enabled?","property":"notification","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":309.00000381469727,"y":1243,"wires":[[]]},{"id":"d01aab38.4c68f8","type":"ui_switch","z":"e0ee672e.240d38","name":"Notification","label":"Notification:","group":"f99ef871.8b5b28","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":770,"y":771,"wires":[["b9227f9f.6fe5c","e8c2458.cde85b8"]]},{"id":"b9227f9f.6fe5c","type":"change","z":"e0ee672e.240d38","name":"Enable / Disable notification","rules":[{"t":"set","p":"notification","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":996,"y":744,"wires":[[]]},{"id":"ac099f95.06626","type":"catch","z":"e0ee672e.240d38","name":"","scope":null,"x":101.00000381469727,"y":1243,"wires":[["63343059.13d9f"]]},{"id":"637a40e3.12b1","type":"e-mail","z":"e0ee672e.240d38","server":"localhost","port":"25","secure":false,"name":"","dname":"Send error mail","x":781.0000038146973,"y":1243,"wires":[]},{"id":"42c576e4.744a48","type":"function","z":"e0ee672e.240d38","name":"Prepare error email","func":"// Only create one user notification\nif(flow.get('mailSent')){\n    return null;\n} else {\n\n    msg.to = 'mail@to.dk';\n    msg.from = 'mail@from.dk';\n    msg.topic = 'Error in robot monitor for flow: Kemira devices to Kafka';\n    \n    if(msg.error && msg.error.message){\n        msg.payload = '<p style=\"font-family: Trebuchet MS;\">The following error was thrown:</p>';\n        msg.payload += '<p style=\"font-family: Trebuchet MS;\">' + msg.error.message + '</p>';\n        if(msg.error.source){\n            msg.payload += '<p style=\"font-family: Trebuchet MS;\"><b>Source:</b>';\n            if(msg.error.source.id) msg.payload +=   '<li style=\"font-family: Trebuchet MS;\">Id: ' + msg.error.source.id + '</li>';\n            if(msg.error.source.type) msg.payload += '<li style=\"font-family: Trebuchet MS;\">Type: ' + msg.error.source.type + '</li>';\n            if(msg.error.source.name) msg.payload += '<li style=\"font-family: Trebuchet MS;\">Name: ' + msg.error.source.name + '</li>';\n            msg.payload += '</p>';\n        }\n        msg.payload += '<p><a href=\"http://localhost:1907/ui\" target=\"_blank\">Goto dashboard...</a></p>';\n    }\n    flow.set('mailSent', true);\n    return msg;\n}","outputs":1,"noerr":0,"x":559.0000038146973,"y":1243,"wires":[["637a40e3.12b1"]]},{"id":"677e4710.71ba08","type":"ui_text","z":"e0ee672e.240d38","group":"f99ef871.8b5b28","order":3,"width":0,"height":0,"name":"","label":"Interval:","format":"{{msg.interval}}","layout":"row-spread","x":1209,"y":545,"wires":[]},{"id":"d8e422a8.781cc","type":"http in","z":"e0ee672e.240d38","name":"","url":"/kemira_log","method":"get","upload":false,"swaggerDoc":"","x":118.00000381469727,"y":1370,"wires":[["1017b2e5.b246cd"]]},{"id":"7977f60b.27b138","type":"http response","z":"e0ee672e.240d38","name":"","statusCode":"","headers":{},"x":762.0000038146973,"y":1370,"wires":[]},{"id":"1017b2e5.b246cd","type":"file in","z":"e0ee672e.240d38","name":"","filename":"/usr/src/node-red/hepwat.log","format":"utf8","chunk":false,"sendError":false,"x":368.00000381469727,"y":1370,"wires":[["d109ab5a.4e97b8"]]},{"id":"d109ab5a.4e97b8","type":"function","z":"e0ee672e.240d38","name":"Format log data","func":"msg.payload = msg.payload.replace(/\\n/gm,'<br>');\nreturn msg;","outputs":1,"noerr":0,"x":599.0000038146973,"y":1370,"wires":[["7977f60b.27b138"]]},{"id":"f0c05e6c.44d57","type":"comment","z":"e0ee672e.240d38","name":"Flow for viewing log file","info":"","x":138.00000381469727,"y":1321,"wires":[]},{"id":"7cfae748.55a568","type":"function","z":"e0ee672e.240d38","name":"Cleanup","func":"delete msg.updateLastRun;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":200,"wires":[[]]},{"id":"447b4a94.c1b7a4","type":"postgrestor","z":"e0ee672e.240d38","name":"Select last run data","query":"SELECT sensor_object_node_key, interval, lastrun \nFROM public.sensor_object_nodes \nWHERE datasource_id = {{{msg.payload.dataSource.id}}};","postgresDB":"1ad36de3.2d14c2","output":true,"outputs":1,"x":364,"y":929,"wires":[["b0f9f622.af4778"]]},{"id":"b0f9f622.af4778","type":"function","z":"e0ee672e.240d38","name":"Determine node status","func":"var StatusEnum = {\n    STATUS_OPERATING: 'Operating',\n    STATUS_STOPPED: 'Stopped',\n    STATUS_NO_SIGNAL: 'No signal'\n};\n\nvar i = 0;\nvar _updateStatus = '';\n\nfor ( i = 0; i < msg.payload.rows.length; i++ ) {\n  var _sensor_object_node_key = msg.payload.rows[i].sensor_object_node_key;\n  var _interval = msg.payload.rows[i].interval;\n  var _now = new Date().getTime();\n  var _status = null;\n  var _lastrun = null;\n  \n  if(msg.payload.rows[i].lastrun){\n      _lastrun = msg.payload.rows[i].lastrun.getTime()\n  }\n  \n  if(_lastrun){\n    var _timediff = _now - _lastrun;\n    if(_timediff < 2 * _interval){\n      _status = StatusEnum.STATUS_OPERATING;\n    }\n    else{\n      _status = StatusEnum.STATUS_STOPPED;\n    }\n  }\n  else{\n    _status = StatusEnum.STATUS_NO_SIGNAL;\n  }\n  _updateStatus += \"UPDATE public.sensor_object_nodes SET status = '\" + _status  + \"' WHERE (sensor_object_node_key = \" + _sensor_object_node_key + \");\"; \n}\n\nmsg.updateStatus = _updateStatus;\n\nreturn msg;","outputs":1,"noerr":0,"x":625,"y":929,"wires":[["b09b968c.499bc8"]]},{"id":"b09b968c.499bc8","type":"postgrestor","z":"e0ee672e.240d38","name":"Update node status","query":"{{{msg.updateStatus}}}\n","postgresDB":"1ad36de3.2d14c2","output":true,"outputs":1,"x":855,"y":929,"wires":[["4e9d4e33.c1159"]]},{"id":"dbc01040.67d86","type":"postgrestor","z":"e0ee672e.240d38","name":"Query Sensor Data","query":"{{{msg.sqlStatements}}}","postgresDB":"1ad36de3.2d14c2","output":true,"outputs":1,"x":804.0000152587891,"y":1068.0000162124634,"wires":[["d758ff36.95051"]]},{"id":"4e9d4e33.c1159","type":"function","z":"e0ee672e.240d38","name":"Get sensor data","func":"var i;\nvar sqlStatements = '';\nvar dataSource = flow.get('dataSource');\n\n// Count number of operating sensors\nsqlStatements = \"SELECT count(*) FROM public.sensor_object_nodes WHERE datasource_id = \" + dataSource.id + \" AND status = 'Operating';\";\n\n// Count total number of sensors\nsqlStatements += \"SELECT count(*) FROM public.sensor_object_nodes WHERE datasource_id = \" + dataSource.id + \";\";     \n\nmsg.sqlStatements = sqlStatements;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":609.0000152587891,"y":1068.0000162124634,"wires":[["dbc01040.67d86"]]},{"id":"d758ff36.95051","type":"function","z":"e0ee672e.240d38","name":"Calculate","func":"var allSensors = msg.payload.rows[1].count;\nvar operatingSensors = msg.payload.rows[0].count;\nvar availableSensors;\nvar dataSource = flow.get('dataSource');\n\nif(allSensors && allSensors > 0 ){\n    availableSensors = Math.round((operatingSensors / allSensors) * 100);\n    if(availableSensors === 0){\n        secondsAlive = (Date.now() - flow.get('tsRobotStarted')) * 0.001;\n        // node.log(\"secondsAlive = \" + secondsAlive.toFixed(2));\n        if(secondsAlive > 2){\n            node.error(\"No operating sensors are available!\", msg);\n        }\n    }\n}\n\nmsg.gaugeLabel = \"Operating Sensors \" + operatingSensors + \":\" + allSensors; \nmsg.availableSensors = availableSensors;\nmsg.payload = availableSensors;\n\nmsg.updateAvailability = \"UPDATE public.datasource SET availability = \" + msg.payload +\n                         \" WHERE datasource_id = \" + dataSource.id + \";\";\n                         \nreturn msg;\n","outputs":1,"noerr":0,"x":979.0000152587891,"y":1068.0000162124634,"wires":[["30f17a31.f65456","1ff38160.ece0ff"]]},{"id":"2af211c8.9a2d8e","type":"postgrestor","z":"e0ee672e.240d38","name":"Query Sensor Object Nodes","query":"SELECT sensor_object_node_key, name, description, status \nFROM public.sensor_object_nodes \nWHERE datasource_id = {{{msg.payload.dataSource.id}}} ORDER BY sensor_object_node_key;","postgresDB":"1ad36de3.2d14c2","output":true,"outputs":1,"x":394,"y":589,"wires":[["19347394.df200c"]]},{"id":"19347394.df200c","type":"function","z":"e0ee672e.240d38","name":"Device list","func":"var sensors = [];\nvar i;\nvar jsonText = \"\";\n\nfor ( i = 0; i < msg.payload.rows.length; i++ ) {\n  var _sensor_object_node_key = msg.payload.rows[i].sensor_object_node_key;\n  var _name = msg.payload.rows[i].name;\n  var _description = msg.payload.rows[i].description;\n  var _status = msg.payload.rows[i].status;\n  var data = _sensor_object_node_key;\n  var elem = {};\n  var label;\n  \n  label = _sensor_object_node_key + \" : \" + _description;\n  \n  elem[label] = data;\n  sensors.push(elem);\n}\n\nmsg.options = sensors;\nreturn msg;","outputs":1,"noerr":0,"x":572,"y":635,"wires":[["c9267aac.beaab8"]]},{"id":"e858f5f0.95a428","type":"postgrestor","z":"e0ee672e.240d38","name":"Select operation data","query":"select interval, lastrun, status from public.sensor_object_nodes\nwhere sensor_object_node_key = {{{msg.payload}}};","postgresDB":"1ad36de3.2d14c2","output":true,"outputs":1,"x":857,"y":636,"wires":[["1dd64931.f257d7"]]},{"id":"e598b163.d960a","type":"comment","z":"e0ee672e.240d38","name":"Update sensor status in PostgreSQL","info":"","x":416,"y":875,"wires":[]},{"id":"f7bee407.9d6b68","type":"ui_text","z":"e0ee672e.240d38","group":"f99ef871.8b5b28","order":5,"width":0,"height":0,"name":"","label":"Sensor Status:","format":"{{msg.status}}","layout":"row-spread","x":1228,"y":628,"wires":[]},{"id":"c9267aac.beaab8","type":"ui_dropdown","z":"e0ee672e.240d38","name":"Dropdown","label":"","place":"Select sensor...","group":"f99ef871.8b5b28","order":2,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":704.5,"y":588.6499633789062,"wires":[["e858f5f0.95a428"]]},{"id":"1dd64931.f257d7","type":"function","z":"e0ee672e.240d38","name":"Change format","func":"msg.interval = \"\";\nmsg.lastrun = \"\";\nmsg.status = \"\";\n\nif(msg.payload.rows[0].interval && msg.payload.rows[0].interval > 0){\n    var interval = msg.payload.rows[0].interval;  // interval in milliseconds\n    var time;\n    var unit;\n\n    if (0 < interval && interval <= 60000){                // convert interval to seconds\n      time = interval / 1000;\n      unit = \" [sec]\";    \n    } else if (60000 < interval && interval <= 3600000) {  // convert interval to minutes\n      time = interval / 1000 / 60;\n      unit = \" [min]\";\n    } else if (3600000 < interval) {                       // convert interval to hours\n      time = interval / 1000 / 60 / 60;\n      unit = \" [hour]\";\n    } else {\n      time = \"\";\n      unit = \" [-]\";\n    }\n    \n    msg.interval = time + unit;\n}\nif(msg.payload.rows[0].lastrun){\n    //var localDate = msg.payload.rows[0].lastrun.toISOString();\n    var localDate = msg.payload.rows[0].lastrun.toLocaleString();\n    msg.lastrun = localDate;\n}\nif(msg.payload.rows[0].status){\n    msg.status = msg.payload.rows[0].status;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":589,"wires":[["df794910.420308","677e4710.71ba08","f7bee407.9d6b68"]]},{"id":"bf5582ac.96a29","type":"postgrestor","z":"e0ee672e.240d38","name":"Select robot started data","query":"SELECT robot_started FROM public.datasource WHERE datasource_id = {{{msg.payload.dataSource.id}}}","postgresDB":"1ad36de3.2d14c2","output":true,"outputs":1,"x":384,"y":438,"wires":[["ec97f839.a2e048"]]},{"id":"c75a28b8.857d68","type":"postgrestor","z":"e0ee672e.240d38","name":"Update robot status","query":"--UPDATE public.datasource \n--SET robot_started = {{{msg.payload}}} \n--WHERE datasource_id = {{{flow.get('dataSource').id}}};\n\n{{{msg.updateRobotStarted}}}","postgresDB":"1ad36de3.2d14c2","output":true,"outputs":1,"x":1163,"y":451,"wires":[[]]},{"id":"ec97f839.a2e048","type":"function","z":"e0ee672e.240d38","name":"Return status","func":"msg.payload = msg.payload.rows[0].robot_started;\nreturn msg;","outputs":1,"noerr":0,"x":592,"y":438,"wires":[["49439bdd.0960e4"]]},{"id":"46d66e34.fcda3","type":"postgrestor","z":"e0ee672e.240d38","name":"Query notification status","query":"SELECT notification_on \nFROM public.datasource \nWHERE datasource_id = {{{msg.payload.dataSource.id}}};","postgresDB":"1ad36de3.2d14c2","output":true,"outputs":1,"x":385,"y":771,"wires":[["18c4327d.b8b04e"]]},{"id":"9cac187a.e6d398","type":"postgrestor","z":"e0ee672e.240d38","name":"Update notification status","query":"{{{msg.updateNotification}}}\n","postgresDB":"1ad36de3.2d14c2","output":true,"outputs":1,"x":1127,"y":798,"wires":[[]]},{"id":"18c4327d.b8b04e","type":"function","z":"e0ee672e.240d38","name":"Return status","func":"msg.payload = msg.payload.rows[0].notification_on;\nreturn msg;","outputs":1,"noerr":0,"x":592,"y":771,"wires":[["d01aab38.4c68f8"]]},{"id":"e3ae7d0c.70628","type":"comment","z":"e0ee672e.240d38","name":"Get data for selected sensor from PostgreSQL","info":"","x":446,"y":534,"wires":[]},{"id":"344c2f51.33eee","type":"comment","z":"e0ee672e.240d38","name":"Enable / Disable notification","info":"","x":396,"y":719,"wires":[]},{"id":"1ff38160.ece0ff","type":"postgrestor","z":"e0ee672e.240d38","name":"Update availability","query":"--UPDATE public.datasource \n--SET availability = {{{msg.payload}}} \n--WHERE datasource_id = {{{flow.get('dataSource').id}}};\n\n{{{msg.updateAvailability}}}\n","postgresDB":"1ad36de3.2d14c2","output":true,"outputs":1,"x":1165.000015258789,"y":1091.0000162124634,"wires":[[]]},{"id":"92648ead.d1a24","type":"comment","z":"e0ee672e.240d38","name":"== REMEMBER TO CONFIGURE PAYLOAD AND REPEAT PROPERTY OF INJECT NODE ==","info":"","x":670,"y":40,"wires":[]},{"id":"4cdbe8d3.0210e8","type":"function","z":"e0ee672e.240d38","name":"Set dataSource","func":"flow.set('dataSource', msg.payload.dataSource);\nreturn msg;","outputs":1,"noerr":0,"x":123,"y":438,"wires":[["bf5582ac.96a29","2af211c8.9a2d8e","46d66e34.fcda3"]]},{"id":"4ac7552a.2b220c","type":"inject","z":"e0ee672e.240d38","name":"","topic":"","payload":"{\"dataSource\":{\"id\":1017}}","payloadType":"json","repeat":"1800","crontab":"","once":true,"x":90,"y":380,"wires":[["4cdbe8d3.0210e8"]]},{"id":"29004a52.c24c26","type":"function","z":"e0ee672e.240d38","name":"sqlRobot","func":"// Update robot status in PostgreSQL\nvar dataSource = flow.get('dataSource');\n\nmsg.updateRobotStarted = \"UPDATE public.datasource SET robot_started = \" + msg.payload +\n                         \" WHERE datasource_id = \" + dataSource.id + \";\";\n\n// Reset notification counter\nflow.set('mailSent', false);\n\n// Timestamp for when robot is started\nif(msg.payload){\n    flow.set('tsRobotStarted', Date.now());\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":993.5,"y":450.5999755859375,"wires":[["c75a28b8.857d68"]]},{"id":"e8c2458.cde85b8","type":"function","z":"e0ee672e.240d38","name":"sqlNotify","func":"var dataSource = flow.get('dataSource');\n\nmsg.updateNotification = \"UPDATE public.datasource SET notification_on = \" + msg.payload +\n                         \" WHERE datasource_id = \" + dataSource.id + \";\";\n\nreturn msg;","outputs":1,"noerr":0,"x":936,"y":799,"wires":[["9cac187a.e6d398"]]},{"id":"3d79aacb.738ee6","type":"comment","z":"e0ee672e.240d38","name":"Flows to monitor functionality","info":"","x":160,"y":305,"wires":[]},{"id":"dc0e9196.ec8a6","type":"function","z":"e0ee672e.240d38","name":"Set dataSource","func":"flow.set('dataSource', msg.payload.dataSource);\nreturn msg;","outputs":1,"noerr":0,"x":125,"y":816,"wires":[["447b4a94.c1b7a4"]]},{"id":"8d021219.0049c","type":"inject","z":"e0ee672e.240d38","name":"","topic":"","payload":"{\"dataSource\":{\"id\":1017}}","payloadType":"json","repeat":"1800","crontab":"","once":true,"x":92,"y":758,"wires":[["dc0e9196.ec8a6"]]},{"id":"f99ef871.8b5b28","type":"ui_group","z":"e0ee672e.240d38","name":"Kemira","tab":"a7d68ce9.5edca","order":3,"disp":false,"width":"6"},{"id":"1ad36de3.2d14c2","type":"postgresDB","z":"","name":"@localhost:5432/hepwat","host":"localhost","port":"5432","database":"hepwat","ssl":false,"max":"100","min":1,"idle":"1000"},{"id":"a7d68ce9.5edca","type":"ui_tab","z":"","name":"Kemira","icon":"dashboard","order":1},{"id":"2dd19b01.ea1894","type":"tab","label":"Kemira H2S devices to Kafka","disabled":false,"info":""},{"id":"faf665ef.3d93f8","type":"sagofonto-kafka-producer","z":"2dd19b01.ea1894","kafkaHost":"localhost:9092","connectTimeout":"10000","requestTimeout":"30000","requireAcks":"1","ackTimeoutMs":"100","partitionerType":"3","topicName":"raw-test-10","compressionOption":"0","x":1011.9999694824219,"y":618.0000095367432,"wires":[["17448343.9ba71d"]]},{"id":"fe51d9ad.4eda68","type":"inject","z":"2dd19b01.ea1894","name":"Start import","topic":"","payload":"{\"dataSource\":{\"id\":1017,\"name\":\"Kemira Devices\",\"url\":\"localhost\",\"description\":\"Kemira Devices\",\"username\":\"xxxxxx\",\"password\":\"xxxxxxxx\",\"authentification\":{\"type\":\"Basic\"},\"rootTopic\":\"\",\"defaultInterval\":10800000,\"dashboard\":{\"url\":\"http://localhost:1907/ui\"},\"serverPath\":\"/\"}}","payloadType":"json","repeat":"3600","crontab":"","once":true,"x":148,"y":141.9999942779541,"wires":[["7f5ab31b.28ee0c","2092026.d7fe4fe"]]},{"id":"7088dd21.11da84","type":"postgrestor","z":"2dd19b01.ea1894","name":"Insert datasource","query":"INSERT INTO public.DATASOURCE (DATASOURCE_ID, NAME, URL, AUTHENTICATION_TYPE, DESCRIPTION, USERNAME, PASSWORD, UPDATED, DASHBOARD_URL)\nVALUES (\n  {{{ msg.payload.dataSource.id }}}, \n '{{{ msg.payload.dataSource.name }}}', \n '{{{ msg.payload.dataSource.url }}}', \n '{{{ msg.payload.dataSource.authentification.type }}}', \n '{{{ msg.payload.dataSource.description }}}',\n '{{{ msg.payload.dataSource.username }}}',\n '{{{ msg.payload.dataSource.password }}}',\n LOCALTIMESTAMP,\n '{{{ msg.payload.dataSource.dashboard.url }}}')\nON CONFLICT (DATASOURCE_ID) DO UPDATE\nSET\n   NAME = '{{{ msg.payload.dataSource.name }}}',\n   URL = '{{{ msg.payload.dataSource.url }}}',\n   AUTHENTICATION_TYPE = '{{{ msg.payload.dataSource.authentification.type }}}',\n   DESCRIPTION = '{{{ msg.payload.dataSource.description }}}',\n   USERNAME = '{{{ msg.payload.dataSource.username }}}',\n   PASSWORD = '{{{ msg.payload.dataSource.password }}}',\n   UPDATED = LOCALTIMESTAMP,\n   DASHBOARD_URL = '{{{ msg.payload.dataSource.dashboard.url }}}';\n   \n","postgresDB":"8f33f20a.34529","output":false,"outputs":1,"x":557.0000839233398,"y":142.00005626678467,"wires":[["cca87bd3.7d4fb8"]]},{"id":"91d38f97.ad9db","type":"function","z":"2dd19b01.ea1894","name":"Create Sensor Object","func":"// var dataSource = msg.payload.dataSource;\nvar dataSource = flow.get(\"dataSource\");\nvar device_ids = flow.get(\"device_ids\");\n\nfor(i = 0; i < device_ids.length; i++){\n    node.send({ \n        dataSourceId: dataSource.id,\n        nodeId: device_ids[i],\n        browseName: 'kemira-device',\n        displayName: 'Kemira H2S device',\n        description: 'Kemira H2S device'\n    });\n}\n\nreturn null;","outputs":"1","noerr":0,"x":951.0000381469727,"y":183.00003242492676,"wires":[["efdaa08a.2972a"]]},{"id":"efdaa08a.2972a","type":"postgrestor","z":"2dd19b01.ea1894","name":"Create or update Sensor Objects","query":"-- Insert or Update Sensor Object\nINSERT INTO public.SENSOR_OBJECT (DATASOURCE_ID, SENSOR_OBJECT_ID, NAME, DESCRIPTION, UPDATED)\nVALUES (\n {{{ msg.dataSourceId }}}, \n'{{{ msg.nodeId }}}', \n'{{{ msg.displayName }}}', \n'{{{ msg.description }}}', \nLOCALTIMESTAMP)\nON CONFLICT (DATASOURCE_ID, SENSOR_OBJECT_ID) DO UPDATE\nSET\n   NAME = '{{{ msg.displayName }}}',\n   DESCRIPTION = '{{{ msg.description }}}',\n   UPDATED = LOCALTIMESTAMP ;\n   ","postgresDB":"8f33f20a.34529","output":false,"outputs":1,"x":1272.9999923706055,"y":182.9999942779541,"wires":[[]]},{"id":"20cd8a7a.57f046","type":"function","z":"2dd19b01.ea1894","name":"Create Sensor Object Nodes","func":"// var dataSource = msg.payload.dataSource;\nvar dataSource = flow.get(\"dataSource\");\nvar device_ids = flow.get(\"device_ids\");\nvar measurementType = flow.get(\"measurementType\");\n\nfor(i = 0; i < device_ids.length; i++){\n    node.send({\n        dataSourceId: dataSource.id,\n        parentNodeId: device_ids[i],\n        topic: '0000',\n        browseName: 'h2s_ppm', \n        description: 'Kemira H2S Probe', \n        dataType: 'integer', \n        //nodeTypeOld: 'sensor',\n        nodeDomain: '',\n        readable: true, \n        writeable: false, \n        defaultInterval: (dataSource.defaultInterval ? dataSource.defaultInterval : 10800000),\n        unit: 'ppm',\n        nodeType: measurementType[\"Svovlbrinteniveau\"]\n    });\n    node.send({\n        dataSourceId: dataSource.id,\n        parentNodeId: device_ids[i],\n        topic: '1111',\n        browseName: 'temp_c', \n        description: 'Kemira Temp Probe', \n        dataType: 'integer', \n        //nodeTypeOld: 'sensor',\n        nodeDomain: '',\n        readable: true, \n        writeable: false, \n        defaultInterval: (dataSource.defaultInterval ? dataSource.defaultInterval : 10800000),\n        unit: '°C',\n        nodeType: measurementType[\"Temperatur\"]\n    });\n    node.send({\n        dataSourceId: dataSource.id,\n        parentNodeId: device_ids[i],\n        topic: '2222',\n        browseName: 'batt_lvl', \n        description: 'Kemira Battery Level', \n        dataType: 'integer', \n        //nodeTypeOld: 'sensor',\n        nodeDomain: '',\n        readable: true, \n        writeable: false, \n        defaultInterval: (dataSource.defaultInterval ? dataSource.defaultInterval : 10800000),\n        unit: '%',\n        nodeType: measurementType[\"Batteristatus\"]\n    });\n}\n\nreturn null;\n\n","outputs":"1","noerr":0,"x":971.0000076293945,"y":228.00005435943604,"wires":[["eb007d7c.7165c"]]},{"id":"eb007d7c.7165c","type":"postgrestor","z":"2dd19b01.ea1894","name":"Create or update Sensor Object Nodes","query":"-- Insert or Update Sensor Object Nodes\nINSERT INTO public.sensor_object_nodes (\n    datasource_id, sensor_object_id, sensor_object_node_id, name, \n    description, datatype, nodedomain, readable, writeable, \"interval\", \n    updated, unit, nodetype)\nVALUES (\n     {{{ msg.dataSourceId }}}, \n    '{{{ msg.parentNodeId }}}', \n    '{{{ msg.topic }}}', \n    '{{{ msg.browseName }}}', \n    '{{{ msg.description }}}', \n    '{{{ msg.dataType }}}',\n    '{{{ msg.nodeDomain }}}',\n     {{{ msg.readable }}}, \n     {{{ msg.writeable }}}, \n     {{{ msg.defaultInterval }}}, \n    LOCALTIMESTAMP,\n    '{{{ msg.unit }}}',\n     {{{ msg.nodeType }}}\n)\nON CONFLICT (DATASOURCE_ID, SENSOR_OBJECT_ID, SENSOR_OBJECT_NODE_ID) DO UPDATE\nSET\n   name = '{{{ msg.browseName }}}', \n   description = '{{{ msg.description }}}', \n   datatype = '{{{ msg.dataType }}}',\n   nodedomain = '{{{ msg.nodeDomain }}}',\n   readable = {{{ msg.readable }}}, \n   writeable = {{{ msg.writeable }}}, \n   \"interval\" = {{{ msg.defaultInterval }}}, \n   updated = LOCALTIMESTAMP,\n   unit = '{{{ msg.unit }}}',\n   nodetype =  {{{ msg.nodeType }}};","postgresDB":"8f33f20a.34529","output":true,"outputs":1,"x":1282.0000305175781,"y":228.00005292892456,"wires":[[]]},{"id":"2dd57cb7.96a514","type":"comment","z":"2dd19b01.ea1894","name":"Prepare and save metadata concerning Kemira object","info":"","x":253.99999237060547,"y":70.99999141693115,"wires":[]},{"id":"172877cb.c87378","type":"comment","z":"2dd19b01.ea1894","name":"Read Kemira topics from database and produce data for Kafka topic","info":"","x":296,"y":330.0000419616699,"wires":[]},{"id":"debc4699.b96288","type":"catch","z":"2dd19b01.ea1894","name":"","scope":null,"x":115,"y":814,"wires":[["37006bbd.c3cbd4"]]},{"id":"115b49af.9d0f96","type":"e-mail","z":"2dd19b01.ea1894","server":"localhost","port":"25","secure":false,"name":"","dname":"Send error mail","x":837,"y":814,"wires":[]},{"id":"7ceecf1b.df428","type":"function","z":"2dd19b01.ea1894","name":"Prepare error email","func":"msg.to = 'mail@to.dk';\nmsg.from = 'mail@from.dk';\nmsg.topic = 'Error in Node-Red flow: Kemira devices to Kafka';\n\nif(msg.error && msg.error.message){\n    msg.payload = '<p style=\"font-family: Trebuchet MS;\">The following error was thrown:</p>';\n    msg.payload += '<p style=\"font-family: Trebuchet MS;\">' + msg.error.message + '</p>';\n    if(msg.error.source){\n        msg.payload += '<p style=\"font-family: Trebuchet MS;\"><b>Source:</b>';\n        if(msg.error.source.id) msg.payload +=   '<li style=\"font-family: Trebuchet MS;\">Id: ' + msg.error.source.id + '</li>';\n        if(msg.error.source.type) msg.payload += '<li style=\"font-family: Trebuchet MS;\">Type: ' + msg.error.source.type + '</li>';\n        if(msg.error.source.name) msg.payload += '<li style=\"font-family: Trebuchet MS;\">Name: ' + msg.error.source.name + '</li>';\n        msg.payload += '</p>';\n    }\n    msg.payload += '<p><a href=\"http://localhost:1907/#flow/36e6cf43.b5715\" target=\"_blank\">Goto flow...</a></p>';\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":627,"y":814,"wires":[["115b49af.9d0f96"]]},{"id":"e88f60f8.86a8a","type":"comment","z":"2dd19b01.ea1894","name":"Logging and error handling","info":"","x":163.99999618530273,"y":757,"wires":[]},{"id":"3ff78c9f.925f14","type":"subflow:e0ee672e.240d38","z":"2dd19b01.ea1894","name":"","x":1226.9999656677246,"y":548.0000095367432,"wires":[["faf665ef.3d93f8"]]},{"id":"1985b070.d4054","type":"inject","z":"2dd19b01.ea1894","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 01 * * 1,3,5","once":false,"x":125.5,"y":870.2999877929688,"wires":[["21d0fee5.76b522"]]},{"id":"21d0fee5.76b522","type":"sagofonto-log-backup","z":"2dd19b01.ea1894","name":"","sourcePath":"/usr/src/node-red/","sourceFilename":"hepwat.log","destPath":"/usr/src/node-red/logs/","x":325.5,"y":870.7999877929688,"wires":[[]]},{"id":"aee995c9.c8cdd8","type":"postgrestor","z":"2dd19b01.ea1894","name":"Query Sensor Object Nodes","query":"SELECT sensor_object_id, sensor_object_node_id, sensor_object_node_key, datatype, \"interval\", lastrun\nFROM public.sensor_object_nodes\nWHERE (datasource_id = {{{ msg.dataSource.id }}}) AND (readable = true) \nORDER BY sensor_object_id, sensor_object_node_id ASC;","postgresDB":"f2177e1f.4b7db","output":true,"outputs":1,"x":341,"y":419.0000057220459,"wires":[["af63a81b.1854c8"]]},{"id":"35fc4979.e1a636","type":"function","z":"2dd19b01.ea1894","name":"Get DataSource","func":"msg.dataSource = flow.get('dataSource');\nreturn msg;","outputs":1,"noerr":0,"x":137,"y":383.0000057220459,"wires":[["aee995c9.c8cdd8"]]},{"id":"7f5ab31b.28ee0c","type":"function","z":"2dd19b01.ea1894","name":"Set flow var","func":"// Set flow variable\nflow.set('dataSource', msg.payload.dataSource);\nvar dataSource = flow.get('dataSource');\nmsg.serverPath = dataSource.serverPath;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":142,"wires":[["7088dd21.11da84","ca87c43a.d47968"]]},{"id":"17448343.9ba71d","type":"postgrestor","z":"2dd19b01.ea1894","name":"Update Last Run","query":"-- Update last run for Sensor Object Nodes\nUPDATE public.sensor_object_nodes\nSET lastrun = to_timestamp({{{msg.payload.timestamp}}} * 0.001), lastvalue = {{{msg.payload.value}}}\nWHERE (sensor_object_node_key = {{{msg.payload.hepwatDeviceId}}});\n","postgresDB":"72067c23.810354","output":true,"outputs":1,"x":1235.9999694824219,"y":618.0000085830688,"wires":[["f70cddb3.8c7f6"]]},{"id":"ca87c43a.d47968","type":"sagofonto_ftp in","z":"2dd19b01.ea1894","sagofonto_ftp":"d797d92.a53ee28","operation":"list","filename":"","localFilename":"","serverPath":"","name":"","x":516,"y":183,"wires":[["ae91a0d.e39ec6"]]},{"id":"ae91a0d.e39ec6","type":"function","z":"2dd19b01.ea1894","name":"Get device ids","func":"// Make list of device ids\n\nvar _type;\nvar _name;\nvar _device_ids = [];\nvar _isNewDevice = true;\n\nfor(var i = 0; i < msg.payload.length; i++){\n    _type = msg.payload[i].type;\n    if(_type == \"-\"){\n        _name = msg.payload[i].name;\n        var _tmpDevice = _name.split(\"_\")[2].split(\".\")[0];\n        for(var j = 0; j < _device_ids.length; j++){\n            if(_device_ids[j] == _tmpDevice){\n                _isNewDevice = false;\n                break;\n            }\n        }\n        if(_isNewDevice){\n            _device_ids.push(_tmpDevice);\n        }\n    }\n    _isNewDevice = true;\n}\n\nflow.set('device_ids', _device_ids);\nflow.set('file_list', msg.payload);\n\nmsg.device_ids = _device_ids;\n\nreturn msg;","outputs":1,"noerr":0,"x":686,"y":183,"wires":[["91d38f97.ad9db","20cd8a7a.57f046"]]},{"id":"2092026.d7fe4fe","type":"delay","z":"2dd19b01.ea1894","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":226,"wires":[["35fc4979.e1a636"]]},{"id":"7a568d4.447ab74","type":"function","z":"2dd19b01.ea1894","name":"Files to read","func":"// Get date now in YYYYMMDDhhmmss format\nvar _dateNow = getDateNow();\n\nvar _newFiles = [];\nvar _fileList = flow.get(\"file_list\");\n\n// Path on ftp server\nvar dataSource = flow.get('dataSource');\nvar ftpPath = dataSource.serverPath;\n\nfor(i = 0; i < _fileList.length; i++){\n    // File date in YYYYMMDDhhmmss format\n    var _fileDate = _fileList[i].name.split(\"_\")[0]+_fileList[i].name.split(\"_\")[1];\n    \n    // Select files less than 24 hours old\n    if(_dateNow - _fileDate < 1000000){\n        _newFiles.push(_fileList[i]);\n        node.send({\"filename\": ftpPath + _fileList[i].name,   // !!! ftp server path\n                   \"localFilename\": \"/usr/src/node-red/ftp_files/\" + _fileList[i].name\n        });\n    }\n}\n\n/*\nnode.send({\"filename\": \"/20181116_014009_500F1307.csv\",\n           \"localFilename\": \"/usr/src/node-red/ftp_files/20181116_014009_500F1307.csv\"\n        });\n*/\n\n//msg.newFiles = _newFiles.sort();\n//return msg;\n\nreturn null;\n\nfunction getDateNow(){\n    var d = new Date();\n    var YYYY = d.getFullYear();\n    var MM = (\"0\" + (d.getMonth() + 1)).slice(-2);\n    var DD = (\"0\" + d.getDate()).slice(-2); // !!! date to import\n    var hh = (\"0\" + d.getHours()).slice(-2);\n    var mm = (\"0\" + d.getMinutes()).slice(-2);\n    var ss = (\"0\" + d.getSeconds()).slice(-2);\n    \n    return YYYY + MM + DD + hh + mm + ss;\n}","outputs":1,"noerr":0,"x":699.0000305175781,"y":417.00000762939453,"wires":[["99725b85.cb1dd8"]]},{"id":"799801fd.30e26","type":"sagofonto_ftp in","z":"2dd19b01.ea1894","sagofonto_ftp":"d797d92.a53ee28","operation":"get","filename":"","localFilename":"","serverPath":"","name":"","x":980.0000076293945,"y":414.00000762939453,"wires":[["d2a0c19e.5ee9b"]]},{"id":"99725b85.cb1dd8","type":"delay","z":"2dd19b01.ea1894","name":"","pauseType":"rate","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":840.0000152587891,"y":382.0000057220459,"wires":[["799801fd.30e26"]]},{"id":"c2fbcb75.ccfe18","type":"csv to json ext","z":"2dd19b01.ea1894","name":"","version":"0.1","source":"filename","delimiter":";","quote":"\"","escape":"\"","ignoreEmpty":false,"checkType":false,"trim":false,"noheader":false,"includeColumns":"","headers":"\"Date_Time\", \"Battery_Level\", \"GSM_Strength\", \"Raw\", \"H2S\", \"Temp\", \"Gas_Raw\", \"Calc_1\", \"Calc_2\", \"Calc_3\", \"Calc_4\", \"Calc_5\", \"Empty\"","debug":false,"x":999.1000213623047,"y":473.60010528564453,"wires":[["a79bf954.9b4a08"]]},{"id":"d2a0c19e.5ee9b","type":"function","z":"2dd19b01.ea1894","name":"Filename","func":"// Overwriting content of variable\n// filename before ftp node\nmsg.filename = msg.localFilename;\nreturn msg;","outputs":1,"noerr":0,"x":1086.099967956543,"y":376.20000553131104,"wires":[["7c4e5294.f22e8c"]]},{"id":"af63a81b.1854c8","type":"function","z":"2dd19b01.ea1894","name":"Make node list","func":"var _sensorObjectNodes = [];\n\nfor (i = 0; i < msg.payload.rows.length; i++){\n    _sensorObjectNodes.push({\"sensor_object_id\": msg.payload.rows[i].sensor_object_id,\n                         \"sensor_object_node_id\" :msg.payload.rows[i].sensor_object_node_id,\n                         \"sensor_object_node_key\": msg.payload.rows[i].sensor_object_node_key,\n                         \"interval\": msg.payload.rows[i].interval,\n                         \"lastrun\": msg.payload.rows[i].lastrun\n        });\n}\n\nflow.set(\"sensorObjectNodes\", _sensorObjectNodes);\n\nreturn msg;","outputs":1,"noerr":0,"x":545.1000595092773,"y":384.2000045776367,"wires":[["7a568d4.447ab74"]]},{"id":"a79bf954.9b4a08","type":"function","z":"2dd19b01.ea1894","name":"Prepare topic payload","func":"try{\n    var _sensorObjectNodes = flow.get(\"sensorObjectNodes\");\n    var _value;\n    var _nodeKey;\n    var _lastRun;\n    var _timeStamp;\n    var _interval;\n    var _deviceId = msg.filename.split(\"/\")[5].split(\"_\")[2].split(\".\")[0];\n\n    if(msg.payload && msg.payload.length > 0) {\n        for(var i = 0; i < msg.payload.length; i++) {     \n            for(var j = 0; j < _sensorObjectNodes.length; j++){\n                if(_sensorObjectNodes[j].sensor_object_id == _deviceId){\n                    if(_sensorObjectNodes[j].sensor_object_node_id == '0000'){\n                        _value = toNumber(msg.payload[i].H2S);\n                    }\n                    if(_sensorObjectNodes[j].sensor_object_node_id == '1111'){\n                        _value = toNumber(msg.payload[i].Temp);\n                    }\n                    if(_sensorObjectNodes[j].sensor_object_node_id == '2222'){\n                        var _value = toNumber(msg.payload[i].Battery_Level);\n                    }\n                    \n                    _nodeKey = _sensorObjectNodes[j].sensor_object_node_key;\n                    _lastRun = _sensorObjectNodes[j].lastrun.getTime();                     // timestamp from PostgreSQL\n                    _timeStamp = (new Date(toDate(msg.payload[i].Date_Time))).getTime();    // timestamp from Kemira device\n                    _interval = _sensorObjectNodes[j].interval;\n                \n                    // Only send payload if new measurement\n                    if(_timeStamp > _lastRun && _value !== null && typeof _value !== 'undefined'){\n                        node.send({\n                            key: _nodeKey,\n                            payload: {\n                                lastrun: _lastRun,\n                                timestamp: _timeStamp,\n                                hepwatDeviceId: _nodeKey,\n                                value: _value,\n                                interval: _interval\n                            }\n                        });\n                    }\n                    \n                }\n            }\n        }\n    }\n    return null;\n    \n} catch (err) {\n        if(err.message){\n\t\t    // Trigger catch node\n            node.error(err.message, msg);\n        \n\t\t    // Log to console\n            node.error(err.message);\n        } else {\n            node.error(\"Prepare topic payload Error: \", err);\n        }\n}\n\n\nfunction toNumber(n) {\n    'use strict';\n    n = n.replace(/\\./g, '').replace(',', '.');\n    return Number(n);\n}\n\nfunction toDate(date){\n    var d = date.split(\" \");\n    d[0] = d[0].split(\"-\").reverse().join(\"-\");\n    d = d[0] + \" \" + d[1];\n    return d;\n}\n","outputs":1,"noerr":0,"x":1246.000015258789,"y":473.0000066757202,"wires":[["bed43c16.cfe23"]]},{"id":"f70cddb3.8c7f6","type":"debug","z":"2dd19b01.ea1894","name":"","active":false,"console":"false","complete":"true","x":1382.1001167297363,"y":663.0000104904175,"wires":[]},{"id":"bed43c16.cfe23","type":"delay","z":"2dd19b01.ea1894","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1000.0000286102295,"y":549.0000076293945,"wires":[["3ff78c9f.925f14"]]},{"id":"7c4e5294.f22e8c","type":"delay","z":"2dd19b01.ea1894","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1214.9999618530273,"y":411.0000066757202,"wires":[["c2fbcb75.ccfe18"]]},{"id":"37006bbd.c3cbd4","type":"file","z":"2dd19b01.ea1894","name":"","filename":"/usr/src/node-red/catch.log","appendNewline":true,"createDir":false,"overwriteFile":"false","x":375.1000061035156,"y":814,"wires":[]},{"id":"e932d0f6.70e1c","type":"function","z":"2dd19b01.ea1894","name":"Files to delete","func":"// Difference in date value\n// 100 for 30 days (20181224 - 20181124)\nvar dateDiff = 100;\n\n// Path on ftp server\nvar dataSource = flow.get('dataSource');\nvar ftpPath = dataSource.serverPath;\n\n// Today in YYYYMMDD format\nvar d = new Date();\nvar yyyy = d.getFullYear();\nvar mm = (\"0\" + (d.getMonth() + 1)).slice(-2);\nvar dd = (\"0\" + d.getDate()).slice(-2);\nvar _dateNow = yyyy + mm + dd;\n\n// Get list of ftp files\nvar _fileList = flow.get(\"file_list\");\n\n// Files to delete\nvar _delFiles = [];\nif(_fileList && _fileList.length > 0){\n    for(i = 0; i < _fileList.length; i++){\n        var _fileDate = _fileList[i].name.split(\"_\")[0];\n        if(Number(_dateNow - _fileDate) > dateDiff ){\n            if(fileExtension(_fileList[i].name) == \"csv\" && _fileList[i].type == \"-\"){\n                _delFiles.push(_fileList[i]);\n                node.send({\"filename\": ftpPath + _fileList[i].name,\n                           \"local_path\": \"/usr/src/node-red/ftp_files/\",\n                           \"local_filename\": _fileList[i].name\n                });\n            }\n        }\n    }\n}\n\nreturn null;\n\nfunction fileExtension(file){\n    var _fileExt = file.split(\".\")[file.split(\".\").length - 1];\n    return _fileExt;\n}","outputs":1,"noerr":0,"x":311.8999938964844,"y":620,"wires":[["d9dc9b03.afd318","a7ef70c5.612a2"]]},{"id":"400f423e.c7d0ec","type":"inject","z":"2dd19b01.ea1894","name":"Start delete","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 12 * * 0","once":false,"x":137,"y":620,"wires":[["e932d0f6.70e1c"]]},{"id":"d9dc9b03.afd318","type":"sagofonto_ftp in","z":"2dd19b01.ea1894","sagofonto_ftp":"d797d92.a53ee28","operation":"delete","filename":"","localFilename":"","serverPath":"","name":"Ftp server","x":514.9000015258789,"y":620.0000095367432,"wires":[[]]},{"id":"972f35fb.b13e68","type":"comment","z":"2dd19b01.ea1894","name":"Delete historic files on ftp server","info":"","x":186.89999389648438,"y":565,"wires":[]},{"id":"a7ef70c5.612a2","type":"fs-ops-delete","z":"2dd19b01.ea1894","name":"Local files","path":"local_path","pathType":"msg","filename":"local_filename","filenameType":"msg","x":514.0000686645508,"y":662.4000091552734,"wires":[[]]},{"id":"cca87bd3.7d4fb8","type":"postgrestor","z":"2dd19b01.ea1894","name":"Query measurement type","query":"SELECT * FROM config_measurement_type;","postgresDB":"556bad79.75dc24","output":true,"outputs":1,"x":791,"y":142,"wires":[["283c87a0.4e9bb8"]]},{"id":"283c87a0.4e9bb8","type":"function","z":"2dd19b01.ea1894","name":"Set measurement type","func":"var _measurementType = {};\n\nfor(i=0; i<msg.payload.rows.length; i++){\n    _measurementType[msg.payload.rows[i].name] = msg.payload.rows[i].id;\n}\n\nmsg.measurementType = _measurementType;\n\nflow.set(\"measurementType\", _measurementType);\n\nreturn msg;\n//return null;","outputs":1,"noerr":0,"x":1043,"y":142,"wires":[[]]},{"id":"8f33f20a.34529","type":"postgresDB","z":"","name":"@localhost:5432/hepwat","host":"localhost","port":"5432","database":"hepwat","ssl":false,"max":"100","min":1,"idle":"1000"},{"id":"f2177e1f.4b7db","type":"postgresDB","z":"","name":"@localhost:5432/hepwat","host":"localhost","port":"5432","database":"hepwat","ssl":false,"max":"100","min":1,"idle":"1000"},{"id":"72067c23.810354","type":"postgresDB","z":"","name":"@localhost:5432/hepwat","host":"localhost","port":"5432","database":"hepwat","ssl":false,"max":"100","min":1,"idle":"1000"},{"id":"d797d92.a53ee28","type":"sagofonto_ftp","z":"","host":"10.100.20.33","port":"","secureOptions":"","user":"Hepwap","connTimeout":"","pasvTimeout":"","keepalive":""},{"id":"556bad79.75dc24","type":"postgresDB","z":"","name":"@localhost:5432/hepwat","host":"localhost","port":"5432","database":"hepwat","ssl":false,"max":"100","min":1,"idle":"1000"}]