datarobotfactory/flows/Sigfox Wasys devices to Kafka.txt
[{"id":"e0ee672e.240d38","type":"subflow","name":"robot monitor 16","info":"","in":[{"x":60.60003662109375,"y":199.60000610351562,"wires":[{"id":"8c82de1b.1fef4"}]}],"out":[{"x":532,"y":200,"wires":[{"id":"7cfae748.55a568","port":0}]}]},{"id":"8c82de1b.1fef4","type":"switch","z":"e0ee672e.240d38","name":"Is this flow enabled?","property":"start-stop","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":218,"y":200,"wires":[["7cfae748.55a568"]]},{"id":"49439bdd.0960e4","type":"ui_switch","z":"e0ee672e.240d38","name":"","label":"Stop/Start Robot:","group":"f99ef871.8b5b28","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":790,"y":438,"wires":[["701666ef.50d1e8","29004a52.c24c26"]]},{"id":"701666ef.50d1e8","type":"change","z":"e0ee672e.240d38","name":"Enable / Disable this flow","rules":[{"t":"set","p":"start-stop","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"emailSent","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1043,"y":407,"wires":[[]]},{"id":"30f17a31.f65456","type":"ui_gauge","z":"e0ee672e.240d38","name":"Operating Sensors","group":"f99ef871.8b5b28","order":1,"width":0,"height":0,"gtype":"gage","title":"{{msg.gaugeLabel}}","label":"%","format":"{{msg.availableSensors}}","min":0,"max":"100","colors":["#ca3838","#e6e600","#00b500"],"seg1":"33","seg2":"66","x":1124,"y":1053,"wires":[]},{"id":"df794910.420308","type":"ui_text","z":"e0ee672e.240d38","group":"f99ef871.8b5b28","order":4,"width":0,"height":0,"name":"","label":"Last Run:","format":"{{msg.lastrun}}","layout":"row-spread","x":1208,"y":588,"wires":[]},{"id":"6cf30b0d.80f6b4","type":"comment","z":"e0ee672e.240d38","name":"Flow to monitor robot","info":"","x":140,"y":129,"wires":[]},{"id":"53bcb3c7.637acc","type":"comment","z":"e0ee672e.240d38","name":"Stop / Start robot monitor","info":"","x":385,"y":377,"wires":[]},{"id":"800edb06.7cbc98","type":"comment","z":"e0ee672e.240d38","name":"Calculate percentage of operating sensors","info":"","x":436,"y":992,"wires":[]},{"id":"b4c1d2e9.a763b","type":"comment","z":"e0ee672e.240d38","name":"Flow for logging and error handling","info":"","x":180,"y":1188,"wires":[]},{"id":"63343059.13d9f","type":"switch","z":"e0ee672e.240d38","name":"Is notification enabled?","property":"notification","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":309.00000381469727,"y":1243,"wires":[["42c576e4.744a48"]]},{"id":"d01aab38.4c68f8","type":"ui_switch","z":"e0ee672e.240d38","name":"Notification","label":"Notification:","group":"f99ef871.8b5b28","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":770,"y":771,"wires":[["b9227f9f.6fe5c","e8c2458.cde85b8"]]},{"id":"b9227f9f.6fe5c","type":"change","z":"e0ee672e.240d38","name":"Enable / Disable notification","rules":[{"t":"set","p":"notification","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":996,"y":744,"wires":[[]]},{"id":"ac099f95.06626","type":"catch","z":"e0ee672e.240d38","name":"","scope":null,"x":101.00000381469727,"y":1243,"wires":[["63343059.13d9f"]]},{"id":"637a40e3.12b1","type":"e-mail","z":"e0ee672e.240d38","server":"localhost","port":"25","secure":false,"name":"","dname":"Send error mail","x":781.0000038146973,"y":1243,"wires":[]},{"id":"42c576e4.744a48","type":"function","z":"e0ee672e.240d38","name":"Prepare error email","func":"// Only create one user notification\nif(flow.get('mailSent')){\n    return null;\n} else {\n\n    msg.to = 'mail@to.dk';\n    msg.from = 'mail@from.dk';\n    msg.topic = 'Error in robot monitor for flow: Wasys devices to Kafka';\n    \n    if(msg.error && msg.error.message){\n        msg.payload = '<p style=\"font-family: Trebuchet MS;\">The following error was thrown:</p>';\n        msg.payload += '<p style=\"font-family: Trebuchet MS;\">' + msg.error.message + '</p>';\n        if(msg.error.source){\n            msg.payload += '<p style=\"font-family: Trebuchet MS;\"><b>Source:</b>';\n            if(msg.error.source.id) msg.payload +=   '<li style=\"font-family: Trebuchet MS;\">Id: ' + msg.error.source.id + '</li>';\n            if(msg.error.source.type) msg.payload += '<li style=\"font-family: Trebuchet MS;\">Type: ' + msg.error.source.type + '</li>';\n            if(msg.error.source.name) msg.payload += '<li style=\"font-family: Trebuchet MS;\">Name: ' + msg.error.source.name + '</li>';\n            msg.payload += '</p>';\n        }\n        msg.payload += '<p><a href=\"http://localhost:1906/ui\" target=\"_blank\">Goto dashboard...</a></p>';\n    }\n    flow.set('mailSent', true);\n    return msg;\n}","outputs":1,"noerr":0,"x":559.0000038146973,"y":1243,"wires":[[]]},{"id":"677e4710.71ba08","type":"ui_text","z":"e0ee672e.240d38","group":"f99ef871.8b5b28","order":3,"width":0,"height":0,"name":"","label":"Interval:","format":"{{msg.interval}}","layout":"row-spread","x":1209,"y":545,"wires":[]},{"id":"d8e422a8.781cc","type":"http in","z":"e0ee672e.240d38","name":"","url":"/wasys_log","method":"get","upload":false,"swaggerDoc":"","x":118.00000381469727,"y":1370,"wires":[["1017b2e5.b246cd"]]},{"id":"7977f60b.27b138","type":"http response","z":"e0ee672e.240d38","name":"","statusCode":"","headers":{},"x":762.0000038146973,"y":1370,"wires":[]},{"id":"1017b2e5.b246cd","type":"file in","z":"e0ee672e.240d38","name":"","filename":"/usr/src/node-red/hepwat.log","format":"utf8","chunk":false,"sendError":false,"x":368.00000381469727,"y":1370,"wires":[["d109ab5a.4e97b8"]]},{"id":"d109ab5a.4e97b8","type":"function","z":"e0ee672e.240d38","name":"Format log data","func":"msg.payload = msg.payload.replace(/\\n/gm,'<br>');\nreturn msg;","outputs":1,"noerr":0,"x":599.0000038146973,"y":1370,"wires":[["7977f60b.27b138"]]},{"id":"f0c05e6c.44d57","type":"comment","z":"e0ee672e.240d38","name":"Flow for viewing log file","info":"","x":138.00000381469727,"y":1321,"wires":[]},{"id":"7cfae748.55a568","type":"function","z":"e0ee672e.240d38","name":"Cleanup","func":"delete msg.updateLastRun;\nreturn msg;","outputs":1,"noerr":0,"x":418,"y":200,"wires":[[]]},{"id":"447b4a94.c1b7a4","type":"postgrestor","z":"e0ee672e.240d38","name":"Select last run data","query":"SELECT sensor_object_node_key, interval, lastrun \nFROM public.sensor_object_nodes \nWHERE datasource_id = {{{msg.payload.dataSource.id}}};","postgresDB":"1ad36de3.2d14c2","output":true,"outputs":1,"x":364,"y":912,"wires":[["b0f9f622.af4778"]]},{"id":"b0f9f622.af4778","type":"function","z":"e0ee672e.240d38","name":"Determine node status","func":"var StatusEnum = {\n    STATUS_OPERATING: 'Operating',\n    STATUS_STOPPED: 'Stopped',\n    STATUS_NO_SIGNAL: 'No signal'\n};\n\nvar i = 0;\nvar _updateStatus = '';\n\nfor ( i = 0; i < msg.payload.rows.length; i++ ) {\n  var _sensor_object_node_key = msg.payload.rows[i].sensor_object_node_key;\n  var _interval = msg.payload.rows[i].interval;\n  var _now = new Date().getTime();\n  var _status = null;\n  var _lastrun = null;\n  \n  if(msg.payload.rows[i].lastrun){\n      _lastrun = msg.payload.rows[i].lastrun.getTime()\n  }\n  \n  if(_lastrun){\n    var _timediff = _now - _lastrun;\n    if(_timediff < 2 * _interval){\n      _status = StatusEnum.STATUS_OPERATING;\n    }\n    else{\n      _status = StatusEnum.STATUS_STOPPED;\n    }\n  }\n  else{\n    _status = StatusEnum.STATUS_NO_SIGNAL;\n  }\n  _updateStatus += \"UPDATE public.sensor_object_nodes SET status = '\" + _status  + \"' WHERE (sensor_object_node_key = \" + _sensor_object_node_key + \");\"; \n}\n\nmsg.updateStatus = _updateStatus;\n\nreturn msg;","outputs":1,"noerr":0,"x":586,"y":912,"wires":[["b09b968c.499bc8"]]},{"id":"b09b968c.499bc8","type":"postgrestor","z":"e0ee672e.240d38","name":"Update node status","query":"{{{msg.updateStatus}}}\n","postgresDB":"1ad36de3.2d14c2","output":true,"outputs":1,"x":816,"y":912,"wires":[["4e9d4e33.c1159"]]},{"id":"dbc01040.67d86","type":"postgrestor","z":"e0ee672e.240d38","name":"Query Sensor Data","query":"{{{msg.sqlStatements}}}","postgresDB":"1ad36de3.2d14c2","output":true,"outputs":1,"x":764,"y":1072,"wires":[["d758ff36.95051"]]},{"id":"4e9d4e33.c1159","type":"function","z":"e0ee672e.240d38","name":"Get sensor data","func":"var i;\nvar sqlStatements = '';\nvar dataSource = flow.get('dataSource');\n\n// Count number of operating sensors\nsqlStatements = \"SELECT count(*) FROM public.sensor_object_nodes WHERE datasource_id = \" + dataSource.id + \" AND status = 'Operating';\";\n\n// Count total number of sensors\nsqlStatements += \"SELECT count(*) FROM public.sensor_object_nodes WHERE datasource_id = \" + dataSource.id + \";\";     \n\nmsg.sqlStatements = sqlStatements;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":569,"y":1072,"wires":[["dbc01040.67d86"]]},{"id":"d758ff36.95051","type":"function","z":"e0ee672e.240d38","name":"Calculate","func":"var allSensors = msg.payload.rows[1].count;\nvar operatingSensors = msg.payload.rows[0].count;\nvar availableSensors;\nvar dataSource = flow.get('dataSource');\n\nif(allSensors && allSensors > 0 ){\n    availableSensors = Math.round((operatingSensors / allSensors) * 100);\n    if(availableSensors === 0){\n        secondsAlive = (Date.now() - flow.get('tsRobotStarted')) * 0.001;\n        // node.log(\"secondsAlive = \" + secondsAlive.toFixed(2));\n        if(secondsAlive > 2){\n            node.error(\"No operating sensors are available!\", msg);\n        }\n    }\n}\n\nmsg.gaugeLabel = \"Operating Sensors \" + operatingSensors + \":\" + allSensors; \nmsg.availableSensors = availableSensors;\nmsg.payload = availableSensors;\n\nmsg.updateAvailability = \"UPDATE public.datasource SET availability = \" + msg.payload +\n                         \" WHERE datasource_id = \" + dataSource.id + \";\";\n                         \nreturn msg;\n","outputs":1,"noerr":0,"x":939,"y":1072,"wires":[["30f17a31.f65456","1ff38160.ece0ff"]]},{"id":"2af211c8.9a2d8e","type":"postgrestor","z":"e0ee672e.240d38","name":"Query Sensor Object Nodes","query":"SELECT sensor_object_node_key, name, description, status \nFROM public.sensor_object_nodes \nWHERE datasource_id = {{{msg.payload.dataSource.id}}} ORDER BY sensor_object_node_key;","postgresDB":"1ad36de3.2d14c2","output":true,"outputs":1,"x":394,"y":589,"wires":[["19347394.df200c"]]},{"id":"19347394.df200c","type":"function","z":"e0ee672e.240d38","name":"Device list","func":"var sensors = [];\nvar i;\nvar jsonText = \"\";\n\nfor ( i = 0; i < msg.payload.rows.length; i++ ) {\n  var _sensor_object_node_key = msg.payload.rows[i].sensor_object_node_key;\n  var _name = msg.payload.rows[i].name;\n  var _description = msg.payload.rows[i].description;\n  var _status = msg.payload.rows[i].status;\n  var data = _sensor_object_node_key;\n  var elem = {};\n  var label;\n  \n  label = _sensor_object_node_key + \" : \" + _description;\n  \n  elem[label] = data;\n  sensors.push(elem);\n}\n\nmsg.options = sensors;\nreturn msg;","outputs":1,"noerr":0,"x":572,"y":635,"wires":[["c9267aac.beaab8"]]},{"id":"e858f5f0.95a428","type":"postgrestor","z":"e0ee672e.240d38","name":"Select operation data","query":"select interval, lastrun, status from public.sensor_object_nodes\nwhere sensor_object_node_key = {{{msg.payload}}};","postgresDB":"1ad36de3.2d14c2","output":true,"outputs":1,"x":857,"y":636,"wires":[["1dd64931.f257d7"]]},{"id":"e598b163.d960a","type":"comment","z":"e0ee672e.240d38","name":"Update sensor status in PostgreSQL","info":"","x":416,"y":858,"wires":[]},{"id":"f7bee407.9d6b68","type":"ui_text","z":"e0ee672e.240d38","group":"f99ef871.8b5b28","order":5,"width":0,"height":0,"name":"","label":"Sensor Status:","format":"{{msg.status}}","layout":"row-spread","x":1228,"y":628,"wires":[]},{"id":"c9267aac.beaab8","type":"ui_dropdown","z":"e0ee672e.240d38","name":"Dropdown","label":"","place":"Select sensor...","group":"f99ef871.8b5b28","order":2,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":704.5,"y":588.6499633789062,"wires":[["e858f5f0.95a428"]]},{"id":"1dd64931.f257d7","type":"function","z":"e0ee672e.240d38","name":"Change format","func":"msg.interval = \"\";\nmsg.lastrun = \"\";\nmsg.status = \"\";\n\nif(msg.payload.rows[0].interval && msg.payload.rows[0].interval > 0){\n    var interval = msg.payload.rows[0].interval;  // interval in milliseconds\n    var time;\n    var unit;\n\n    if (0 < interval && interval <= 60000){                // convert interval to seconds\n      time = interval / 1000;\n      unit = \" [sec]\";    \n    } else if (60000 < interval && interval <= 3600000) {  // convert interval to minutes\n      time = interval / 1000 / 60;\n      unit = \" [min]\";\n    } else if (3600000 < interval) {                       // convert interval to hours\n      time = interval / 1000 / 60 / 60;\n      unit = \" [hour]\";\n    } else {\n      time = \"\";\n      unit = \" [-]\";\n    }\n    \n    msg.interval = time + unit;\n}\nif(msg.payload.rows[0].lastrun){\n    //var localDate = msg.payload.rows[0].lastrun.toISOString();\n    var localDate = msg.payload.rows[0].lastrun.toLocaleString();\n    msg.lastrun = localDate;\n}\nif(msg.payload.rows[0].status){\n    msg.status = msg.payload.rows[0].status;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":589,"wires":[["df794910.420308","677e4710.71ba08","f7bee407.9d6b68"]]},{"id":"bf5582ac.96a29","type":"postgrestor","z":"e0ee672e.240d38","name":"Select robot started data","query":"SELECT robot_started FROM public.datasource WHERE datasource_id = {{{msg.payload.dataSource.id}}}","postgresDB":"1ad36de3.2d14c2","output":true,"outputs":1,"x":384,"y":438,"wires":[["ec97f839.a2e048"]]},{"id":"c75a28b8.857d68","type":"postgrestor","z":"e0ee672e.240d38","name":"Update robot status","query":"--UPDATE public.datasource \n--SET robot_started = {{{msg.payload}}} \n--WHERE datasource_id = {{{flow.get('dataSource').id}}};\n\n{{{msg.updateRobotStarted}}}","postgresDB":"1ad36de3.2d14c2","output":true,"outputs":1,"x":1163,"y":451,"wires":[[]]},{"id":"ec97f839.a2e048","type":"function","z":"e0ee672e.240d38","name":"Return status","func":"msg.payload = msg.payload.rows[0].robot_started;\nreturn msg;","outputs":1,"noerr":0,"x":592,"y":438,"wires":[["49439bdd.0960e4"]]},{"id":"46d66e34.fcda3","type":"postgrestor","z":"e0ee672e.240d38","name":"Query notification status","query":"SELECT notification_on \nFROM public.datasource \nWHERE datasource_id = {{{msg.payload.dataSource.id}}};","postgresDB":"1ad36de3.2d14c2","output":true,"outputs":1,"x":385,"y":771,"wires":[["18c4327d.b8b04e"]]},{"id":"9cac187a.e6d398","type":"postgrestor","z":"e0ee672e.240d38","name":"Update notification status","query":"{{{msg.updateNotification}}}\n","postgresDB":"1ad36de3.2d14c2","output":true,"outputs":1,"x":1127,"y":798,"wires":[[]]},{"id":"18c4327d.b8b04e","type":"function","z":"e0ee672e.240d38","name":"Return status","func":"msg.payload = msg.payload.rows[0].notification_on;\nreturn msg;","outputs":1,"noerr":0,"x":592,"y":771,"wires":[["d01aab38.4c68f8"]]},{"id":"e3ae7d0c.70628","type":"comment","z":"e0ee672e.240d38","name":"Get data for selected sensor from PostgreSQL","info":"","x":446,"y":534,"wires":[]},{"id":"344c2f51.33eee","type":"comment","z":"e0ee672e.240d38","name":"Enable / Disable notification","info":"","x":396,"y":719,"wires":[]},{"id":"1ff38160.ece0ff","type":"postgrestor","z":"e0ee672e.240d38","name":"Update availability","query":"--UPDATE public.datasource \n--SET availability = {{{msg.payload}}} \n--WHERE datasource_id = {{{flow.get('dataSource').id}}};\n\n{{{msg.updateAvailability}}}\n","postgresDB":"1ad36de3.2d14c2","output":true,"outputs":1,"x":1124,"y":1095,"wires":[[]]},{"id":"92648ead.d1a24","type":"comment","z":"e0ee672e.240d38","name":"== REMEMBER TO CONFIGURE PAYLOAD AND REPEAT PROPERTY OF INJECT NODE ==","info":"","x":670,"y":40,"wires":[]},{"id":"4cdbe8d3.0210e8","type":"function","z":"e0ee672e.240d38","name":"Set dataSource","func":"flow.set('dataSource', msg.payload.dataSource);\nreturn msg;","outputs":1,"noerr":0,"x":123,"y":438,"wires":[["bf5582ac.96a29","2af211c8.9a2d8e","46d66e34.fcda3"]]},{"id":"4ac7552a.2b220c","type":"inject","z":"e0ee672e.240d38","name":"","topic":"","payload":"{\"dataSource\":{\"id\":1016}}","payloadType":"json","repeat":"","crontab":"","once":true,"x":90,"y":380,"wires":[["4cdbe8d3.0210e8"]]},{"id":"29004a52.c24c26","type":"function","z":"e0ee672e.240d38","name":"sqlRobot","func":"// Update robot status in PostgreSQL\nvar dataSource = flow.get('dataSource');\n\nmsg.updateRobotStarted = \"UPDATE public.datasource SET robot_started = \" + msg.payload +\n                         \" WHERE datasource_id = \" + dataSource.id + \";\";\n\n// Reset notification counter\nflow.set('mailSent', false);\n\n// Timestamp for when robot is started\nif(msg.payload){\n    flow.set('tsRobotStarted', Date.now());\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":993.5,"y":450.5999755859375,"wires":[["c75a28b8.857d68"]]},{"id":"e8c2458.cde85b8","type":"function","z":"e0ee672e.240d38","name":"sqlNotify","func":"var dataSource = flow.get('dataSource');\n\nmsg.updateNotification = \"UPDATE public.datasource SET notification_on = \" + msg.payload +\n                         \" WHERE datasource_id = \" + dataSource.id + \";\";\n\nreturn msg;","outputs":1,"noerr":0,"x":936,"y":799,"wires":[["9cac187a.e6d398"]]},{"id":"3d79aacb.738ee6","type":"comment","z":"e0ee672e.240d38","name":"Flows to monitor functionality","info":"","x":160,"y":305,"wires":[]},{"id":"dc0e9196.ec8a6","type":"function","z":"e0ee672e.240d38","name":"Set dataSource","func":"flow.set('dataSource', msg.payload.dataSource);\nreturn msg;","outputs":1,"noerr":0,"x":125,"y":879,"wires":[["447b4a94.c1b7a4"]]},{"id":"8d021219.0049c","type":"inject","z":"e0ee672e.240d38","name":"","topic":"","payload":"{\"dataSource\":{\"id\":1016}}","payloadType":"json","repeat":"60","crontab":"","once":true,"x":92,"y":821,"wires":[["dc0e9196.ec8a6"]]},{"id":"f99ef871.8b5b28","type":"ui_group","z":"e0ee672e.240d38","name":"Sigfox Wasys","tab":"a7d68ce9.5edca","order":3,"disp":false,"width":"6"},{"id":"1ad36de3.2d14c2","type":"postgresDB","z":"","name":"@localhost:5432/hepwat","host":"localhost","port":"5432","database":"hepwat","ssl":false,"max":"100","min":1,"idle":"1000"},{"id":"a7d68ce9.5edca","type":"ui_tab","z":"","name":"Sigfox Wasys","icon":"dashboard","order":1},{"id":"2dd19b01.ea1894","type":"tab","label":"Sigfox Wasys devices to Kafka","disabled":false,"info":""},{"id":"238d6ea6.576e82","type":"function","z":"2dd19b01.ea1894","name":"Prepare topic payload","func":"try{\n    var _topicValues = flow.get('topicValues');\n    if(msg.payload && msg.payload.rows.length > 0 && _topicValues && _topicValues.length > 0) {\n        //for(var i = 0; i < _topicValues.length; i++) {\n        for(var i = _topicValues.length - 1; i >= 0 ; i--) {\n            for(var j = 0; j < msg.payload.rows.length; j++) {\n                if (msg.payload.rows[j].sensor_object_node_id == _topicValues[i].node_id) {\n                    var _key = msg.payload.rows[j].sensor_object_node_key;\n                    var _value = _topicValues[i].value;\n                    var _interval = msg.payload.rows[j].interval;\n                    var _lastrun = msg.payload.rows[j].lastrun.getTime();                 // timestamp from PostgreSQL\n                    var _timestamp = 1000 * (new Date(_topicValues[i].date)).getTime();   // timestamp from Sigfox device\n                    \n                    // Only send payload if new measurement\n                    // difference must be larger than 10 seconds\n                    if((_timestamp - _lastrun) > 10000){\n                        node.send({\n                            key: _key,\n                            payload: {\n                                timestamp: _timestamp,\n                                hepwatDeviceId: _key,\n                                value: _value,\n                                interval: _interval\n                            }\n                        });\n                    }\n                }\n            }\n        }\n    }\n    return null;\n    \n} catch (err) {\n        if(err.message){\n\t\t    // Trigger catch node\n            node.error(err.message, msg);\n        \n\t\t    // Log to console\n            node.error(err.message);\n        } else {\n            node.error(\"Prepare topic payload Error: \", err);\n        }\n}\n","outputs":1,"noerr":0,"x":746,"y":488,"wires":[["a86c3c04.e381f"]]},{"id":"faf665ef.3d93f8","type":"sagofonto-kafka-producer","z":"2dd19b01.ea1894","kafkaHost":"localhost:9092","connectTimeout":"10000","requestTimeout":"30000","requireAcks":"1","ackTimeoutMs":"100","partitionerType":"3","topicName":"raw-test-10","compressionOption":"0","x":1226,"y":448,"wires":[["17448343.9ba71d","833bb40f.bd72c8"]]},{"id":"7088dd21.11da84","type":"postgrestor","z":"2dd19b01.ea1894","name":"Insert datasource","query":"INSERT INTO public.DATASOURCE (DATASOURCE_ID, NAME, URL, AUTHENTICATION_TYPE, DESCRIPTION, UPDATED, DASHBOARD_URL)\nVALUES (\n  {{{ msg.payload.dataSource.id }}}, \n '{{{ msg.payload.dataSource.name }}}', \n '{{{ msg.payload.dataSource.url }}}', \n '{{{ msg.payload.dataSource.authentification.type }}}', \n '{{{ msg.payload.dataSource.description }}}', \n LOCALTIMESTAMP,\n '{{{ msg.payload.dataSource.dashboard.url }}}')\nON CONFLICT (DATASOURCE_ID) DO UPDATE\nSET\n   NAME = '{{{ msg.payload.dataSource.name }}}',\n   URL = '{{{ msg.payload.dataSource.url }}}',\n   AUTHENTICATION_TYPE = '{{{ msg.payload.dataSource.authentification.type }}}',\n   DESCRIPTION = '{{{ msg.payload.dataSource.description }}}',\n   UPDATED = LOCALTIMESTAMP,\n   DASHBOARD_URL = '{{{ msg.payload.dataSource.dashboard.url }}}';\n   \n","postgresDB":"8f33f20a.34529","output":false,"outputs":1,"x":563.0000839233398,"y":144.00005626678467,"wires":[["7977cbc5.f74d34"]]},{"id":"fc5f4cf5.39bd9","type":"delay","z":"2dd19b01.ea1894","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":543.0000076293945,"y":188.0000057220459,"wires":[["91d38f97.ad9db","20cd8a7a.57f046"]]},{"id":"91d38f97.ad9db","type":"function","z":"2dd19b01.ea1894","name":"Create Sensor Object","func":"var dataSource = msg.payload.dataSource;\nnode.send({ \n    dataSourceId: dataSource.id,\n    nodeId: dataSource.device,\n    browseName: 'wasys-device',\n    displayName: 'Wasys Level device',\n    description: 'Wasys Level device'\n});\nreturn null;","outputs":"1","noerr":0,"x":780.0000457763672,"y":188.00003814697266,"wires":[["efdaa08a.2972a"]]},{"id":"efdaa08a.2972a","type":"postgrestor","z":"2dd19b01.ea1894","name":"Create or update Sensor Objects","query":"-- Insert or Update Sensor Object\nINSERT INTO public.SENSOR_OBJECT (DATASOURCE_ID, SENSOR_OBJECT_ID, NAME, DESCRIPTION, UPDATED)\nVALUES (\n {{{ msg.dataSourceId }}}, \n'{{{ msg.nodeId }}}', \n'{{{ msg.displayName }}}', \n'{{{ msg.description }}}', \nLOCALTIMESTAMP)\nON CONFLICT (DATASOURCE_ID, SENSOR_OBJECT_ID) DO UPDATE\nSET\n   NAME = '{{{ msg.displayName }}}',\n   DESCRIPTION = '{{{ msg.description }}}',\n   UPDATED = LOCALTIMESTAMP ;\n   ","postgresDB":"8f33f20a.34529","output":false,"outputs":1,"x":1083,"y":188,"wires":[[]]},{"id":"20cd8a7a.57f046","type":"function","z":"2dd19b01.ea1894","name":"Create Sensor Object Nodes","func":"var dataSource = msg.payload.dataSource;\nvar measurementType = flow.get(\"measurementType\");\n\n// Water level\nnode.send({\n        dataSourceId: dataSource.id,\n        parentNodeId: dataSource.device,\n        topic: 'water_level',\n        browseName: 'water_level', \n        description: 'Wasys Level Measurement', \n        dataType: 'integer', \n        //nodeTypeOld: 'water_level',\n        nodeDomain: '',\n        readable: true, \n        writeable: false, \n        defaultInterval: (dataSource.defaultInterval ? dataSource.defaultInterval : 900000),\n        unit: 'cm',\n        nodeType: measurementType[\"Vandniveau\"]\n});\n\n// Overflow status\nnode.send({\n        dataSourceId: dataSource.id,\n        parentNodeId: dataSource.device,\n        topic: 'overflow_status',\n        browseName: 'overflow_status', \n        description: 'Wasys Overflow Status', \n        dataType: 'boolean', \n        //nodeTypeOld: 'overflow_status',\n        nodeDomain: '',\n        readable: true, \n        writeable: false, \n        defaultInterval: (dataSource.defaultInterval ? dataSource.defaultInterval : 900000),\n        unit: '',\n        nodeType: measurementType[\"Overløbsindikator\"]\n});\n\n// Signal strength - RSSI (Received signal strength indicator)\nnode.send({\n        dataSourceId: dataSource.id,\n        parentNodeId: dataSource.device,\n        topic: 'signal_strength',\n        browseName: 'signal_strength', \n        description: 'Wasys Signal Strength', \n        dataType: 'integer', \n        //nodeTypeOld: 'signal_strength',\n        nodeDomain: '',\n        readable: true, \n        writeable: false, \n        defaultInterval: (dataSource.defaultInterval ? dataSource.defaultInterval : 900000),\n        unit: 'dBm',\n        nodeType: measurementType[\"Signalstyrke\"]\n});\n\n// Battery level\nnode.send({\n        dataSourceId: dataSource.id,\n        parentNodeId: dataSource.device,\n        topic: 'battery_level',\n        browseName: 'battery_level', \n        description: 'Wasys Battery Level', \n        dataType: 'double', \n        //nodeTypeOld: 'battery_level',\n        nodeDomain: '',\n        readable: true, \n        writeable: false, \n        defaultInterval: 86400000,\n        unit: '%',\n        nodeType: measurementType[\"Batteristatus\"]\n});\n\nreturn null;\n\n// Add leading zero to integer\nfunction pad(num, size) {\n    var s = num+\"\";\n    while (s.length < size) s = \"0\" + s;\n    return s;\n}","outputs":"1","noerr":0,"x":800.0000152587891,"y":233.00006008148193,"wires":[["eb007d7c.7165c"]]},{"id":"eb007d7c.7165c","type":"postgrestor","z":"2dd19b01.ea1894","name":"Create or update Sensor Object Nodes","query":"-- Insert or Update Sensor Object Nodes\nINSERT INTO public.sensor_object_nodes (\n    datasource_id, sensor_object_id, sensor_object_node_id, name, \n    description, datatype, nodedomain, readable, writeable, \"interval\", \n    updated, unit, nodetype)\nVALUES (\n     {{{ msg.dataSourceId }}}, \n    '{{{ msg.parentNodeId }}}', \n    '{{{ msg.topic }}}', \n    '{{{ msg.browseName }}}', \n    '{{{ msg.description }}}', \n    '{{{ msg.dataType }}}', \n    '{{{ msg.nodeDomain }}}',\n     {{{ msg.readable }}}, \n     {{{ msg.writeable }}}, \n     {{{ msg.defaultInterval }}}, \n    LOCALTIMESTAMP,\n    '{{{ msg.unit }}}',\n     {{{ msg.nodeType }}}\n)\nON CONFLICT (DATASOURCE_ID, SENSOR_OBJECT_ID, SENSOR_OBJECT_NODE_ID) DO UPDATE\nSET\n   name = '{{{ msg.browseName }}}', \n   description = '{{{ msg.description }}}', \n   datatype = '{{{ msg.dataType }}}', \n   nodedomain = '{{{ msg.nodeDomain }}}',\n   readable = {{{ msg.readable }}}, \n   writeable = {{{ msg.writeable }}}, \n   \"interval\" = {{{ msg.defaultInterval }}}, \n   updated = LOCALTIMESTAMP,\n   unit = '{{{ msg.unit }}}',\n   nodetype =  {{{ msg.nodeType }}};","postgresDB":"8f33f20a.34529","output":true,"outputs":1,"x":1092.0000381469727,"y":233.00005865097046,"wires":[[]]},{"id":"2dd57cb7.96a514","type":"comment","z":"2dd19b01.ea1894","name":"Prepare and save metadata concerning Wasys object","info":"","x":233.99999237060547,"y":50.99999141693115,"wires":[]},{"id":"172877cb.c87378","type":"comment","z":"2dd19b01.ea1894","name":"Read Wasys topics from backend and produce data for Kafka topic","info":"","x":276,"y":390.0000419616699,"wires":[]},{"id":"debc4699.b96288","type":"catch","z":"2dd19b01.ea1894","name":"","scope":null,"x":106,"y":743,"wires":[["7ceecf1b.df428"]]},{"id":"115b49af.9d0f96","type":"e-mail","z":"2dd19b01.ea1894","server":"localhost","port":"25","secure":false,"name":"","dname":"Send error mail","x":506,"y":743,"wires":[]},{"id":"7ceecf1b.df428","type":"function","z":"2dd19b01.ea1894","name":"Prepare error email","func":"msg.to = 'mail@to.dk';\nmsg.from = 'mail@from.dk';\nmsg.topic = 'Error in Node-Red flow: Wasys devices to Kafka';\n\nif(msg.error && msg.error.message){\n    msg.payload = '<p style=\"font-family: Trebuchet MS;\">The following error was thrown:</p>';\n    msg.payload += '<p style=\"font-family: Trebuchet MS;\">' + msg.error.message + '</p>';\n    if(msg.error.source){\n        msg.payload += '<p style=\"font-family: Trebuchet MS;\"><b>Source:</b>';\n        if(msg.error.source.id) msg.payload +=   '<li style=\"font-family: Trebuchet MS;\">Id: ' + msg.error.source.id + '</li>';\n        if(msg.error.source.type) msg.payload += '<li style=\"font-family: Trebuchet MS;\">Type: ' + msg.error.source.type + '</li>';\n        if(msg.error.source.name) msg.payload += '<li style=\"font-family: Trebuchet MS;\">Name: ' + msg.error.source.name + '</li>';\n        msg.payload += '</p>';\n    }\n    msg.payload += '<p><a href=\"http://localhost:1906/#flow/36e6cf43.b5715\" target=\"_blank\">Goto flow...</a></p>';\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":296,"y":743,"wires":[[]]},{"id":"e88f60f8.86a8a","type":"comment","z":"2dd19b01.ea1894","name":"Logging and error handling","info":"","x":154.99999618530273,"y":686,"wires":[]},{"id":"3ff78c9f.925f14","type":"subflow:e0ee672e.240d38","z":"2dd19b01.ea1894","name":"","x":1067,"y":488,"wires":[["faf665ef.3d93f8"]]},{"id":"1985b070.d4054","type":"inject","z":"2dd19b01.ea1894","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 01 * * 1,3,5","once":false,"x":116.5,"y":799.2999877929688,"wires":[["21d0fee5.76b522"]]},{"id":"21d0fee5.76b522","type":"sagofonto-log-backup","z":"2dd19b01.ea1894","sourcePath":"/usr/src/node-red/","sourceFilename":"hepwat.log","destPath":"/usr/src/node-red/logs/","x":316.5,"y":799.7999877929688,"wires":[[]]},{"id":"aee995c9.c8cdd8","type":"postgrestor","z":"2dd19b01.ea1894","name":"Query Sensor Object Nodes","query":"SELECT sensor_object_id, sensor_object_node_id, sensor_object_node_key, datatype, \"interval\", lastrun\nFROM public.sensor_object_nodes\nWHERE (datasource_id = {{{ msg.dataSource.id }}}) AND (readable = true) \nORDER BY sensor_object_id, sensor_object_node_id ASC;","postgresDB":"f2177e1f.4b7db","output":true,"outputs":1,"x":527,"y":448,"wires":[["238d6ea6.576e82"]]},{"id":"35fc4979.e1a636","type":"function","z":"2dd19b01.ea1894","name":"Get DataSource","func":"msg.dataSource = flow.get('dataSource');\nreturn msg;","outputs":1,"noerr":0,"x":326,"y":488,"wires":[["aee995c9.c8cdd8"]]},{"id":"8cd345ae.e8ae58","type":"http in","z":"2dd19b01.ea1894","name":"","url":"/sigfox/callback/","method":"post","upload":false,"swaggerDoc":"","x":120,"y":144,"wires":[["94d32d6f.ad2ba","230d8ed.73efe72","7f5ab31b.28ee0c","6d5a438f.7bb5cc"]]},{"id":"94d32d6f.ad2ba","type":"http response","z":"2dd19b01.ea1894","name":"","statusCode":"","headers":{},"x":317,"y":104,"wires":[]},{"id":"7f5ab31b.28ee0c","type":"function","z":"2dd19b01.ea1894","name":"Set flow variable","func":"var _device = msg.payload.device;\n\nmsg.payload = {\n    \"dataSource\": {\n        \"id\": 1016,\n        \"name\": \"Wasys Devices\",\n        \"url\": \"http://localhost:1906/sigfox/callback/\",\n        \"description\": \"Wasys Devices\",\n        \"authentification\": {\n            \"type\": \"none\"\n        },\n        \"rootTopic\": \"\",\n        \"defaultInterval\": 900000,\n        \"dashboard\": {\n            \"url\": \"http://localhost:1906/ui\"\n        },\n        \"device\": _device\n    }\n}\n\n// Set flow variable\nflow.set('dataSource', msg.payload.dataSource);\nreturn msg;","outputs":1,"noerr":0,"x":348,"y":144,"wires":[["7088dd21.11da84","fc5f4cf5.39bd9"]]},{"id":"17448343.9ba71d","type":"postgrestor","z":"2dd19b01.ea1894","name":"Update Last Run","query":"-- Update last run for Sensor Object Nodes\nUPDATE public.sensor_object_nodes\nSET lastrun = to_timestamp({{{msg.payload.timestamp}}} * 0.001), lastvalue = {{{msg.payload.value}}} \nWHERE (sensor_object_node_key = {{{msg.payload.hepwatDeviceId}}});\n","postgresDB":"72067c23.810354","output":true,"outputs":1,"x":1392,"y":488,"wires":[[]]},{"id":"230d8ed.73efe72","type":"debug","z":"2dd19b01.ea1894","name":"","active":true,"console":"false","complete":"true","x":319,"y":188,"wires":[]},{"id":"7c119504.688a3c","type":"inject","z":"2dd19b01.ea1894","name":"Only for testing","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":127,"y":535,"wires":[["12078658.87ee3a"]]},{"id":"cd1302.24b19d","type":"function","z":"2dd19b01.ea1894","name":"Handle payload","func":"/*\n    Wasys payload specification: (length 24)\n\n    000d 00 02 02 00 03 03 00 00 0000\n\n    Nu: 000d -> 13 cm\n    5 min. : 00 -> 13+0 cm = 13 cm\n    10min.: 02-> 13 + 2 cm = 15 cm\n    15min.: 02-> 15 +2 cm = 17 cm\n    20 min.:00-> 17+0 cm = 17 cm\n    25 min.:03 -> 17 + 3 cm = 20 cm\n    30 min.: 03 -> 20 + 3 cm = 23 cm\n    35 min.: 00 -> 23 + 0 cm = 23 cm\n    40 min.: 00 -> 23 + 0 cm =23 cm\n    Status for overløb: 0000 -> ingen overløb i de seneste 40 minutter.\n    \n    Service payload specification: (length 14)\n    \n    08 010e b10d 8c 00\n\n    Vbat(idle)  : 010e skal byteswappes så kommer værdien 0e01 = 3585\n                  som skal deles med 1000 så resultatet er 3.585V\n    Vbat(TX)    : b10d skal byteswappes så kommer værdien 0db1 = 3505\n                  som skal deles med 1000 se resultatet er 3.505V\n    Temp:       : 8c = 140 værdien deles med 10 og resultatet bliver 14.0 °C\n\n*/\n\n// Sensor object node ids\nvar _nodeId = [\n        \"water_level\",\n        \"overflow_status\",\n        \"battery_level\",\n        \"signal_strength\"\n    ];\n    \nnode.log(\"Payload received from Sigfox Wasys device: \" + JSON.stringify(msg.payload));\n    \n// Topics for water levels, overflows and signal strength\nif(msg.payload.data && msg.payload.data.length == 24){\n\n    // Water levels\n    var _values = getWaterLevels(msg.payload);\n    \n    // Time stamps\n    var _timestamps = getTimestamps(msg.payload);\n    \n    // Overflows\n    var _overflows = getOverflows(msg.payload);\n    \n    // Signal strength\n    var _signal_strength = msg.payload.rssi;\n    \n    // Make list of topic values\n    // topic 0 - 8  water levels\n    // topic 9 - 17 overflows\n    // topic 18     signal strength\n    var _topicValues = [];\n    \n    for(i=0; i<9; i++){\n        // water levels\n        _topicValues[i] = {\n            node_id: _nodeId[0],\n            date: _timestamps[i],\n            value: _values[i]\n        };\n        \n        // overflows\n        _topicValues[i+9] = {\n            node_id: _nodeId[1],\n            date: _timestamps[i],\n            value: _overflows[i]\n        };\n    }\n    \n    // signal strength\n    _topicValues[18] = {\n            node_id: _nodeId[3],\n            date: _timestamps[0],\n            value: _signal_strength\n        };\n    \n    flow.set('topicValues', _topicValues);\n    \n    // Properties for debugging\n    // msg.values = _values;\n    // msg.timestamps = _timestamps;\n    // msg.overflows = _overflows;\n    // msg.topicValues = _topicValues\n    \n}\n\n// Topic for battery level\n// if(msg.payload.batt && msg.payload.batt.length == 14){\n   if(msg.payload.batt){\n    // Make list of topic values\n    var _topicValues = [];\n    var _batteryLevel = Number((100 * msg.payload.batt / 3.60).toFixed(2));\n    \n    // water levels\n    _topicValues[0] = {\n        node_id: _nodeId[2],\n        date: msg.payload.time,\n        value: _batteryLevel\n    };\n    \n    flow.set('topicValues', _topicValues);\n    \n    // Property for debugging\n    // msg.batt_level = getBatteryLevel(msg.payload);\n    \n}\n\nreturn msg;\n\n\n//**********************\n//*  Helper functions\n//**********************\n\n// Function to return decimal from hexadecimal value\n// for water level changes (byte 3 to 10)\nfunction decValue(hexValue){\n    var decValue;\n    if(parseInt(hexValue, 16) < 128){\n        decValue = parseInt(hexValue, 16);\n    } else {\n        decValue = parseInt(hexValue, 16) - 256;\n    }\n        \n    return decValue;\n}\n\n// Function to return decimal from hexadecimal value\n// for battery level and first two bytes\nfunction decValue2(hexValue){\n    var decValue2 = parseInt(hexValue, 16);\n        \n    return decValue2;\n}\n\n// Function to return bit pattern from hexadecimal value\nfunction hex2bin(hex){\n    return (parseInt(hex, 16).toString(2)).padStart(8, '0');\n}\n\n// Function to get binary value\nfunction getBinaryValue(hex_val){\n    var result = \"\";\n    \n    hex_val.split(\" \").forEach(str => {\n                            result += hex2bin(str)\n                       });\n    return result;\n}\n\n// Function to return water levels\nfunction getWaterLevels(payload){\n    var _value = [];\n    \n    _value[0] = decValue2(payload.data.substring(0, 4));\n    \n    for (i = 1; i < 9; i++){\n        _value[i] = decValue(payload.data.substring(2*i+2, 2*i+4)) + _value[i-1];\n    }\n    return _value;\n}\n\n// Function to return timestamps\nfunction getTimestamps(payload){\n    var _timestamp = [];\n    \n    _timestamp[0] = payload.time;\n    \n    for (i = 1; i < 9; i++){\n        _timestamp[i] = _timestamp[i-1] - 300;\n    }\n    return _timestamp;\n}\n\n// Function to return overflows\nfunction getOverflows(payload){\n    var _overflow = [];\n    var _byte11 = msg.payload.data.substring(20, 22);\n    var _byte12 = msg.payload.data.substring(22, 24);\n    var _hexValue = _byte11 + \" \" + _byte12;\n    var _binaryValue = getBinaryValue(_hexValue);\n    \n    for (i = 0; i < 9; i++){\n        // _overflow[i] = Number(i % 2);   // for debugging\n        _overflow[i] = Number(_binaryValue[i]);\n    }\n    return _overflow;\n}\n\n// Function to return battery level\nfunction getBatteryLevel(payload){\n    var _byte4 = msg.payload.batt.substring(6, 8);\n    var _byte5 = msg.payload.batt.substring(8, 10);\n    var _byteSwap = _byte5 + _byte4;\n    var _volt_tx = decValue2(_byteSwap) * 0.001;\n    var _battery_level = Number((100 * (_volt_tx / 3.600)).toFixed(2));\n    \n    return _battery_level;\n}","outputs":1,"noerr":0,"x":166,"y":448,"wires":[["35fc4979.e1a636"]]},{"id":"a86c3c04.e381f","type":"delay","z":"2dd19b01.ea1894","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":916,"y":448,"wires":[["3ff78c9f.925f14"]]},{"id":"12078658.87ee3a","type":"function","z":"2dd19b01.ea1894","name":"Sigfox payloads","func":"// *****************************************\n// *   Sigfox payloads for testing robot\n// *****************************************\n\nvar _time = Number((msg.payload * 0.001).toFixed(0));\n\n\n// Payload for test purposes (water_level, overflow_status)\nmsg.payload =\n{\n  \"device\": \"38CF82\",\n  \"data\": \"000d00000000000000000000\",\n  \"time\": _time\n}\n\n\n/*\n// Payload for test purposes (battery_level 1)\nmsg.payload =\n{\n  \"device\": \"38CF82\",\n  \"batt\": \"08010eb10d8600\",\n  \"time\": _time\n}\n*/\n\n/*\n// Payload for test purposes (battery_level 2)\nmsg.payload =\n{\n  \"device\": \"38CF82\",\n  \"batt\": \"3.52\",\n  \"time\": _time\n}\n*/\n\nreturn msg;","outputs":1,"noerr":0,"x":326.1000061035156,"y":535,"wires":[[]]},{"id":"833bb40f.bd72c8","type":"debug","z":"2dd19b01.ea1894","name":"","active":true,"console":"false","complete":"true","x":1358,"y":408,"wires":[]},{"id":"6d5a438f.7bb5cc","type":"delay","z":"2dd19b01.ea1894","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":160,"y":280,"wires":[["cd1302.24b19d"]]},{"id":"7977cbc5.f74d34","type":"postgrestor","z":"2dd19b01.ea1894","name":"Query measurement type","query":"SELECT * FROM config_measurement_type;","postgresDB":"f1f9aac5.a9ce68","output":true,"outputs":1,"x":790,"y":144,"wires":[["420ab07.7ec8d5"]]},{"id":"420ab07.7ec8d5","type":"function","z":"2dd19b01.ea1894","name":"Set measurement type","func":"var _measurementType = {};\n\nfor(i=0; i<msg.payload.rows.length; i++){\n    _measurementType[msg.payload.rows[i].name] = msg.payload.rows[i].id;\n}\n\nmsg.measurementType = _measurementType;\n\nflow.set(\"measurementType\", _measurementType);\n\nreturn msg;\n//return null;","outputs":1,"noerr":0,"x":1042,"y":144,"wires":[["6ed753f.8d066ac"]]},{"id":"6ed753f.8d066ac","type":"debug","z":"2dd19b01.ea1894","name":"","active":true,"console":false,"complete":"true","x":1224,"y":144,"wires":[]},{"id":"8f33f20a.34529","type":"postgresDB","z":"","name":"@localhost:5432/hepwat","host":"localhost","port":"5432","database":"hepwat","ssl":false,"max":"100","min":1,"idle":"1000"},{"id":"f2177e1f.4b7db","type":"postgresDB","z":"","name":"@localhost:5432/hepwat","host":"localhost","port":"5432","database":"hepwat","ssl":false,"max":"100","min":1,"idle":"1000"},{"id":"72067c23.810354","type":"postgresDB","z":"","name":"@localhost:5432/hepwat","host":"localhost","port":"5432","database":"hepwat","ssl":false,"max":"100","min":1,"idle":"1000"},{"id":"f1f9aac5.a9ce68","type":"postgresDB","z":"","name":"@localhost:5432/hepwat","host":"localhost","port":"5432","database":"hepwat","ssl":false,"max":"100","min":1,"idle":"1000"}]