datarobotfactory/flows/Sigfox HummBox devices to Kafka.txt
[{"id":"b10d0cab.a1535","type":"subflow","name":"robot monitor 3","info":"","in":[{"x":60.60003662109375,"y":199.60000610351562,"wires":[{"id":"8f9c8ed7.17766"}]}],"out":[{"x":634,"y":180,"wires":[{"id":"86050940.ca0f78","port":0}]}]},{"id":"8f9c8ed7.17766","type":"switch","z":"b10d0cab.a1535","name":"Is this flow enabled?","property":"start-stop","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":260,"y":200,"wires":[["86050940.ca0f78"]]},{"id":"d8883692.765f58","type":"ui_switch","z":"b10d0cab.a1535","name":"","label":"Stop/Start Robot:","group":"b369382a.d33bd8","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":790,"y":438,"wires":[["b02ba656.27c748","a796061.d48eaf8"]]},{"id":"b02ba656.27c748","type":"change","z":"b10d0cab.a1535","name":"Enable / Disable this flow","rules":[{"t":"set","p":"start-stop","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"emailSent","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1043,"y":407,"wires":[[]]},{"id":"506ed6cd.f852d8","type":"ui_gauge","z":"b10d0cab.a1535","name":"Operating Sensors","group":"b369382a.d33bd8","order":1,"width":0,"height":0,"gtype":"gage","title":"{{msg.gaugeLabel}}","label":"%","format":"{{msg.availableSensors}}","min":0,"max":"100","colors":["#ca3838","#e6e600","#00b500"],"seg1":"33","seg2":"66","x":1121,"y":1073,"wires":[]},{"id":"33e7e726.638fe8","type":"ui_text","z":"b10d0cab.a1535","group":"b369382a.d33bd8","order":4,"width":0,"height":0,"name":"","label":"Last Run:","format":"{{msg.lastrun}}","layout":"row-spread","x":1208,"y":565,"wires":[]},{"id":"4db002ff.3db85c","type":"comment","z":"b10d0cab.a1535","name":"Flow to monitor robot","info":"","x":140,"y":129,"wires":[]},{"id":"64ca6c92.d984f4","type":"comment","z":"b10d0cab.a1535","name":"Stop / Start robot monitor","info":"","x":385,"y":377,"wires":[]},{"id":"c1ce0725.dfbee8","type":"comment","z":"b10d0cab.a1535","name":"Calculate percentage of operating sensors","info":"","x":436,"y":1005,"wires":[]},{"id":"6688ce7.30e4b3","type":"comment","z":"b10d0cab.a1535","name":"Flow for logging and error handling","info":"","x":180,"y":1195,"wires":[]},{"id":"f82cc063.9422e","type":"switch","z":"b10d0cab.a1535","name":"Is notification enabled?","property":"notification","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":309.00000381469727,"y":1250,"wires":[[]]},{"id":"b1f1bb0.5778148","type":"ui_switch","z":"b10d0cab.a1535","name":"Notification","label":"Notification:","group":"b369382a.d33bd8","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":770,"y":745,"wires":[["a8b2241e.a9a8d8","2356de54.3bd792"]]},{"id":"a8b2241e.a9a8d8","type":"change","z":"b10d0cab.a1535","name":"Enable / Disable notification","rules":[{"t":"set","p":"notification","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":996,"y":718,"wires":[[]]},{"id":"638fbb87.569394","type":"catch","z":"b10d0cab.a1535","name":"","scope":null,"x":101.00000381469727,"y":1250,"wires":[["f82cc063.9422e"]]},{"id":"104fc7d1.ee2648","type":"e-mail","z":"b10d0cab.a1535","server":"localhost","port":"25","secure":false,"name":"","dname":"Send error mail","x":781.0000038146973,"y":1250,"wires":[]},{"id":"980faff8.f39a9","type":"function","z":"b10d0cab.a1535","name":"Prepare error email","func":"// Only create one user notification\nif(flow.get('mailSent')){\n    return null;\n} else {\n\n    msg.to = 'mail@to.dk';\n    msg.from = 'mail@from.dk';\n    msg.topic = 'Error in docker/robot monitor for flow: Sigfox HummBox devices to Kafka';\n    \n    if(msg.error && msg.error.message){\n        msg.payload = '<p style=\"font-family: Trebuchet MS;\">The following error was thrown:</p>';\n        msg.payload += '<p style=\"font-family: Trebuchet MS;\">' + msg.error.message + '</p>';\n        if(msg.error.source){\n            msg.payload += '<p style=\"font-family: Trebuchet MS;\"><b>Source:</b>';\n            if(msg.error.source.id) msg.payload +=   '<li style=\"font-family: Trebuchet MS;\">Id: ' + msg.error.source.id + '</li>';\n            if(msg.error.source.type) msg.payload += '<li style=\"font-family: Trebuchet MS;\">Type: ' + msg.error.source.type + '</li>';\n            if(msg.error.source.name) msg.payload += '<li style=\"font-family: Trebuchet MS;\">Name: ' + msg.error.source.name + '</li>';\n            msg.payload += '</p>';\n        }\n        msg.payload += '<p><a href=\"http://localhost:1893/ui\" target=\"_blank\">Goto dashboard...</a></p>';\n    }\n    flow.set('mailSent', true);\n    return msg;\n}","outputs":1,"noerr":0,"x":559.0000038146973,"y":1250,"wires":[["104fc7d1.ee2648"]]},{"id":"4625f288.7da2dc","type":"ui_text","z":"b10d0cab.a1535","group":"b369382a.d33bd8","order":3,"width":0,"height":0,"name":"","label":"Interval:","format":"{{msg.interval}}","layout":"row-spread","x":1209,"y":522,"wires":[]},{"id":"807a25a0.cb6808","type":"http in","z":"b10d0cab.a1535","name":"","url":"/hummbox_log","method":"get","upload":false,"swaggerDoc":"","x":128.00000381469727,"y":1377,"wires":[["d87b9359.16974"]]},{"id":"6eabc74.09e6138","type":"http response","z":"b10d0cab.a1535","name":"","statusCode":"","headers":{},"x":762.0000038146973,"y":1377,"wires":[]},{"id":"d87b9359.16974","type":"file in","z":"b10d0cab.a1535","name":"","filename":"/usr/src/node-red/hepwat.log","format":"utf8","chunk":false,"sendError":false,"x":368.00000381469727,"y":1377,"wires":[["a1288f63.6c84e"]]},{"id":"a1288f63.6c84e","type":"function","z":"b10d0cab.a1535","name":"Format log data","func":"msg.payload = msg.payload.replace(/\\n/gm,'<br>');\nreturn msg;","outputs":1,"noerr":0,"x":599.0000038146973,"y":1377,"wires":[["6eabc74.09e6138"]]},{"id":"4b87a0fe.a45ad","type":"comment","z":"b10d0cab.a1535","name":"Flow for viewing log file","info":"","x":138.00000381469727,"y":1328,"wires":[]},{"id":"86050940.ca0f78","type":"function","z":"b10d0cab.a1535","name":"Cleanup","func":"delete msg.updateLastRun;\ndelete msg.lastrun;\nreturn msg;","outputs":1,"noerr":0,"x":474,"y":180,"wires":[[]]},{"id":"84978563.d9b198","type":"postgrestor","z":"b10d0cab.a1535","name":"Select last run data","query":"SELECT sensor_object_node_key, interval, lastrun \nFROM public.sensor_object_nodes \nWHERE datasource_id = {{{msg.payload.dataSource.id}}}","postgresDB":"fa2a0cde.a660f","output":true,"outputs":1,"x":364,"y":925,"wires":[["604e5939.bf0bf8"]]},{"id":"604e5939.bf0bf8","type":"function","z":"b10d0cab.a1535","name":"Determine node status","func":"var StatusEnum = {\n    STATUS_OPERATING: 'Operating',\n    STATUS_STOPPED: 'Stopped',\n    STATUS_NO_SIGNAL: 'No signal'\n};\n\nvar i = 0;\nvar _updateStatus = '';\n\nfor ( i = 0; i < msg.payload.rows.length; i++ ) {\n  var _sensor_object_node_key = msg.payload.rows[i].sensor_object_node_key;\n  var _interval = msg.payload.rows[i].interval;\n  var _now = new Date().getTime();\n  var _status = null;\n  var _lastrun = null;\n  \n  if(msg.payload.rows[i].lastrun){\n      _lastrun = msg.payload.rows[i].lastrun.getTime()\n  }\n  \n  if(_lastrun){\n    var _timediff = _now - _lastrun;\n    if(_timediff < 2 * _interval){\n      _status = StatusEnum.STATUS_OPERATING;\n    }\n    else{\n      _status = StatusEnum.STATUS_STOPPED;\n    }\n  }\n  else{\n    _status = StatusEnum.STATUS_NO_SIGNAL;\n  }\n  _updateStatus += \"UPDATE public.sensor_object_nodes SET status = '\" + _status  + \"' WHERE (sensor_object_node_key = \" + _sensor_object_node_key + \");\"; \n}\n\nmsg.updateStatus = _updateStatus;\n\nreturn msg;","outputs":1,"noerr":0,"x":586,"y":925,"wires":[["7433d941.7eb328"]]},{"id":"7433d941.7eb328","type":"postgrestor","z":"b10d0cab.a1535","name":"Update node status","query":"{{{msg.updateStatus}}}\n","postgresDB":"fa2a0cde.a660f","output":true,"outputs":1,"x":816,"y":925,"wires":[["ccc65226.702c8"]]},{"id":"71773341.4906ac","type":"postgrestor","z":"b10d0cab.a1535","name":"Query Sensor Data","query":"{{{msg.sqlStatements}}}","postgresDB":"fa2a0cde.a660f","output":true,"outputs":1,"x":760,"y":1092,"wires":[["8703de2a.2512f"]]},{"id":"ccc65226.702c8","type":"function","z":"b10d0cab.a1535","name":"Get sensor data","func":"var i;\nvar sqlStatements = '';\nvar dataSource = flow.get('dataSource');\n\n// Count number of operating sensors\nsqlStatements = \"SELECT count(*) FROM public.sensor_object_nodes WHERE datasource_id = \" + dataSource.id +\n                \" AND status = 'Operating';\";\n\n// Count total number of sensors\nsqlStatements += \"SELECT count(*) FROM public.sensor_object_nodes WHERE datasource_id = \" + dataSource.id +\";\";\n\nmsg.sqlStatements = sqlStatements;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":565,"y":1092,"wires":[["71773341.4906ac"]]},{"id":"8703de2a.2512f","type":"function","z":"b10d0cab.a1535","name":"Calculate","func":"var allSensors = msg.payload.rows[1].count;\nvar operatingSensors = msg.payload.rows[0].count;\nvar availableSensors;\nvar dataSource = flow.get('dataSource');\n\nif(allSensors && allSensors > 0 ){\n    availableSensors = Math.round((operatingSensors / allSensors) * 100);\n    if(availableSensors === 0){\n        secondsAlive = (Date.now() - flow.get('tsRobotStarted')) * 0.001;\n        // node.log(\"secondsAlive = \" + secondsAlive.toFixed(2));\n        if(secondsAlive > 2){\n            node.error(\"No operating sensors are available!\", msg);\n        }\n    }\n}\n\nmsg.gaugeLabel = \"Operating Sensors \" + operatingSensors + \":\" + allSensors; \nmsg.availableSensors = availableSensors;\nmsg.payload = availableSensors;\n\nmsg.updateAvailability = \"UPDATE public.datasource SET availability = \" + msg.payload +\n                         \"WHERE datasource_id = \" + dataSource.id + \";\";\n                         \nreturn msg;\n","outputs":1,"noerr":0,"x":935,"y":1092,"wires":[["506ed6cd.f852d8","34ec9ae6.c125c6"]]},{"id":"2c24551d.c763ea","type":"postgrestor","z":"b10d0cab.a1535","name":"Query Sensor Object Nodes","query":"SELECT sensor_object_node_key, name, description, status \nFROM public.sensor_object_nodes \nWHERE datasource_id = {{{msg.payload.dataSource.id}}} ORDER BY sensor_object_node_key;","postgresDB":"fa2a0cde.a660f","output":true,"outputs":1,"x":394,"y":566,"wires":[["b11e5764.3064a8"]]},{"id":"b11e5764.3064a8","type":"function","z":"b10d0cab.a1535","name":"Device list","func":"var sensors = [];\nvar i;\nvar jsonText = \"\";\n\nfor ( i = 0; i < msg.payload.rows.length; i++ ) {\n  var _sensor_object_node_key = msg.payload.rows[i].sensor_object_node_key;\n  var _name = msg.payload.rows[i].name;\n  var _description = msg.payload.rows[i].description;\n  var _status = msg.payload.rows[i].status;\n  var data = _sensor_object_node_key;\n  var elem = {};\n  var label;\n  \n  label = _sensor_object_node_key + \" : \" + _description;\n  \n  elem[label] =  data;\n  sensors.push(elem);\n}\n\nmsg.options = sensors;\nreturn msg;","outputs":1,"noerr":0,"x":572,"y":612,"wires":[["589cbd10.084d94"]]},{"id":"2989f4c9.f8108c","type":"postgrestor","z":"b10d0cab.a1535","name":"Select operation data","query":"select interval, lastrun, status from public.sensor_object_nodes\nwhere sensor_object_node_key = {{{msg.payload}}};","postgresDB":"fa2a0cde.a660f","output":true,"outputs":1,"x":857,"y":613,"wires":[["572391b4.11379"]]},{"id":"e7e272e7.229ba","type":"comment","z":"b10d0cab.a1535","name":"Update sensor status in PostgreSQL","info":"","x":416,"y":870,"wires":[]},{"id":"d69459aa.4b4dc8","type":"ui_text","z":"b10d0cab.a1535","group":"b369382a.d33bd8","order":5,"width":0,"height":0,"name":"","label":"Sensor Status:","format":"{{msg.status}}","layout":"row-spread","x":1228,"y":605,"wires":[]},{"id":"589cbd10.084d94","type":"ui_dropdown","z":"b10d0cab.a1535","name":"Dropdown","label":"","place":"Select sensor...","group":"b369382a.d33bd8","order":2,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":704.5,"y":565.6499633789062,"wires":[["2989f4c9.f8108c"]]},{"id":"572391b4.11379","type":"function","z":"b10d0cab.a1535","name":"Change format","func":"msg.interval = \"\";\nmsg.lastrun = \"\";\nmsg.status = \"\";\n\nif(msg.payload.rows[0].interval && msg.payload.rows[0].interval > 0){\n    var interval = msg.payload.rows[0].interval;  // interval in milliseconds\n    var time;\n    var unit;\n\n    if (0 < interval && interval <= 60000){                // convert interval to seconds\n      time = interval / 1000;\n      unit = \" [sec]\";    \n    } else if (60000 < interval && interval <= 3600000) {  // convert interval to minutes\n      time = interval / 1000 / 60;\n      unit = \" [min]\";\n    } else if (3600000 < interval) {                       // convert interval to hours\n      time = interval / 1000 / 60 / 60;\n      unit = \" [hour]\";\n    } else {\n      time = \"\";\n      unit = \" [-]\";\n    }\n    \n    msg.interval = time + unit;\n}\nif(msg.payload.rows[0].lastrun){\n    //var localDate = msg.payload.rows[0].lastrun.toISOString();\n    var localDate = msg.payload.rows[0].lastrun.toLocaleString();\n    msg.lastrun = localDate;\n}\nif(msg.payload.rows[0].status){\n    msg.status = msg.payload.rows[0].status;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":566,"wires":[["33e7e726.638fe8","4625f288.7da2dc","d69459aa.4b4dc8"]]},{"id":"8ee570db.589b6","type":"postgrestor","z":"b10d0cab.a1535","name":"Select robot started data","query":"SELECT robot_started FROM public.datasource WHERE datasource_id = {{{msg.payload.dataSource.id}}}","postgresDB":"fa2a0cde.a660f","output":true,"outputs":1,"x":384,"y":438,"wires":[["7c8083b7.0ae81c"]]},{"id":"20608df0.31e592","type":"postgrestor","z":"b10d0cab.a1535","name":"Update robot status","query":"--UPDATE public.datasource \n--SET robot_started = {{{msg.payload}}} \n--WHERE datasource_id = {{{flow.get('dataSource').id}}};\n\n{{{msg.updateRobotStarted}}}","postgresDB":"fa2a0cde.a660f","output":true,"outputs":1,"x":1162,"y":451,"wires":[[]]},{"id":"7c8083b7.0ae81c","type":"function","z":"b10d0cab.a1535","name":"Return status","func":"msg.payload = msg.payload.rows[0].robot_started;\nreturn msg;","outputs":1,"noerr":0,"x":592,"y":438,"wires":[["d8883692.765f58"]]},{"id":"58bb0003.fe4c","type":"postgrestor","z":"b10d0cab.a1535","name":"Query notification status","query":"SELECT notification_on \nFROM public.datasource \nWHERE datasource_id = {{{msg.payload.dataSource.id}}};","postgresDB":"fa2a0cde.a660f","output":true,"outputs":1,"x":385,"y":745,"wires":[["8ce037f.2fe3fc8"]]},{"id":"9f2be079.514fb","type":"postgrestor","z":"b10d0cab.a1535","name":"Update notification status","query":"{{{msg.updateNotification}}}\n","postgresDB":"fa2a0cde.a660f","output":true,"outputs":1,"x":1127,"y":772,"wires":[[]]},{"id":"8ce037f.2fe3fc8","type":"function","z":"b10d0cab.a1535","name":"Return status","func":"msg.payload = msg.payload.rows[0].notification_on;\nreturn msg;","outputs":1,"noerr":0,"x":592,"y":745,"wires":[["b1f1bb0.5778148"]]},{"id":"6352da0b.380794","type":"comment","z":"b10d0cab.a1535","name":"Get data for selected sensor from PostgreSQL","info":"","x":446,"y":511,"wires":[]},{"id":"727695c.27c9f6c","type":"comment","z":"b10d0cab.a1535","name":"Enable / Disable notification","info":"","x":396,"y":693,"wires":[]},{"id":"34ec9ae6.c125c6","type":"postgrestor","z":"b10d0cab.a1535","name":"Update availability","query":"--UPDATE public.datasource \n--SET availability = {{{msg.payload}}} \n--WHERE datasource_id = {{{flow.get('dataSource').id}}};\n\n{{{msg.updateAvailability}}}\n","postgresDB":"fa2a0cde.a660f","output":true,"outputs":1,"x":1122,"y":1115,"wires":[[]]},{"id":"2c07d5fe.c639fa","type":"comment","z":"b10d0cab.a1535","name":"== REMEMBER TO CONFIGURE PAYLOAD AND REPEAT PROPERTY OF INJECT NODE ==","info":"","x":670,"y":40,"wires":[]},{"id":"25c1f4d0.6aa82c","type":"function","z":"b10d0cab.a1535","name":"Set dataSource","func":"flow.set('dataSource', msg.payload.dataSource);\nreturn msg;","outputs":1,"noerr":0,"x":123,"y":438,"wires":[["8ee570db.589b6","2c24551d.c763ea","58bb0003.fe4c"]]},{"id":"2157f6ae.1de12a","type":"inject","z":"b10d0cab.a1535","name":"","topic":"","payload":"{\"dataSource\":{\"id\":1007}}","payloadType":"json","repeat":"","crontab":"","once":true,"x":91,"y":380,"wires":[["25c1f4d0.6aa82c"]]},{"id":"a796061.d48eaf8","type":"function","z":"b10d0cab.a1535","name":"sqlRobot","func":"// Update robot status in PostgreSQL\nvar dataSource = flow.get('dataSource');\n\nmsg.updateRobotStarted = \"UPDATE public.datasource SET robot_started = \" + msg.payload +\n                         \" WHERE datasource_id = \" + dataSource.id + \";\";\n                         \n// Reset notification counter\nflow.set('mailSent', false);\n\n// Timestamp for when robot is started\nif(msg.payload){\n    flow.set('tsRobotStarted', Date.now());\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":993.5,"y":450.5999755859375,"wires":[["20608df0.31e592"]]},{"id":"2356de54.3bd792","type":"function","z":"b10d0cab.a1535","name":"sqlNotify","func":"var dataSource = flow.get('dataSource');\n\nmsg.updateNotification = \"UPDATE public.datasource SET notification_on = \" + msg.payload +\n                         \" WHERE datasource_id = \" + dataSource.id + \";\";\n\nreturn msg;","outputs":1,"noerr":0,"x":936,"y":773,"wires":[["9f2be079.514fb"]]},{"id":"5e0d42c7.b7cb4c","type":"comment","z":"b10d0cab.a1535","name":"Flows to monitor functionality","info":"","x":160,"y":305,"wires":[]},{"id":"adb8f302.45309","type":"function","z":"b10d0cab.a1535","name":"Set dataSource","func":"flow.set('dataSource', msg.payload.dataSource);\n\nreturn msg;","outputs":1,"noerr":0,"x":126,"y":925,"wires":[["84978563.d9b198"]]},{"id":"f996dda0.cbdef","type":"inject","z":"b10d0cab.a1535","name":"","topic":"","payload":"{\"dataSource\":{\"id\":1007}}","payloadType":"json","repeat":"600","crontab":"","once":true,"x":94,"y":867,"wires":[["adb8f302.45309"]]},{"id":"5383fd84.9d2144","type":"http in","z":"b10d0cab.a1535","name":"","url":"/kafka_data_log","method":"get","upload":false,"swaggerDoc":"","x":130,"y":1440,"wires":[["8f0eb03e.e4dd9"]]},{"id":"2c8131.cd1e6ed","type":"http response","z":"b10d0cab.a1535","name":"","statusCode":"","headers":{},"x":764,"y":1440,"wires":[]},{"id":"8f0eb03e.e4dd9","type":"file in","z":"b10d0cab.a1535","name":"","filename":"/usr/src/node-red/kafka_data.log","format":"utf8","chunk":false,"sendError":false,"x":380,"y":1440,"wires":[["f8408aea.4e5878"]]},{"id":"f8408aea.4e5878","type":"function","z":"b10d0cab.a1535","name":"Format log data","func":"msg.payload = msg.payload.replace(/\\n/gm,'<br>');\nreturn msg;","outputs":1,"noerr":0,"x":605,"y":1440,"wires":[["2c8131.cd1e6ed"]]},{"id":"9f124fb2.66fc9","type":"http in","z":"b10d0cab.a1535","name":"","url":"/catch_errors_log","method":"get","upload":false,"swaggerDoc":"","x":140,"y":1500,"wires":[["6e766897.bde7e8"]]},{"id":"387380dd.a8282","type":"http response","z":"b10d0cab.a1535","name":"","statusCode":"","headers":{},"x":764,"y":1500,"wires":[]},{"id":"6e766897.bde7e8","type":"file in","z":"b10d0cab.a1535","name":"","filename":"/usr/src/node-red/catch_errors.log","format":"utf8","chunk":false,"sendError":false,"x":390,"y":1500,"wires":[["f600ef81.be888"]]},{"id":"f600ef81.be888","type":"function","z":"b10d0cab.a1535","name":"Format log data","func":"msg.payload = msg.payload.replace(/\\n/gm,'<br>');\nreturn msg;","outputs":1,"noerr":0,"x":622,"y":1500,"wires":[["387380dd.a8282"]]},{"id":"b369382a.d33bd8","type":"ui_group","z":"b10d0cab.a1535","name":"Sigfox HummBox","tab":"54f28d97.d1f394","order":2,"disp":false,"width":"6"},{"id":"fa2a0cde.a660f","type":"postgresDB","z":"","name":"@localhost:5432/hepwat","host":"localhost","port":"5432","database":"hepwat","ssl":false,"max":"100","min":1,"idle":"1000"},{"id":"54f28d97.d1f394","type":"ui_tab","z":"","name":"Sigfox HummBox","icon":"dashboard","order":1},{"id":"4b07c633.cfac78","type":"tab","label":"SigFox HummBox devices to Kafka","disabled":false,"info":""},{"id":"82121c4f.5fcbd","type":"comment","z":"4b07c633.cfac78","name":"Prepare and save metadata concerning HummBox Devices","info":"","x":250,"y":46,"wires":[]},{"id":"8617708.f34c79","type":"delay","z":"4b07c633.cfac78","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":337,"y":176,"wires":[["3159112a.7ef20e"]]},{"id":"6a40623d.e5681c","type":"function","z":"4b07c633.cfac78","name":"Prepare request for specific device measures","func":"try{\n    if ( msg.payload && msg.payload.rows && msg.payload.rows.length > 0 ) {\n    \n        var _dataSource = flow.get('dataSource');\n        var _url = _dataSource.url;\n        if(!_url.endsWith('/')) _url += '/';\n\n        // Set flow variable    \n        var nodeTopicIdMapping = [];\n        flow.set('nodeTopicIdMapping', []);\n        \n        for ( _sId = 0; _sId < msg.payload.rows.length; _sId++ ) {\n            nodeTopicIdMapping.push({\n                object_id: msg.payload.rows[_sId].sensor_object_id,\n                object_node_id: msg.payload.rows[_sId].sensor_object_node_id,\n                key: msg.payload.rows[_sId].sensor_object_node_key,\n                name: msg.payload.rows[_sId].name,\n                interval: msg.payload.rows[_sId].interval,\n                lastrun: msg.payload.rows[_sId].lastrun\n            });\n        }\n        flow.set('nodeTopicIdMapping', nodeTopicIdMapping);\n    \n        // Send url requests for all devices\n        var _deviceId = \"\";\n        var _nextDeviceId = \"\";\n        for ( _sId = 0; _sId < msg.payload.rows.length; _sId++ ) {\n            var _deviceId = msg.payload.rows[_sId].sensor_object_id + '/';\n            var _specificDeviceMeasuresUrl = _url + _deviceId + 'measures?sort[created_at]=desc&limit=144&skip=0';\n            //var _specificDeviceMeasuresUrl = _url + _deviceId + 'measures?sort[created_at]=desc&limit=1&skip=0';\n            \n            if( _deviceId != _nextDeviceId ){\n                node.send({ \n                    headers: { \n                        Authorization: _dataSource.authentication.authorization\n                    },\n                    url: _specificDeviceMeasuresUrl\n                });\n            }\n            _nextDeviceId = _deviceId;\n        }\n    }\n    return null;\n    \n} catch (err) {\n\t\tif(err.message){\n\t\t    // Trigger catch node\n            node.error(err.message, msg);\n        \n\t\t    // Log to console\n            node.error(err.message);\n        } else {\n            node.error(\"Error: \", err)\n        }\n}","outputs":1,"noerr":0,"x":270,"y":664,"wires":[["e5f8810f.61054"]]},{"id":"e5f8810f.61054","type":"https-node","z":"4b07c633.cfac78","name":"","method":"GET","ret":"txt","url":"","authorized":true,"agent":false,"x":558,"y":664,"wires":[["e17e7cd8.0d409"]]},{"id":"e17e7cd8.0d409","type":"json","z":"4b07c633.cfac78","name":"","pretty":false,"x":752,"y":663,"wires":[["b02fdf11.375ca","ca6f2a35.1b0f68"]]},{"id":"ca18226c.e3ccb","type":"function","z":"4b07c633.cfac78","name":"Prepare request for specific device","func":"var _dataSource = flow.get('dataSource');\nvar _url = _dataSource.url;\nif(!_url.endsWith('/')) _url += '/';\n\nvar _nodeId = msg.nodeId;\nif(!_nodeId.endsWith('/')) _nodeId += '/';\n\nvar _specificDeviceUrl = _url + _nodeId;\n\n// AddAuthorizationToHeader\nmsg.headers = { \n    Authorization: _dataSource.authentification.authorization\n};\nmsg.url = _specificDeviceUrl;\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":311,"wires":[["394fd6c9.e58bea"]]},{"id":"3159112a.7ef20e","type":"function","z":"4b07c633.cfac78","name":"Prepare request for all devices","func":"var _dataSource = flow.get('dataSource');\nvar _url = _dataSource.url;\nif(!_url.endsWith('/')) _url += '/';\n\nvar _allDevicesUrl = _url;\n\n// AddAuthorizationToHeader\nmsg.headers = { \n    Authorization: _dataSource.authentification.authorization\n};\nmsg.url = _allDevicesUrl;\n\nreturn msg;","outputs":1,"noerr":0,"x":595,"y":176,"wires":[["7b9d20cb.b0572"]]},{"id":"c8954143.b6e5a","type":"json","z":"4b07c633.cfac78","name":"","pretty":false,"x":1049,"y":176,"wires":[["93d716d0.480758","8bbe0718.624388"]]},{"id":"7b9d20cb.b0572","type":"https-node","z":"4b07c633.cfac78","name":"","method":"GET","ret":"txt","url":"","authorized":true,"agent":false,"x":861,"y":176,"wires":[["c8954143.b6e5a"]]},{"id":"394fd6c9.e58bea","type":"https-node","z":"4b07c633.cfac78","name":"","method":"GET","ret":"txt","url":"","authorized":true,"agent":false,"x":837,"y":311,"wires":[["dc029087.a5ea1"]]},{"id":"dc029087.a5ea1","type":"json","z":"4b07c633.cfac78","name":"","pretty":false,"x":1025,"y":311,"wires":[["2080538f.f0b03c","f3229ed3.c67fb"]]},{"id":"93d716d0.480758","type":"function","z":"4b07c633.cfac78","name":"Iterate Sensor Objects","func":"if(msg && msg.payload) {\n    if(msg.payload.length > 0) {\n\n        var _dataSource = flow.get('dataSource');\n\n        for (var i=0; i<msg.payload.length; i++) {\n\n            _device = msg.payload[i];\n            \n            if(_device){\n                node.send({ \n                    dataSourceId: _dataSource.id,\n                    nodeId: _device.id,\n                    browseName: _device.name,\n                    displayName: _device.name,\n                    description: _device.type,\n                    location: {\n                        lat: _device.lat,\n                        lng: _device.lng\n                    },\n                    collectionFrequency: _device.collectionFrequency\n                });\n            }\n        }\n    }\n}\nreturn null;\n\n","outputs":"1","noerr":0,"x":214,"y":265,"wires":[["72d7e656.bfd078","ca18226c.e3ccb"]]},{"id":"72d7e656.bfd078","type":"postgrestor","z":"4b07c633.cfac78","name":"Create or update Sensor Objects","query":"-- Insert or Update Sensor Object\nINSERT INTO public.SENSOR_OBJECT (DATASOURCE_ID, SENSOR_OBJECT_ID, NAME, DESCRIPTION, UPDATED, LOCATION)\nVALUES (\n {{{ msg.dataSourceId }}}, \n'{{{ msg.nodeId }}}', \n'{{{ msg.displayName }}}', \n'{{{ msg.description }}}', \nLOCALTIMESTAMP,\n'{{{ JSON.stringify(msg.location) }}}')\nON CONFLICT (DATASOURCE_ID, SENSOR_OBJECT_ID) DO UPDATE\nSET\n   NAME = '{{{ msg.displayName }}}',\n   DESCRIPTION = '{{{ msg.description }}}',\n   UPDATED = LOCALTIMESTAMP,\n   LOCATION = '{{{ JSON.stringify(msg.location) }}}';","postgresDB":"bdf1a4c7.55a848","output":false,"outputs":1,"x":549,"y":264,"wires":[[]]},{"id":"2080538f.f0b03c","type":"function","z":"4b07c633.cfac78","name":"Iterate Sensor Object Nodes","func":"if(msg && msg.payload && msg.payload.sensors) {\n    if(msg.payload.sensors.length > 0) {\n\n        var _dataSource = flow.get('dataSource');\n        var _device = msg.payload;\n        \n        // Add sensors as received by API but limited to\n        // sensors with measurements and not calculated values\n        for (var si=0; si<_device.sensors.length; si++) {\n            var _sensor = _device.sensors[si];\n\n            if(_device){\n                if(_sensor.id == \"1111\" || _sensor.id == \"2222\" || _sensor.id == \"3333\"){\n                    node.send({ \n                        dataSourceId: _dataSource.id,\n                        parentNodeId: _device.id,\n                        topic: _sensor.id,\n                        browseName: _sensor.name, \n                        description: _sensor.name, \n                        dataType: 'double', \n                        //nodeTypeOld: 'sensor',\n                        nodeDomain: '',\n                        readable: true,\n                        writeable: false, \n                        defaultInterval: msg.collectionFrequency * 60 * 1000,\n                        nodeType: getNodeType(_sensor),\n                        unit: getUnit(_sensor)\n                    });\n                }\n            }\n        }\n        \n        // Manually add sensor with id 20202020 to carry signal strength not\n        // received through the API but from a callback on Sigfox backend server\n        var _measurementType = flow.get(\"measurementType\");\n        node.send({ \n                        dataSourceId: _dataSource.id,\n                        parentNodeId: _device.id,\n                        topic: '20202020',\n                        browseName: 'signal_strength', \n                        description: 'signal_strength', \n                        dataType: 'double', \n                        nodeTypeOld: 'sensor',\n                        nodeDomain: '',\n                        readable: true,\n                        writeable: false, \n                        defaultInterval: msg.collectionFrequency * 60 * 1000,\n                        nodeType: _measurementType[\"Signalstyrke\"],\n                        unit: \"dBm\"\n                    });\n    }\n}\nreturn null;\n\n\n\n//*******************************\n//*      Helper functions\n//*******************************\n\nfunction getNodeType(_sensor) {\n    var _nodeType = \"\";\n    var _measurementType = flow.get(\"measurementType\");\n    \n    switch (_sensor.name) {\n      case \"battery_carte\":\n        _nodeType = 24;\n        break;\n      case \"temperature_air_carte\":\n        _nodeType = _measurementType[\"Temperatur\"];\n        break;\n      case \"pluvio_davis\":\n        _nodeType = _measurementType[\"Nedbørsmængde\"];\n        break;\n      case \"pluvio_24h\":\n        _nodeType = _measurementType[\"Nedbørsmængde\"];\n        break;\n      case \"distance_maxbotix\":\n        _nodeType = _measurementType[\"Afstand\"];\n        break;\n      case \"signal_strength\":\n        _nodeType = _measurementType[\"Signalstyrke\"];\n        break;\n    }\n    \n  return _nodeType;\n}\n\nfunction getUnit(_sensor) {\n    var _unit = \"\";\n    \n    switch (_sensor.name) {\n      case \"battery_carte\":\n        _unit = \"%\";\n        break;\n      case \"temperature_air_carte\":\n        _unit = \"°C\";\n        break;\n      case \"pluvio_davis\":\n        _unit = \"mm\";\n        break;\n      case \"pluvio_24h\":\n        _unit = \"mm\";\n        break;\n      case \"distance_maxbotix\":\n        _unit = \"cm\";\n        break;\n      case \"signal_strength\":\n        _unit = \"dBm\";\n        break;\n    }\n    \n  return _unit;\n}","outputs":"1","noerr":0,"x":240,"y":406,"wires":[["e7e5f292.a49d8"]]},{"id":"e7e5f292.a49d8","type":"postgrestor","z":"4b07c633.cfac78","name":"Create or update Sensor Object Nodes","query":"-- Insert or Update Sensor Object Nodes\nINSERT INTO public.sensor_object_nodes (\n    datasource_id, sensor_object_id, sensor_object_node_id, name, \n    description, datatype, nodedomain, readable, writeable, \"interval\", \n    updated, nodetype, unit)\nVALUES (\n     {{{ msg.dataSourceId }}}, \n    '{{{ msg.parentNodeId }}}', \n    '{{{ msg.topic }}}', \n    '{{{ msg.browseName }}}', \n    '{{{ msg.description }}}', \n    '{{{ msg.dataType }}}', \n    '{{{ msg.nodeDomain }}}',\n     {{{ msg.readable }}}, \n     {{{ msg.writeable }}}, \n     {{{ msg.defaultInterval }}}, \n    LOCALTIMESTAMP,\n     {{{ msg.nodeType }}},\n     '{{{ msg.unit }}}'\n)\nON CONFLICT (DATASOURCE_ID, SENSOR_OBJECT_ID, SENSOR_OBJECT_NODE_ID) DO UPDATE\nSET\n   name = '{{{ msg.browseName }}}', \n   description = '{{{ msg.description }}}', \n   datatype = '{{{ msg.dataType }}}', \n   nodedomain = '{{{ msg.nodeDomain }}}',\n   readable = {{{ msg.readable }}}, \n   writeable = {{{ msg.writeable }}}, \n   \"interval\" = {{{ msg.defaultInterval }}}, \n   updated = LOCALTIMESTAMP,\n   nodetype = {{{ msg.nodeType }}},\n   unit =  '{{{ msg.unit }}}';","postgresDB":"bdf1a4c7.55a848","output":true,"outputs":1,"x":535,"y":406,"wires":[[]]},{"id":"3393f71.ea16308","type":"postgrestor","z":"4b07c633.cfac78","name":"Query Sensor Object Nodes","query":"SELECT sensor_object_id, name, sensor_object_node_id, sensor_object_node_key, datatype, \"interval\", lastrun\nFROM public.sensor_object_nodes\nWHERE (datasource_id = {{{ msg.dataSource.id }}}) AND (readable = true) \nORDER BY sensor_object_id, sensor_object_node_id ASC;","postgresDB":"bdf1a4c7.55a848","output":true,"outputs":1,"x":1032,"y":606,"wires":[["6a40623d.e5681c"]]},{"id":"e346147b.9e4d88","type":"inject","z":"4b07c633.cfac78","name":"Initialize import of values from HummBox Devices","topic":"","payload":"{\"dataSource\":{\"id\":1007}}","payloadType":"json","repeat":"600","crontab":"","once":true,"onceDelay":"","x":230,"y":599,"wires":[["3288cc5f.8efd04"]]},{"id":"3288cc5f.8efd04","type":"postgrestor","z":"4b07c633.cfac78","name":"Query datasource","query":"SELECT DATASOURCE_ID, NAME, URL, AUTHENTICATION_TYPE\nFROM public.DATASOURCE \nWHERE DATASOURCE_ID = {{{ msg.payload.dataSource.id }}};\n","postgresDB":"bdf1a4c7.55a848","output":true,"outputs":1,"x":577,"y":606,"wires":[["58c73feb.cdb92"]]},{"id":"58c73feb.cdb92","type":"function","z":"4b07c633.cfac78","name":"Extract datasource","func":"if(msg.payload && msg.payload.rows && msg.payload.rows.length > 0) {\n    var _dataSource = {\n        id: msg.payload.rows[0].datasource_id,\n        name: msg.payload.rows[0].name,\n        url: msg.payload.rows[0].url,\n        authentication: JSON.parse(msg.payload.rows[0].authentication_type)\n    };\n    msg.dataSource = _dataSource;\n    flow.set('dataSource', _dataSource);\n    return msg;\n}\nelse \n    return null;","outputs":1,"noerr":0,"x":791,"y":606,"wires":[["3393f71.ea16308"]]},{"id":"b02fdf11.375ca","type":"function","z":"4b07c633.cfac78","name":"Prepare topic payload","func":"try{\n    var _nodeTopicIdMapping = flow.get('nodeTopicIdMapping');\n    if(_nodeTopicIdMapping && _nodeTopicIdMapping.length > 0 && msg.payload && msg.payload.length > 0) {\n        for(var _msNo = msg.payload.length - 1; _msNo >= 0; _msNo--) {     \n            for(var _nodeId = 0; _nodeId < _nodeTopicIdMapping.length; _nodeId++) {\n                if (_nodeTopicIdMapping[_nodeId].object_id == msg.payload[_msNo].deviceID) {\n                    var _key = _nodeTopicIdMapping[_nodeId].key;\n                    var _value = msg.payload[_msNo][_nodeTopicIdMapping[_nodeId].name];\n                    var _interval = _nodeTopicIdMapping[_nodeId].interval;\n                    var _lastrun = _nodeTopicIdMapping[_nodeId].lastrun.getTime();          // timestamp from PostgreSQL\n                    var _timestamp = (new Date(msg.payload[_msNo].created_at)).getTime();   // timestamp from Sigfox device\n                    \n                    // Only send payload if new measurement\n                    if(_timestamp > _lastrun && _value !== null && typeof _value !== 'undefined'){\n                    //if(_value !== null && typeof _value !== 'undefined'){\n                        node.send({\n                            key: _key,\n                            payload: {\n                                timestamp: _timestamp,\n                                hepwatDeviceId: _key,\n                                value: _value,\n                                interval: _interval\n                            }\n                        });\n                    }\n                }\n            }\n        }\n    }\n    return null;\n    \n} catch (err) {\n        if(err.message){\n\t\t    // Trigger catch node\n            node.error(err.message, msg);\n        \n\t\t    // Log to console\n            node.error(err.message);\n        } else {\n            node.error(\"Prepare topic payload Error: \", err);\n        }\n}\n","outputs":1,"noerr":0,"x":384,"y":740,"wires":[["a8e9765a.ed8c28"]]},{"id":"a27a9a72.d7a5a8","type":"sagofonto-kafka-producer","z":"4b07c633.cfac78","kafkaHost":"localhost:9092","connectTimeout":"10000","requestTimeout":"30000","requireAcks":"1","ackTimeoutMs":"100","partitionerType":"3","topicName":"raw-test-10","compressionOption":"0","x":906,"y":740,"wires":[["88bbee7a.77a0c","6cde5a57.c47cc4"]]},{"id":"a9276919.9fb748","type":"comment","z":"4b07c633.cfac78","name":"Read HummBox Devices from database and produce data for Kafka topic","info":"","x":297,"y":522,"wires":[]},{"id":"520f1057.d3e4","type":"catch","z":"4b07c633.cfac78","name":"","scope":null,"x":122.0999984741211,"y":1018.8000545501709,"wires":[[]]},{"id":"84831e0f.4352a","type":"e-mail","z":"4b07c633.cfac78","server":"localhost","port":"25","secure":false,"name":"","dname":"Send error mail","x":521.1001052856445,"y":1018.6001424789429,"wires":[]},{"id":"31fcec03.0c4a74","type":"function","z":"4b07c633.cfac78","name":"Prepare error email","func":"var outMsg = {\n    to: 'mail@to.dk',\n    from: 'mail@from.dk',\n    topic: 'Error in Docker/Node-Red flow: SigFox HummBox devices to Kafka',\n};\n\nif(msg.error && msg.error.message){\n    outMsg.payload = '<p style=\"font-family: Trebuchet MS;\">The following error was thrown:</p>';\n    outMsg.payload += '<p style=\"font-family: Trebuchet MS;\">' + msg.error.message + '</p>';\n    if(msg.error.source){\n        outMsg.payload += '<p style=\"font-family: Trebuchet MS;\"><b>Source:</b>';\n        if(msg.error.source.id) outMsg.payload +=   '<li style=\"font-family: Trebuchet MS;\">Id: ' + msg.error.source.id + '</li>';\n        if(msg.error.source.type) outMsg.payload += '<li style=\"font-family: Trebuchet MS;\">Type: ' + msg.error.source.type + '</li>';\n        if(msg.error.source.name) outMsg.payload += '<li style=\"font-family: Trebuchet MS;\">Name: ' + msg.error.source.name + '</li>';\n        outMsg.payload += '</p>';\n    }\n    outMsg.payload += '<p><a href=\"http://localhost:1893/#flow/c9ba4ad.92402b8\" target=\"_blank\">Goto flow...</a></p>';\n}\n\nreturn outMsg;","outputs":1,"noerr":0,"x":320.09999084472656,"y":1018.6001453399658,"wires":[["84831e0f.4352a"]]},{"id":"ac2cba02.f1e1d8","type":"comment","z":"4b07c633.cfac78","name":"Logging and error handling","info":"","x":146,"y":955,"wires":[]},{"id":"a8e9765a.ed8c28","type":"subflow:b10d0cab.a1535","z":"4b07c633.cfac78","name":"","x":647,"y":740,"wires":[["a27a9a72.d7a5a8"]]},{"id":"b3179f8a.8384d","type":"sagofonto-log-backup","z":"4b07c633.cfac78","sourcePath":"/usr/src/node-red/","sourceFilename":"hepwat.log","destPath":"/usr/src/node-red/logs/","x":299.5,"y":1071.7999877929688,"wires":[[]]},{"id":"41497ea9.bb28f","type":"inject","z":"4b07c633.cfac78","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 03 * * 1,3,5,0","once":false,"x":131.5,"y":1071.2999877929688,"wires":[["b3179f8a.8384d"]]},{"id":"a9409dc0.34925","type":"inject","z":"4b07c633.cfac78","name":"Start import","topic":"","payload":"{\"dataSource\":{\"id\":1007,\"name\":\"Sigfox HummBox Devices\",\"url\":\"\",\"description\":\"Sigfox HummBox Devices\",\"authentification\":{\"type\":\"AuthorizationToken\",\"authorization\":\"Bearer ENCODED_JSON_WEB_TOKEN\"},\"rootTopic\":\"\",\"defaultInterval\":600000,\"dashboard\":{\"url\":\"http://localhost:1893/ui\"}}}","payloadType":"json","repeat":"","crontab":"00 06 * * *","once":false,"onceDelay":"","x":128,"y":176,"wires":[["520a54ee.1c84fc","8617708.f34c79"]]},{"id":"8bbe0718.624388","type":"mongodb out","z":"4b07c633.cfac78","mongodb":"b1387a75.a637c8","name":"SigFoxHummboxMetaDataAllDevices","collection":"SigFoxHummboxMetaDataAllDevices","payonly":false,"upsert":false,"multi":false,"operation":"store","x":1270,"y":207,"wires":[]},{"id":"ca6f2a35.1b0f68","type":"mongodb out","z":"4b07c633.cfac78","mongodb":"b1387a75.a637c8","name":"SigFoxHummboxMeasureData","collection":"SigFoxHummboxMeasureData","payonly":false,"upsert":false,"multi":false,"operation":"store","x":1043,"y":663,"wires":[]},{"id":"f3229ed3.c67fb","type":"mongodb out","z":"4b07c633.cfac78","mongodb":"b1387a75.a637c8","name":"SigFoxHummboxMetaDataSpecificDevice","collection":"SigFoxHummboxMetaDataSpecificDevice","payonly":false,"upsert":false,"multi":false,"operation":"store","x":1280,"y":283,"wires":[]},{"id":"bfbdd32c.ef59f","type":"function","z":"4b07c633.cfac78","name":"Carry dataSource info","func":"// Save new token\nvar _token = msg.payload;\n\n// Overwrite token in flow variable\nvar _dataSource = flow.get('dataSource');\n_dataSource.authentification.authorization = \"Bearer \" + _token;\nflow.set('dataSource', _dataSource);\n\n// Make new payload\nreturn {\n    payload: {\n        dataSource: {\n            id: _dataSource.id,\n            name: _dataSource.name,\n            url: _dataSource.url,\n            description: _dataSource.description,\n            authentification: JSON.stringify(_dataSource.authentification),\n            rootTopic: _dataSource.rootTopic,\n            defaultInterval: _dataSource.defaultInterval,\n            dashboard: _dataSource.dashboard\n        }\n    }\n};","outputs":1,"noerr":0,"x":657,"y":118,"wires":[["13edb307.69e75d"]]},{"id":"520a54ee.1c84fc","type":"function","z":"4b07c633.cfac78","name":"Set dataSource","func":"// Set flow variable\nflow.set('dataSource', msg.payload.dataSource);\nreturn msg;","outputs":1,"noerr":0,"x":274,"y":118,"wires":[["239c86a6.c92f3a"]]},{"id":"13edb307.69e75d","type":"postgrestor","z":"4b07c633.cfac78","name":"Insert datasource","query":"INSERT INTO public.DATASOURCE (DATASOURCE_ID, NAME, URL, AUTHENTICATION_TYPE, DESCRIPTION, UPDATED, DASHBOARD_URL)\nVALUES (\n  {{{ msg.payload.dataSource.id }}}, \n  '{{{ msg.payload.dataSource.name }}}', \n  '{{{ msg.payload.dataSource.url }}}', \n  '{{{ msg.payload.dataSource.authentification }}}', \n  '{{{ msg.payload.dataSource.description }}}', \n  LOCALTIMESTAMP,\n  '{{{ msg.payload.dataSource.dashboard.url }}}')\nON CONFLICT (DATASOURCE_ID) DO UPDATE\nSET\n  NAME = '{{{ msg.payload.dataSource.name }}}',\n  URL = '{{{ msg.payload.dataSource.url }}}',\n  AUTHENTICATION_TYPE = '{{{ msg.payload.dataSource.authentification }}}',\n  DESCRIPTION = '{{{ msg.payload.dataSource.description }}}',\n  UPDATED = LOCALTIMESTAMP,\n  DASHBOARD_URL = '{{{ msg.payload.dataSource.dashboard.url }}}';\n","postgresDB":"bdf1a4c7.55a848","output":false,"outputs":1,"x":880,"y":118,"wires":[["44d3fbd3.be0d74"]]},{"id":"88bbee7a.77a0c","type":"postgrestor","z":"4b07c633.cfac78","name":"Update last run and value","query":"-- Update last run for Sensor Object Nodes\nUPDATE public.sensor_object_nodes\nSET lastrun = to_timestamp({{{msg.payload.timestamp}}} * 0.001), lastvalue = {{{msg.payload.value}}} \nWHERE (sensor_object_node_key = {{{msg.payload.hepwatDeviceId}}});\n","postgresDB":"905c1538.4faaa8","output":true,"outputs":1,"x":1147,"y":740,"wires":[[]]},{"id":"239c86a6.c92f3a","type":"sagofonto-sigfox-token","z":"4b07c633.cfac78","name":"Get new token","clientId":"11Zkz3umQVRvGrLSn8BuhVcHkm9W00Pn","clientSecret":"ZVGr3JGAmb9d2Ntdi4RlEwXxA1l0QNmI08ssF7XAuAuRN5pcIEbdDzh0VPZq3rDT","x":454,"y":118,"wires":[["bfbdd32c.ef59f"]]},{"id":"6cde5a57.c47cc4","type":"debug","z":"4b07c633.cfac78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1085,"y":799,"wires":[]},{"id":"d2024f75.ffa34","type":"http in","z":"4b07c633.cfac78","name":"","url":"/sigfox/callback/","method":"post","upload":false,"swaggerDoc":"","x":141,"y":799,"wires":[["a535988e.08aff8","5f207807.a84248"]]},{"id":"a535988e.08aff8","type":"http response","z":"4b07c633.cfac78","name":"","statusCode":"","headers":{},"x":291,"y":839,"wires":[]},{"id":"5f207807.a84248","type":"function","z":"4b07c633.cfac78","name":"Signal strength payload","func":"try{\n    var _nodeTopicIdMapping = flow.get('nodeTopicIdMapping');\n    if(_nodeTopicIdMapping && _nodeTopicIdMapping.length > 0 && msg.payload) {\n        for(_nodeId = 0; _nodeId < _nodeTopicIdMapping.length; _nodeId++) {\n            if (_nodeTopicIdMapping[_nodeId].object_id == msg.payload.device &&\n                _nodeTopicIdMapping[_nodeId].object_node_id == \"20202020\") {\n                var _key = _nodeTopicIdMapping[_nodeId].key;\n                var _value = msg.payload.rssi;\n                var _interval = _nodeTopicIdMapping[_nodeId].interval;\n                // var _lastrun = _nodeTopicIdMapping[_nodeId].lastrun.getTime();  // timestamp from PostgreSQL\n                var _timestamp = 1000 * (new Date(msg.payload.time)).getTime();    // timestamp from Sigfox device\n                \n                // This measurement will always be a new one so no need to compare with lastrun\n                //if(_timestamp > _lastrun && _value !== null && typeof _value !== 'undefined'){\n                    node.send({\n                        key: _key,\n                        payload: {\n                            timestamp: _timestamp,\n                            hepwatDeviceId: _key,\n                            value: _value,\n                            interval: _interval\n                        }\n                    });\n                //}\n            }\n        }\n    }\n    return null;\n    \n} catch (err) {\n        if(err.message){\n\t\t    // Trigger catch node\n            node.error(err.message, msg);\n        \n\t\t    // Log to console\n            node.error(err.message);\n        } else {\n            node.error(\"Prepare topic payload Error: \", err);\n        }\n}\n","outputs":1,"noerr":0,"x":451.10003662109375,"y":799,"wires":[["a8e9765a.ed8c28"]]},{"id":"44d3fbd3.be0d74","type":"postgrestor","z":"4b07c633.cfac78","name":"Query measurement type","query":"SELECT * FROM config_measurement_type;","postgresDB":"fa2a0cde.a660f","output":true,"outputs":1,"x":1108,"y":118,"wires":[["2a982672.4cb0ca"]]},{"id":"2a982672.4cb0ca","type":"function","z":"4b07c633.cfac78","name":"Set measurement type","func":"var _measurementType = {};\n\nfor(i=0; i<msg.payload.rows.length; i++){\n    _measurementType[msg.payload.rows[i].name] = msg.payload.rows[i].id;\n}\n\nmsg.measurementType = _measurementType;\n\nflow.set(\"measurementType\", _measurementType);\n\nreturn msg;\n//return null;","outputs":1,"noerr":0,"x":1347,"y":118,"wires":[[]]},{"id":"bdf1a4c7.55a848","type":"postgresDB","z":"","name":"@localhost:5432/hepwat","host":"localhost","port":"5432","database":"hepwat","ssl":false,"max":"100","min":1,"idle":"1000"},{"id":"b1387a75.a637c8","type":"mongodb","z":"","hostname":"localhost","port":"27017","db":"RobotFactoryDockerLogs","name":""},{"id":"905c1538.4faaa8","type":"postgresDB","z":"","name":"@localhost:5432/hepwat","host":"localhost","port":"5432","database":"hepwat","ssl":false,"max":"100","min":1,"idle":"1000"}]